<div class="card card-default vbox blockingDivHost">
    <div class="card-header">
        <rdf-resource style="flex: 1;" [resource]="resource"></rdf-resource>
        <button class="btn btn-xs btn-light" (click)="initDescription()" [title]="'ACTIONS.REFRESH'|translate">
            <span class="fas fa-redo"></span>
        </button>
    </div>
    <div class="card-body vbox">
        <ntriple-editor [(ngModel)]="description" (ngModelChange)="onDescriptionChange()" [disabled]="!editAuthorized || pendingValidation"></ntriple-editor>
    </div>
    <div class="card-footer" style="min-height: 31px;">
        <button class="btn btn-xs btn-light float-right" (click)="applyChanges()" [disabled]="!isApplyEnabled()">
            {{'ACTIONS.APPLY_CHANGES'|translate}}
            <span *ngIf="pendingValidation" class="fas fa-exclamation-triangle ml-1" [title]="'RESOURCE_VIEW.CODE_EDITOR.DISABLED_UNDER_VALIDATION'|translate"></span>
        </button>
    </div>

    <div #blockDiv class="blockingDiv" style="display:none">
        <div class="loadingDiv">
            <div>
                <p>Loading...</p><img src="./assets/images/loading.gif" />
            </div>
        </div>
    </div>

</div>