<div cdkDrag cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h3 class="modal-title">{{'SHEET2RDF.SETTINGS.S2RDF_SETTINGS'|translate}}</h3>
    </div>
    <div class="modal-body vbox scrollableContainer">

        <table class="table table-borderless table-sm">
            <colgroup>
                <col style="width: 1%;">
                <col>
            </colgroup>
            <tbody>
                <tr>
                    <td class="text-right" nowrap>
                        <label>{{'SHEET2RDF.SETTINGS.FS_NAMING'|translate}}:</label>
                        <span class="fas fa-info-circle" [title]="'SHEET2RDF.SETTINGS.FS_NAMING_INFO'|translate"></span>
                    </td>
                    <td>
                        <select class="form-control form-control-sm" [(ngModel)]="fsNamingStrategy">
                            <option *ngFor="let ns of fsNamingStrategies" [ngValue]="ns" [title]="ns.title">{{ns.show}}</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" (click)="ok()">Ok</button>
        <button class="btn btn-light btn-sm" (click)="cancel()">{{'ACTIONS.CANCEL'|translate}}</button>
    </div>
</div>