<div cdkDrag cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h3 class="modal-title">{{'SHEET2RDF.GRAPH_APPLICATIONS.SIMPLE.SIMPLE_GRAPH_APPL'|translate}}</h3>
    </div>
    <div class="modal-body vbox">

        <table class="table table-sm table-borderless">
            <colgroup>
                <col style="width: 1%;">
                <col>
            </colgroup>
            <tbody>

                <tr>
                    <td class="text-right"><label>{{'DATA.PROPERTY.PROPERTY'|translate}}:</label></td>
                    <td>
                        <div class="input-group">
                            <div class="form-control">
                                <rdf-resource *ngIf="property" [resource]="property"></rdf-resource>
                            </div>
                            <div class="input-group-append">
                                <button class="btn btn-light" (click)="changeProperty()">
                                    <img src="./assets/images/icons/res/prop.png">
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="text-right"><label>{{'SHEET2RDF.GRAPH_APPLICATIONS.SIMPLE.RANGE'|translate}}:</label></td>
                    <td>
                        <div class="form-control" readonly>
                            <ng-container *ngIf="rangeCollection?.length > 0">
                                <rdf-resource *ngFor="let c of rangeCollection" [resource]="c"></rdf-resource>
                            </ng-container>
                            <ng-container *ngIf="rangeCollection?.length == 0">
                                {{'SHEET2RDF.GRAPH_APPLICATIONS.SIMPLE.UNDETERMINED'|translate}}
                            </ng-container>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="text-right text-nowrap"><label>{{'SHEET2RDF.GRAPH_APPLICATIONS.SIMPLE.RANGE_TYPE'|translate}}:</label></td>
                    <td>
                        <select class="form-control" [(ngModel)]="selectedRangeType" [disabled]="!property">
                            <option *ngFor="let rt of rangeTypes" [ngValue]="rt">{{rt.show}}</option>
                        </select>
                    </td>
                </tr>
                    
                <tr *ngIf="selectedRangeType?.type == 'resource'">
                    <td class="text-right"><label>{{'COMMONS.TYPE'|translate}}:</label></td>
                    <td>
                        <div class="hbox" style="align-items: center;">
                            <div class="input-group" style="flex: 1;">
                                <select class="form-control" [(ngModel)]="assertedType" [disabled]="!assertType">
                                    <option *ngFor="let t of assertableTypes" [ngValue]="t">{{t.getShow()}}</option>
                                </select>
                                <div class="input-group-append">
                                    <button class="btn btn-light" (click)="addAssertedType()" [disabled]="!assertType">
                                        <img src="./assets/images/icons/res/class.png">
                                    </button>
                                </div>
                            </div>
                            <div class="form-check ml-2">
                                <input class="form-check-input" id="typeCheck" type="checkbox" [(ngModel)]="assertType">
                                <label class="form-check-label" for="typeCheck">
                                    {{'SHEET2RDF.HEADER_EDITOR.ASSERT_TYPE'|translate}}
                                    <span class="fas fa-info-circle ml-1" [title]="'SHEET2RDF.GRAPH_APPLICATIONS.SIMPLE.ASSERT_TYPE_INFO'|translate"></span>
                                </label>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr *ngIf="selectedRangeType?.type == 'literal'">
                    <td class="text-right"><label>{{'DATA.DATATYPE.DATATYPE'|translate}}:</label></td>
                    <td>
                        <datatype-picker [(ngModel)]="datatype" [allowedDatatypes]="allowedDatatypes"></datatype-picker>
                    </td>
                </tr>

                <tr>
                    <td class="text-right"><label>{{'SHEET2RDF.GRAPH_APPLICATIONS.SIMPLE.NODE'|translate}}:</label></td>
                    <td>
                        <div class="input-group">
                            <select class="form-control" [(ngModel)]="selectedNode" [disabled]="!isNodeSelectionEnabled()">
                                <option *ngFor="let n of availableNodes" [ngValue]="n">{{getNodeSerialization(n)}}</option>
                            </select>
                            <div class="input-group-append">
                                <button class="btn btn-light" (click)="addNode()" [disabled]="!isNodeSelectionEnabled()">
                                    <span class="fas fa-plus"></span>
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>


            </tbody>
        </table>

        <div *ngIf="selectedNode && getNodeNotCompliantError()" class="alert alert-danger" style="margin-top: 4px;">
            {{getNodeNotCompliantError()}}
        </div>
        
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!isOkEnabled()">Ok</button>
        <button class="btn btn-light btn-sm" (click)="cancel()">{{'ACTIONS.CANCEL'|translate}}</button>
    </div>
</div>