<!-- Node generated with literal converter -->
<div *ngIf="field?.getType() == 'literal';">
    <div [ngSwitch]="field.getAnnotations()[0]?.name">
        <div *ngSwitchCase="'DataOneOf'">
            <select class="form-control" [(ngModel)]="field.value" (ngModelChange)="onModelChanged()">
                <option *ngFor="let v of field.getAnnotations()[0].value">{{v.getNominalValue()}}</option>
            </select>
        </div>
        <!-- no annotations, or unknown/unhanlded annotation -->
        <div *ngSwitchDefault>
            <div [ngSwitch]="field.getDatatype()">
                <div *ngSwitchCase="'http://www.w3.org/2001/XMLSchema#string'">
                    <textarea type="text" rows="1" class="form-control" style="resize: vertical"
                        [(ngModel)]="field.value" (ngModelChange)="onModelChanged()"></textarea>
                </div>
                <div *ngSwitchCase="'http://www.w3.org/2001/XMLSchema#integer'">
                    <input class="form-control" [(ngModel)]="field.value" type="number" step="1"
                        (ngModelChange)="onModelChanged()">
                </div>
                <div *ngSwitchCase="'http://www.w3.org/2001/XMLSchema#float'">
                    <input class="form-control" [(ngModel)]="field.value" type="number" step="any"
                        (ngModelChange)="onModelChanged()">
                </div>
                <div *ngSwitchCase="'http://www.w3.org/2001/XMLSchema#boolean'" class="hbox">
                    <input class="form-control" [ngModel]="field.value" style="flex: 1"
                        (ngModelChange)="onModelChanged()" disabled>
                    <span class="hbox" style="align-items: center; margin-left: 10px; justify-content: center;">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" id="boolTrueCheck" type="radio" (click)="field.value='true'" [checked]="field.value=='true'">
                            <label class="form-check-label" for="boolTrueCheck">{{'COMMONS.BOOLEAN.TRUE'|translate}}</label>
                        </div>
                        <div class="form-check form-check-inline ml-3">
                            <input class="form-check-input" id="boolFalseCheck" type="radio" (click)="field.value='false'" [checked]="field.value=='false'">
                            <label class="form-check-label" for="boolFalseCheck">{{'COMMONS.BOOLEAN.FALSE'|translate}}</label>
                        </div>
                    </span>
                </div>
                <div *ngSwitchCase="'http://www.w3.org/2001/XMLSchema#date'" class="hbox">
                    <input class="form-control" [ngModel]="field.value" (ngModelChange)="onModelChanged()" disabled>
                    <input class="form-control" style="margin-left: 10px;" type="date" [(ngModel)]="field.value"> 
                </div>
                <div *ngSwitchCase="'http://www.w3.org/2001/XMLSchema#time'" class="hbox">
                    <input class="form-control" [ngModel]="field.value" (ngModelChange)="onModelChanged()" disabled>
                    <input class="form-control" style="margin-left: 10px;" type="time" [(ngModel)]="field.value"
                        (ngModelChange)="onModelChanged()">
                </div>
                <div *ngSwitchCase="'http://www.w3.org/2001/XMLSchema#datetime'" class="hbox">
                    <input class="form-control" [ngModel]="field.value" (ngModelChange)="onModelChanged()" disabled>
                    <input class="form-control" style="margin-left: 10px;" type="datetime-local"
                        [(ngModel)]="field.value" (ngModelChange)="onModelChanged()">
                </div>
                <div *ngSwitchDefault class="hbox" style="align-items: center;">
                    <textarea type="text" rows="1" class="form-control" style="flex:1; resize: vertical"
                        [(ngModel)]="field.value" (ngModelChange)="onModelChanged()"
                        (input)="onEntryValueChange($event.target.value)">
                    </textarea>
                    <span *ngIf="field.getLang()" style="margin-left: 4px;">
                        <!-- In case language is provided to the default literal convert, disable change to the picker -->
                        <lang-picker [ngModel]="field.getLang()" disabled="true">
                        </lang-picker>
                    </span>
                    <!-- coda:langString handler -->
                    <ng-container *ngIf="field.getConverter() == 'http://art.uniroma2.it/coda/contracts/langString' && field.getConverterArg()">
                        <lang-picker *ngIf="field.getConverterArg().ph" style="margin-left: 4px;" [ngModel]="field.getConverterArg().ph.value"
                            (ngModelChange)="onConverterLangChange($event, field.getConverterArg().ph)"
                            [config]="{ languages: field['oneOfLang']}">
                        </lang-picker>
                        <lang-picker *ngIf="field.getConverterArg().lang" style="margin-left: 4px;" [ngModel]="field.getConverterArg().lang"
                            disabled="true">
                        </lang-picker>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Node generated with uri converter -->
<div *ngIf="field?.getType() == 'uri'">
    <div [ngSwitch]="field.getAnnotations()[0]?.name">
        <div *ngSwitchCase="'ObjectOneOf'">
            <select class="form-control" [(ngModel)]="field.value" (ngModelChange)="onModelChanged()">
                <option *ngFor="let v of field.getAnnotations()[0].value">{{v.getNominalValue()}}</option>
            </select>
        </div>
        <div *ngSwitchCase="'Role'">
            <resource-picker (resourceChanged)="updateNodeField($event)"
                [config]="{ roles: field.getAnnotations()[0].value, allowLocal: !field.getAnnotation('Foreign'), allowRemote: true, projects: field.getAnnotation('Foreign')?.value }"
                editable="true">
            </resource-picker>
        </div>
        <div *ngSwitchCase="'Range'">
            <resource-picker (resourceChanged)="updateNodeField($event)" 
                [config]="{ roles: ['individual'], classes: field.getAnnotations()[0].value, allowLocal: !field.getAnnotation('Foreign'), allowRemote: true, projects: field.getAnnotation('Foreign')?.value }"
                editable="true">
            </resource-picker>
        </div>
        <div *ngSwitchCase="'RangeList'">
            <resource-picker (resourceChanged)="updateNodeField($event)" 
                [config]="{ roles: ['individual'], classes: field.getAnnotations()[0].value, allowLocal: !field.getAnnotation('Foreign'), allowRemote: true, projects: field.getAnnotation('Foreign')?.value }"
                editable="true">
            </resource-picker>
        </div>
        <div *ngSwitchCase="'Foreign'">
            <resource-picker (resourceChanged)="updateNodeField($event)" 
                [config]="{ allowLocal: false, allowRemote: true, projects: field.getAnnotations()[0].value }"
                editable="true">
            </resource-picker>
        </div>
        <!-- no annotations, or unknown/unhanlded annotation -->
        <div *ngSwitchDefault>
            <resource-picker (resourceChanged)="updateNodeField($event)" editable="true" 
                [config]="{ allowRemote: true }">
            </resource-picker>
        </div>
    </div>
</div>