<div class="groupPanel">
    <div class="groupPanel-heading">
        <div class="expandCollapseBtnContainer groupPanel-heading-content" style="margin: 0px">
            <img src="./assets/images/icons/arrow.png" (click)="partitionCollapsed = !partitionCollapsed"
                [ngClass]="{'arrow-right': partitionCollapsed}">
        </div>
        <span style="flex: 1">
            <label class="groupPanel-heading-content">{{labelTranslationKey|translate}}:</label>
        </span>
        <span class="groupPanel-heading-content groupPanel-add-btn dropdown float-right" ngbDropdown>
            <button class="dropdown-toggle resViewPartitionAddBtn" data-toggle="dropdown" ngbDropdownToggle [title]="addTitleTranslationKey|translate" [disabled]="addDisabled">
                <img [src]="addBtnImgSrc"/>
            </button>
            <div class="dropdown-menu" ngbDropdownMenu>
                <a class="dropdown-item" (click)="importFromWeb()">{{'METADATA.NAMESPACES_AND_IMPORTS.ACTIONS.ADD_IMPORT_FROM'|translate}} {{'METADATA.NAMESPACES_AND_IMPORTS.WEB'|translate}}</a>
                <a class="dropdown-item" (click)="importFromWebToMirror()">{{'METADATA.NAMESPACES_AND_IMPORTS.ACTIONS.ADD_IMPORT_FROM'|translate}} {{'METADATA.NAMESPACES_AND_IMPORTS.WEB_TO_MIRROR'|translate}}</a>
                <a class="dropdown-item" (click)="importFromLocalFile()">{{'METADATA.NAMESPACES_AND_IMPORTS.ACTIONS.ADD_IMPORT_FROM'|translate}} {{'METADATA.NAMESPACES_AND_IMPORTS.LOCAL_FILE'|translate}}</a>
                <a class="dropdown-item" (click)="importFromOntologyMirror()">{{'METADATA.NAMESPACES_AND_IMPORTS.ACTIONS.ADD_IMPORT_FROM'|translate}} {{'METADATA.NAMESPACES_AND_IMPORTS.ONTOLOGY_MIRROR'|translate}}</a>
                <a class="dropdown-item" (click)="importFromDatasetCatalog()">{{'METADATA.NAMESPACES_AND_IMPORTS.ACTIONS.ADD_IMPORT_FROM'|translate}} {{'METADATA.NAMESPACES_AND_IMPORTS.DATASET_CATALOG'|translate}}</a>
            </div>
        </span>
    </div>

    <div class="groupPanel-body">
        <ng-container *ngIf="!partitionCollapsed">
            <div class="card card-alt" *ngFor="let po of predicateObjectList" style="margin-bottom: 4px;">
                <div class="card-header">
                    <label style="flex: 1">{{po.getPredicate().getShow()}}</label>
                    <div class="btn-group float-right" ngbDropdown>
                        <button class="btn btn-xs btn-light dropdown-toggle predObjRenderPanelBtn" style="padding: 3px 6px;"
                            data-toggle="dropdown" ngbDropdownToggle [title]="addTitleTranslationKey|translate" [disabled]="addDisabled">
                            <span class="fas fa-plus" style="font-size: 9px;"></span>
                        </button>
                        <div class="dropdown-menu" ngbDropdownMenu>
                            <a class="dropdown-item" (click)="importFromWeb()">{{'METADATA.NAMESPACES_AND_IMPORTS.ACTIONS.ADD_IMPORT_FROM'|translate}} {{'METADATA.NAMESPACES_AND_IMPORTS.WEB'|translate}}</a>
                            <a class="dropdown-item" (click)="importFromWebToMirror()">{{'METADATA.NAMESPACES_AND_IMPORTS.ACTIONS.ADD_IMPORT_FROM'|translate}} {{'METADATA.NAMESPACES_AND_IMPORTS.WEB_TO_MIRROR'|translate}}</a>
                            <a class="dropdown-item" (click)="importFromLocalFile()">{{'METADATA.NAMESPACES_AND_IMPORTS.ACTIONS.ADD_IMPORT_FROM'|translate}} {{'METADATA.NAMESPACES_AND_IMPORTS.LOCAL_FILE'|translate}}</a>
                            <a class="dropdown-item" (click)="importFromOntologyMirror()">{{'METADATA.NAMESPACES_AND_IMPORTS.ACTIONS.ADD_IMPORT_FROM'|translate}} {{'METADATA.NAMESPACES_AND_IMPORTS.ONTOLOGY_MIRROR'|translate}}</a>
                            <a class="dropdown-item" (click)="importFromDatasetCatalog()">{{'METADATA.NAMESPACES_AND_IMPORTS.ACTIONS.ADD_IMPORT_FROM'|translate}} {{'METADATA.NAMESPACES_AND_IMPORTS.DATASET_CATALOG'|translate}}</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <ng-container *ngFor="let obj of po.getObjects()">
                        <resview-value-renderer
                            [subject]="resource" [predicate]="po.getPredicate()" [object]="obj" [rendering]="rendering" 
                            [readonly]="readonly" [partition]="partition"
                            (dblClick)="objectDblClick($event)"
                            (delete)="removePredicateObject(po.getPredicate(), obj)" 
                            (edit)="editHandler(po.getPredicate(), obj)" (update)="onObjectUpdate()">
                        </resview-value-renderer>
                    </ng-container>
                </div>
            </div>
        </ng-container>
    </div>
</div>