<div [class]="inputClass">
    
    <input *ngIf="type != 'select'" [type]="inputType" class="form-control" [(ngModel)]="value"
        [min]="min" [max]="max" [step]="step" [readonly]="!editInProgress" [disabled]="disabled">

    <!-- to show only if type == "select" and create a drop-down list with the items provided with "options" -->
    <select *ngIf="type == 'select'" [(ngModel)]="value" class="form-control" [disabled]="disabled || !editInProgress">
        <option *ngFor="let o of options" [value]="o">{{o}}</option>
    </select>

    <!-- Edit buttons -->
    <span class="input-group-append">
        <button *ngIf="!editInProgress" class="btn btn-light" type="button" style="width:36px;"
            (click)="edit()" [title]="'ACTIONS.EDIT'|translate" [disabled]="disabled">
            <span class="fas fa-pencil-alt"></span>
        </button>
        <button *ngIf="editInProgress" class="btn btn-light" type="button" style="width:18px; padding: 0px;"
            (click)="confirmEdit()" [title]="'ACTIONS.CONFIRM'|translate">
            <span class="fas fa-check" style="color: green"></span>
        </button>
        <button *ngIf="editInProgress" class="btn btn-light" type="button" style="width:18px; padding: 0px;"
            (click)="cancelEdit()" [title]="'ACTIONS.CANCEL'|translate">
            <span class="fas fa-times" style="color: red"></span>
        </button>
    </span>
</div>