<div class="card card-default">
    <div class="card-header">
        <label style="flex: 1">Resource view</label>
    </div>
    <div class="card-body">

        <div class="card card-default">
            <div class="card-body hbox">
                <div class="vbox" style="margin-right: 8px;">
                    <div class="d-flex align-items-center">
                        <label>{{'COMMONS.MODE'|translate}}:</label>
                        <select class="form-control ml-2" [(ngModel)]="resViewMode" (ngModelChange)="onResViewModeChange()">
                            <option value="splitted">Splitted</option>
                            <option value="tabbed">Tabbed</option>
                        </select>
                    </div>
                    <div class="alert alert-info mt-2">
                        <span *ngIf="resViewMode == 'tabbed'">
                            {{'RESOURCE_VIEW.SETTINGS.TABBED_INFO'|translate}}
                        </span>
                        <span *ngIf="resViewMode == 'splitted'">
                            {{'RESOURCE_VIEW.SETTINGS.SPLITTED_INFO.0'|translate}}<br>
                            <span class="fas fa-exclamation-triangle"></span> 
                            {{'RESOURCE_VIEW.SETTINGS.SPLITTED_INFO.1'|translate}}
                        </span>
                    </div>
                    <div *ngIf="resViewMode == 'tabbed'" class="form-check mt-2">
                        <input class="form-check-input" id="syncCheck" type="checkbox" [(ngModel)]="resViewTabSync" (ngModelChange)="onTabSyncChange()">
                        <label class="form-check-label" for="syncCheck">
                            {{'RESOURCE_VIEW.SETTINGS.SYNC_WITH_TREE_LIST'|translate}}
                            <span class="fas fa-exclamation-circle ml-1" [title]="'RESOURCE_VIEW.SETTINGS.SYNC_WITH_TREE_LIST_WARNING'|translate"></span>
                        </label>
                    </div>
                </div>
                <div>
                    <img *ngIf="resViewMode == 'tabbed'" src="./assets/images/res_view_tabbed.jpg" style="height: 100px;">
                    <img *ngIf="resViewMode == 'splitted'" src="./assets/images/res_view_splitted.jpg" style="height: 100px;">
                </div>
            </div>
        </div>

        <div *ngIf="rvConceptTypeSelectorAvailable" class="card card-default mt-2">
            <div class="card-body">
                <div class="hbox" style="align-items: center;">
                    <label style="white-space: nowrap;">
                        {{'RESOURCE_VIEW.SETTINGS.INITIAL_VIEW_FOR_CONCEPTS'|translate}}:
                        <span class="fas fa-info-circle ml-1" [title]="'RESOURCE_VIEW.SETTINGS.INITIAL_VIEW_FOR_CONCEPTS_INFO'|translate"></span>
                    </label>
                    <select class="form-control ml-2" [(ngModel)]="selectedRvConceptType" (ngModelChange)="onResViewConceptTypeChange()">
                        <option *ngFor="let t of rvConceptTypes" [ngValue]="t">{{t.showTranslationKey|translate}}</option>
                    </select>
                </div>
                <div class="alert alert-info mt-2">
                    {{selectedRvConceptType.descrTranslationKey|translate}}
                </div>
            </div>
        </div>

        <div *ngIf="rvLexEntryTypeSelectorAvailable" class="card card-default mt-2">
            <div class="card-body">
                <div class="hbox" style="align-items: center;">
                    <label style="white-space: nowrap;">
                        {{'RESOURCE_VIEW.SETTINGS.INITIAL_VIEW_FOR_LEXENTRY'|translate}}:
                        <span class="fas fa-info-circle ml-1" [title]="'RESOURCE_VIEW.SETTINGS.INITIAL_VIEW_FOR_LEXENTRY_INFO'|translate"></span>
                    </label>
                    <select class="form-control ml-2" [(ngModel)]="selectedRvLexEntryType" (ngModelChange)="onResViewLexEntryTypeChange()">
                        <option *ngFor="let t of rvLexEntryTypes" [ngValue]="t">{{t.showTranslationKey|translate}}</option>
                    </select>
                </div>
                <div class="alert alert-info mt-2">
                    {{selectedRvLexEntryType.descrTranslationKey|translate}}
                </div>
            </div>
        </div>

        <div class="card card-default mt-2">
            <div class="card-body">
                <div class="form-check">
                    <input class="form-check-input" id="imageCheck" type="checkbox" [(ngModel)]="displayImg" (ngModelChange)="onDisplayImgChange()">
                    <label class="form-check-label" for="imageCheck">
                        {{'RESOURCE_VIEW.SETTINGS.DISPLAY_IMAGES'|translate}}
                        <span class="fas fa-info-circle ml-1" [title]="'RESOURCE_VIEW.SETTINGS.DISPLAY_IMAGES_INFO'|translate"></span>
                    </label>
                </div>
            </div>
        </div>

        <div class="card card-default mt-2">
            <div class="card-body">
                <div class="form-check">
                    <input class="form-check-input" id="deprecatedCheck" type="checkbox" [(ngModel)]="showDeprecated" (ngModelChange)="onShowDeprecatedChange()">
                    <label class="form-check-label" for="deprecatedCheck">
                        {{'RESOURCE_VIEW.SETTINGS.SHOW_DEPRECATED'|translate}}
                        <span class="fas fa-info-circle ml-1" [title]="'RESOURCE_VIEW.SETTINGS.SHOW_DEPRECATED_INFO'|translate"></span>
                    </label>
                </div>
            </div>
        </div>

        <div class="card card-default mt-2">
            <div class="card-body">
                <div class="form-check">
                    <input class="form-check-input" id="badgeCheck" type="checkbox" [(ngModel)]="showDatatypeBadge" (ngModelChange)="onShowDatatypeBadge()">
                    <label class="form-check-label" for="badgeCheck">
                        {{'RESOURCE_VIEW.SETTINGS.SHOW_DATATYPE_BADGE'|translate}}
                        <span class="fas fa-info-circle ml-1" [title]="'RESOURCE_VIEW.SETTINGS.SHOW_DATATYPE_BADGE_INFO'|translate"></span>
                    </label>
                </div>
            </div>
        </div>

    </div>
</div>