<div class="card card-default vbox">
    <div class="card-header">
        <label>{{'PREFERENCES.VB_PREFS'|translate}}</label>
    </div>

    <div class="card-body scrollableContainer">

        <res-view-pref></res-view-pref>

        <div style="margin-top: 6px;">
            <div class="hbox" style="max-height: 800px;">
                
                <lang-pref style="flex: 1"></lang-pref>

                <div class="card card-default vbox" style="flex: 1; margin-left: 6px;">
                    <div class="card-header">
                        <label>{{'NOTIFICATIONS.NOTIFICATIONS'|translate}}</label>
                    </div>
                    <div class="card-body vbox">
                        <notifications-pref></notifications-pref>
                    </div>
                </div>

            </div>
        </div>

        <div class="card card-default" style="margin-top: 6px;">
            <div class="card-header">
                <label style="flex: 1">{{'PREFERENCES.OTHER.OTHER_PREFS'|translate}}</label>
            </div>
            <div class="card-body scrollableContainer">

                <div class="card card-default" style="padding: 4px; margin-bottom: 2px">
                    <div class="card-body">
                        <div class="form-check">
                            <input class="form-check-input" id="flagCheck" type="checkbox" [(ngModel)]="showFlags" (ngModelChange)="onShowFlagChange()">
                            <label class="form-check-label" for="flagCheck">
                                {{'PREFERENCES.OTHER.SHOW_FLAGS'|translate}}
                                <span class="fas fa-info-circle" [title]="'PREFERENCES.OTHER.SHOW_FLAGS_INFO'|translate"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="card card-default" style="padding: 4px; margin-bottom: 2px">
                    <div class="card-body">
                        <label>
                            {{'PREFERENCES.OTHER.PROJECT_THEME'|translate}}
                            <span class="fas fa-info-circle" [title]="'PREFERENCES.OTHER.PROJECT_THEME_INFO'|translate"></span>
                        </label>
                        <div *ngFor="let t of themes; let i=index" class="form-check form-check-inline ml-3">
                            <input class="form-check-input" [id]="'themeCheck'+i" type="checkbox" [checked]="t == selectedTheme" (click)="changeTheme(t)">
                            <label class="form-check-label" [for]="'themeCheck'+i">
                                <div class="d-flex" style="border: 1px solid black;">
                                    <div style="width: 12px; height: 12px;" [class]="'bg-theme-' + t"></div>
                                    <div style="width: 12px; height: 12px;" [class]="'bg-theme-alt-' + t"></div>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>