<div class="card card-default vbox" style="position: relative">
    <div class="card-header">
        <label style="flex: 1;">{{'ICV.STRUCTURAL.DANGLING_CONCEPTS.NAME'|translate}}</label>
        <span>{{'DATA.SCHEME.SCHEME'|translate}}:</span>
        <select class="form-control form-control-sm ml-1" style="width: initial;" [(ngModel)]="selectedScheme">
            <option [ngValue]="null" style="font-style: italic">{{'ICV.STRUCTURAL.DANGLING_CONCEPTS.ALL_SCHEMES'|translate}}</option>
            <option *ngFor="let s of schemeList" [ngValue]="s">{{s.getShow()}}</option>
        </select>
        <button class="btn btn-xs btn-light ml-3" (click)="runIcv()">{{'ACTIONS.RUN'|translate}}</button>
    </div>
    <div class="card-body vbox">
        
        <div *ngIf="!brokenConceptList && !brokenConceptMap" style="padding: 4px;">
            {{'ICV.PRESS_RUN_TO_RUN_CHECK.0'|translate}} <strong>{{'ACTIONS.RUN'|translate}}</strong> {{'ICV.PRESS_RUN_TO_RUN_CHECK.1'|translate}}
        </div>

        <div *ngIf="brokenConceptList" class="scrollableContainer">
            <table class="table table-sm table-hoverable" style="flex: 1;">
                <thead>
                    <tr>
                        <th class="text-center">{{'DATA.CONCEPT.CONCEPT'|translate}}</th>
                        <th class="text-center" style="width: 1%">{{'ACTIONS.ACTION'|translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let concept of brokenConceptList">
                        <td>
                            <rdf-resource class="clickable" [resource]="concept" (click)="onResourceClick(concept)"></rdf-resource>
                        </td>
                        <td style="white-space: nowrap">
                            <button class="btn btn-xs btn-light" (click)="selectBroader(concept, selectedScheme)">{{'ICV.STRUCTURAL.DANGLING_CONCEPTS.SELECT_BROADER'|translate}}</button>
                            <button class="btn btn-xs btn-light ml-1" (click)="setAsTopConcept(concept, selectedScheme)">{{'DATA.ACTIONS.SET_AS_TOP_CONCEPT'|translate}}</button>
                            <button class="btn btn-xs btn-light ml-1" (click)="removeFromScheme(concept, selectedScheme)">{{'DATA.ACTIONS.REMOVE_FROM_SCHEME'|translate}}</button>
                            <button class="btn btn-xs btn-light ml-1" (click)="deleteConcept(concept)">{{'DATA.ACTIONS.DELETE_CONCEPT'|translate}}</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div *ngIf="brokenConceptMap" class="scrollableContainer">
            <table class="table table-sm" style="flex: 1;">
                <thead>
                    <tr>
                        <th class="text-center">{{'DATA.SCHEME.SCHEME'|translate}}</th>
                        <th class="text-center">{{'DATA.CONCEPT.CONCEPT'|translate}}</th>
                        <th class="text-center" style="width: 1%">{{'ACTIONS.ACTION'|translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let entry of brokenConceptMap">
                        <tr *ngFor="let concept of entry.concepts; let idx = index">
                            <td *ngIf="idx == 0" [attr.rowspan]="entry.concepts.length">
                                <rdf-resource class="clickable" [resource]="entry.scheme" (click)="onResourceClick(entry.scheme)"></rdf-resource>
                            </td>
                            <td>
                                <rdf-resource class="clickable" [resource]="concept" (click)="onResourceClick(concept)"></rdf-resource>
                            </td>
                            <td style="white-space: nowrap">
                                <button class="btn btn-xs btn-light" (click)="selectBroader(concept, entry.scheme)">{{'ICV.STRUCTURAL.DANGLING_CONCEPTS.SELECT_BROADER'|translate}}</button>
                                <button class="btn btn-xs btn-light ml-1" (click)="setAsTopConcept(concept, entry.scheme)">{{'DATA.ACTIONS.SET_AS_TOP_CONCEPT'|translate}}</button>
                                <button class="btn btn-xs btn-light ml-1" (click)="removeFromScheme(concept, entry.scheme)">{{'DATA.ACTIONS.REMOVE_FROM_SCHEME'|translate}}</button>
                                <button class="btn btn-xs btn-light ml-1" (click)="deleteConcept(concept)">{{'DATA.ACTIONS.DELETE_CONCEPT'|translate}}</button>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
    <div *ngIf="brokenConceptList && brokenConceptList.length != 0" class="card-footer">
        <div class="dropup" ngbDropdown>
            <button class="btn btn-light dropdown-toggle btn-xs" type="button" data-toggle="dropdown" ngbDropdownToggle>
                {{'ICV.QUICK_ACTION'|translate}}
                <span class="fas fa-caret-up fa-sm"></span>
            </button>
            <div class="dropdown-menu" ngbDropdownMenu>
                <a class="dropdown-item" (click)="setAllTopConcept()" style="cursor: pointer;">{{'ICV.STRUCTURAL.DANGLING_CONCEPTS.SET_ALL_AS_TOP'|translate}}</a>
                <a class="dropdown-item" (click)="selectBroaderForAll()" style="cursor: pointer;">{{'ICV.STRUCTURAL.DANGLING_CONCEPTS.SELECT_BROADER_FOR_ALL'|translate}}</a>
                <a class="dropdown-item" (click)="removeAllFromScheme()" style="cursor: pointer;">{{'ICV.STRUCTURAL.DANGLING_CONCEPTS.REMOVE_ALL_FROM_SCHEME'|translate}}</a>
                <a class="dropdown-item" (click)="deleteAll()" style="cursor: pointer;">{{'ACTIONS.DELETE_ALL'|translate}}</a>
            </div>
        </div>
    </div>
    
    <div id="blockDivIcv" class="blockingDiv" style="display:none">
        <div class="loadingDiv">
            <div>
                <p>Loading...</p><img src="./assets/images/loading.gif" />
            </div>
        </div>
    </div>
    
</div>