<div cdkDrag cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h3 class="modal-title">{{'USERS.PASSWORD.CHANGE_PASSWORD'|translate}}</h3>
    </div>
    <div class="modal-body">

        <div class="alert alert-warning" [innerHTML]="'ADMINISTRATION.USERS.FORCE_PASSWORD_WARNING'|translate:translationParam">
        </div>

        <div class="hbox" style="align-items: center; margin-top: 4px;">
            <label style="margin-right: 4px;">{{'USERS.PASSWORD.NEW_PASSWORD'|translate}}:</label>
            <input type="password" class="form-control form-control-sm" style="flex: 1;" [(ngModel)]="password">
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!isInputValid()">Ok</button>
        <button class="btn btn-light btn-sm" (click)="cancel()">{{'ACTIONS.CANCEL'|translate}}</button>
    </div>
</div>