<div class="vbox">

     <div class="card card-default vbox">

        <div class="card-body hbox"> 

            <div class="card card-default vbox" style="flex: 2;">
                <div class="card-header">
                    <label style="flex: 1;">{{'COMMONS.USERS'|translate}}:</label>
                    <div class="float-right">
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group btn-group-xs">
                                <button #actBtn class="btn btn-light" [ngClass]="{active: showActive}" (click)="showActive = !showActive"
                                    [title]="'ADMINISTRATION.ACTIONS.SHOW_HIDE_ACTIVE_USER'|translate" (mouseup)="actBtn.blur()">{{'STATUS.ACTIVE'|translate}}
                                </button>
                                <button #inactBtn class="btn btn-light" [ngClass]="{active: showInactive}" (click)="showInactive = !showInactive"
                                    [title]="'ADMINISTRATION.ACTIONS.SHOW_HIDE_INACTIVE_USER'|translate" (mouseup)="inactBtn.blur()">{{'STATUS.INACTIVE'|translate}}
                                </button>
                                <button #newBtn class="btn btn-light" [ngClass]="{active: showNew}" (click)="showNew = !showNew"
                                    [title]="'ADMINISTRATION.ACTIONS.SHOW_HIDE_NEW_USER'|translate" (mouseup)="newBtn.blur()">{{'STATUS.NEW'|translate}}
                                </button>
                            </div>
                            <div class="btn-group btn-group-xs">
                                <button class="btn btn-light" (click)="createUser()" [title]="'ACTIONS.CREATE'|translate">
                                    <span class="fas fa-plus"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body vbox" style="padding: 0px;">
                    <div class="scrollableContainer">
                        <ng-container *ngFor="let u of users">
                            <div *ngIf="isUserVisible(u)" class="listItem" [ngClass]="{active: u == selectedUser}" (click)="selectUser(u)">
                                <span style="flex: 1">{{u.getShow()}} <span class="grayText">&nbsp;({{u.getEmail()}})</span></span>
                                <span *ngIf="u.isAdmin()" class="fas fa-wrench" style="color: gray; margin-right: 2px;" [title]="'ADMINISTRATION.USERS.ADMINISTRATOR'|translate"></span>
                                <span *ngIf="u.getStatus() == 'NEW'" class="fas fa-exclamation-circle inactive" [title]="'STATUS.NEW'|translate"></span>
                                <span *ngIf="u.getStatus() == 'INACTIVE'" class="fas fa-ban inactive" [title]="'STATUS.INACTIVE'|translate"></span>
                                <span *ngIf="u.getStatus() == 'ACTIVE'" class="fas fa-user" 
                                    [ngClass]="{ online: u.isOnline(), offline: !u.isOnline()}" [title]="u.isOnline() ? 'Online' : 'Offline'">
                                </span>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>

            <div *ngIf="selectedUser" class="vbox" style="flex: 5; margin-left: 5px;">
                <div class="btn-group float-right" style="align-self: flex-end; margin-bottom: 4px;">
                    <button *ngFor="let selector of aspectSelectors" class="btn btn-light" [ngClass]="{active: selectedAspectSelector == selector}"
                        (click)="selectedAspectSelector = selector">{{selector}}</button>
                </div>

                <div class="card card-default vbox" *ngIf="selectedAspectSelector == userDetailsAspect">
                    <div class="card-body vbox">
                        <user-details-panel [user]="selectedUser" (deleted)="initUserList()">
                        </user-details-panel>
                        <div class="card card-default" style="margin-top: 8px">
                            <div class="card-body hbox" style="align-items: center;">
                                <label>{{'ADMINISTRATION.USERS.ASSIGNED_TO_PROJECTS'|translate}}:</label>
                                <div class="hbox tile-group" style="align-items: center; margin-left: 6px; flex-wrap: nowrap; overflow: auto;">
                                    <span *ngIf="selectedUser.isAdmin(); else notAdminBlock" style="margin-left: 4px;">
                                        {{'ADMINISTRATION.USERS.ADMIN_ASSIGNED_PROJECTS_INFO'|translate}}
                                    </span>
                                    <ng-template #notAdminBlock>
                                        <span *ngFor="let p of userProjects" class="tile">{{p}}</span>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <user-details-panel *ngIf="selectedAspectSelector == userDetailsAspect" [user]="selectedUser" (deleted)="initUserList()">
                </user-details-panel> -->

                <div class="card card-default vbox" *ngIf="selectedAspectSelector == rvTemplateAspect">
                    <div class="card-header">
                        <label style="flex: 1;">Template</label>
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group btn-group-xs">
                                <button class="btn btn-light" (click)="storeTemplate()" [title]="'ACTIONS.STORE'|translate">
                                    <span class="fas fa-download"></span>
                                </button>
                                <button class="btn btn-light" (click)="loadTemplate()" [title]="'ACTIONS.LOAD'|translate">
                                    <span class="fas fa-upload"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body vbox">
                        <div class="alert alert-info mb-2" [innerHTML]="'ADMINISTRATION.USERS.TEMPLATE_INFO'|translate"></div>
                        <partition-filter-editor [(ngModel)]="userTemplate" (ngModelChange)="updateTemplate()"></partition-filter-editor>
                    </div>
                </div>
                
            </div>

         </div>

    </div> 

</div>