<div class="card card-default vbox">
    <div class="card-header">
        <label style="flex: 1;">{{'ADMINISTRATION.USERS.USER_DETAILS'|translate}}:</label>
        <div *ngIf="user" class="btn-toolbar">
            <button type="button" class="btn btn-xs btn-light" (click)="changeAdministratorStatus()"
                [ngClass]="{'active online': user.isAdmin()}" [disabled]="isChangeAdminButtonDisabled()"
                [title]="user.isAdmin() ? 'Revoke administrator authority' : 'Grant administrator authority'">
                {{'ADMINISTRATION.USERS.ADMINISTRATOR'|translate}}
            </button>
            <div class="btn-group btn-group-xs" role="group">
                <button type="button" class="btn btn-light" (click)="changeUserStatus()"
                    [ngClass]="{'active': isUserActive()}" style="color: green" [disabled]="isChangeStatusButtonDisabled()">
                    {{'STATUS.ACTIVE'|translate}}
                </button>
                <button type="button" class="btn btn-light" (click)="changeUserStatus()"
                    [ngClass]="{'active': !isUserActive()}" style="color: red" [disabled]="isChangeStatusButtonDisabled()">
                    {{'STATUS.INACTIVE'|translate}}
                </button>
            </div>
        </div>
    </div>
    <div class="card-body vbox">
        <user-details *ngIf="user" [user]="user" [readonly]="true"></user-details>
    </div>
    <div class="card-footer" *ngIf="user">
        <button class="btn btn-light btn-xs" (click)="changePassword()" [disabled]="isChangePwdButtonDisabled()">
            {{'USERS.PASSWORD.CHANGE_PASSWORD'|translate}}
        </button>
        <button class="btn btn-light btn-xs float-right" (click)="deleteUser()" [disabled]="isDeleteButtonDisabled()">
            {{'ACTIONS.DELETE'|translate}}
        </button>
    </div>
</div>