<div cdkDrag cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h3 class="modal-title">
            {{title}}
        </h3>
    </div>
    <div class="modal-body vbox">

        <div class="scrollableContainer">
            <table class="table table-sm table-borderless table-hoverable">
                <colgroup>
                    <col style="width: 1%;">
                    <col>
                </colgroup>
                <tbody>
                    <tr *ngFor="let p of mapKeys">
                        <td nowrap>
                            <label>{{p}}:</label>
                        </td>
                        <td>
                            <input type="text" class="form-control" [(ngModel)]="props[p]">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!isOkClickable()">Ok</button>
        <button class="btn btn-light btn-sm" (click)="cancel()">{{'ACTIONS.CANCEL'|translate}}</button>
    </div>
</div>