<div cdkDrag cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h3 class="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body">

        <div class="hbox" style="align-items: center;">
            <label *ngIf="label" style="margin-right: 4px;">{{label}}:</label>
            <div class="col-sm-12">
                <div class="input-group">
                    <ng-container *ngIf="namespaceLocked">
                        <span class="input-group-prepend">
                            <span class="input-group-text">{{prefix}}</span>
                        </span>
                        <input ngbAutofocus type="text" class="form-control" [(ngModel)]="prefixedTxt"
                            (keydown.enter)="onEnter()" [sanitized]="inputSanitized">
                    </ng-container>
                    
                    <ng-container *ngIf="!namespaceLocked">
                        <input ngbAutofocus type="text" class="form-control" [(ngModel)]="expandedTxt"
                            (keydown.enter)="onEnter()" [sanitized]="inputSanitized">
                    </ng-container>
                    
                    <div *ngIf="prefixEditable" class="input-group-append">
                        <button class="btn btn-light" style="width:30px; padding: 1px 3px;" (click)="unlockNamespace()"
                            [title]="'ACTIONS.LOCK_UNLOCK_NAMESPACE'|translate" [ngClass]="{active: namespaceLocked}">
                            <span class="fas fa-lock" style="font-size: 10px;"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="!isInputValid() && !inputOptional && submitted" class="alert alert-danger">
            <strong>{{label}}</strong> is required
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!inputOptional && !isInputValid()">Ok</button>
        <button *ngIf="!hideNo" class="btn btn-light btn-sm" (click)="cancel()">{{'ACTIONS.CANCEL'|translate}}</button>
    </div>
</div>