<div *ngIf="queryResult != null" class="vbox">
    <div class="table-responsive vbox" style="border: 1px solid #ddd; padding: 4px;">
        <table class="table table-striped table-sm table-hoverable" style="flex: 1">
            <thead>
                <tr>
                    <th *ngFor="let h of headers" style="white-space: nowrap">
                        {{h}}
                        <button *ngIf="resultType != 'boolean'" class="btn btn-xs btn-light" [ngSwitch]="sortOrder" (click)="sortResult(h)">
                            <span class="fas fa-sort-alpha-down" *ngSwitchCase="h+asc_Order" ></span>
                            <span class="fas fa-sort-alpha-down-alt" *ngSwitchCase="h+desc_Order"></span>
                            <span class="fas fa-sort" *ngSwitchDefault></span>
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody style="overflow: auto;">
                <ng-container *ngIf="resultType != 'boolean'">
                    <ng-container *ngFor="let bindings of queryResult; let i=index">
                        <ng-container *ngIf="i >= resultsPage*resultsLimit && i < resultsPage*resultsLimit + resultsLimit"> <!-- paging filter -->
                            <tr>
                                <td *ngFor="let h of headers">
                                    <span *ngIf="bindings[h]" [ngClass]="{ clickable: isBindingResource(bindings[h]) }" style="white-space: pre-wrap;" (click)="onBindingClick(bindings[h])">{{getBindingShow(bindings[h])}}</span>
                                </td>
                            </tr>
                        </ng-container>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="resultType == 'boolean'">
                    <tr>
                        <td>
                            {{queryResult}}
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>

    <div class="mt-2">
        <span *ngIf="queryResult != null && resultType != 'boolean'">
            {{'SPARQL.RESULTS.RESULTS_COUNT'|translate}}: {{queryResult.length}}
        </span>
        <div class="hbox ml-2" style="align-items: center; display: inline-flex; margin-left: 6px;">
            <div class="dropdown ml-2" ngbDropdown>
                <button class="btn btn-light dropdown-toggle btn-xs" data-toggle="dropdown" ngbDropdownToggle
                    [disabled]="queryResult == null || resultType == 'boolean'">
                    {{'SPARQL.RESULTS.SAVE_RESULTS_AS'|translate}}... <span class="fas fa-caret-down fa-sm"></span>
                </button>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <a class="dropdown-item" (click)="exportAsJSON()">Json</a>
                    <a class="dropdown-item" (click)="exportAsCSV()">CSV</a>
                    <a class="dropdown-item" (click)="exportAsTSV()">TSV</a>
                    <a class="dropdown-item" (click)="exportAsSpradsheet('xlsx')">XLSX (Microsoft spreadsheet)</a>
                    <a class="dropdown-item" (click)="exportAsSpradsheet('ods')">ODS (OpenDocument spreadsheet)</a>
                    <a *ngIf="resultType=='graph'" class="dropdown-item" (click)="exportAsRdf()">RDF format...</a>
                </div>
            </div>
        </div>
        <button *ngIf="isOpenGraphEnabled()" class="btn btn-xs btn-light ml-2" (click)="openGraph()">
            <img src="./assets/images/icons/res/ontology.png" [title]="'SPARQL.RESULTS.SHOW_RESULTS_AS_GRAPH'|translate" width="11px">
        </button>
        <div class="btn-group btn-group-xs float-right">
            <button class="btn btn-light" [title]="'COMMONS.PAGING.PREV_PAGE'|translate" (click)="resultsPage=resultsPage-1" [disabled]="resultsPage==0">
                <span class="fas fa-caret-left"></span>
            </button>
            <button class="btn btn-light" style="cursor: auto" disabled>
                <span>{{resultsPage+1}} {{'COMMONS.PAGING.PAGE_OF_TOT'|translate}} {{resultsTotPage}}</span>
            </button>
            <button class="btn btn-light" [title]="'COMMONS.PAGING.NEXT_PAGE'|translate" (click)="resultsPage=resultsPage+1" [disabled]="resultsPage>=resultsTotPage-1">
                <span class="fas fa-caret-right"></span>
            </button>
        </div>
    </div>

</div>