<div class="vbox">

    <!--Tabs navigation-->
    <ul class="nav nav-tabs" (click)="$event.preventDefault()">
        <li *ngFor="let t of tabs" class="nav-item" [ngClass]="{active : t.active}">
            <a href class="nav-link" (click)="selectTab(t)">
                <span *ngIf="t.type=='query'" class="badge badge-primary" title="Query">Q</span>
                <span *ngIf="t.type=='parameterization'" class="badge badge-info" [title]="'SPARQL.QUERY.PARAMETERIZED_QUERY'|translate">P</span>
                <span>
                    {{t.name}}
                    <span *ngIf="!t.saved">*</span>
                </span>
                <span *ngIf="tabs.length > 1" class="far fa-times-circle ml-1" (click)="closeTab(t)" style="cursor: pointer"
                    onmouseover="this.className='fas fa-times-circle';" onmouseout="this.className='far fa-times-circle';">
                </span>
            </a>
        </li>

        <li [ngStyle]="{ 'cursor': tabs.length>= tabLimit ? 'not-allowed' : 'pointer' }">
            <div class="btn-group btn-group-xs" ngbDropdown>
                <button #addBtn class="btn btn-light addQueryBtn" (click)="addQueryTab()" (mouseup)="addBtn.blur()" [disabled]="tabs.length>=tabLimit">+</button>
                <button type="button" class="btn btn-light addQueryBtn dropdown-toggle" style="padding: 4px;" data-toggle="dropdown" ngbDropdownToggle [disabled]="tabs.length>=tabLimit">
                    <span class="fas fa-caret-down fa-sm"></span>
                </button>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <a class="dropdown-item" (click)="addQueryTab()">{{'SPARQL.QUERY.ADD_QUERY_TAB'|translate}}</a>
                    <a class="dropdown-item" (click)="addParameterizationTab()">{{'SPARQL.QUERY.ADD_PARAMETERIZED_QUERY_TAB'|translate}}</a>
                </div>
              </div>
        </li>

    </ul>
    <!--Tabs content-->
    <div class="tab-content">
        <div *ngFor="let t of tabs" [ngClass]="{vbox : t.active}" [hidden]="!t.active">
            <sparql-tab *ngIf="t.type=='query'" class="vbox" (updateName)="t.name=$event" (savedStatus)="t.saved=$event"></sparql-tab>
            <sparql-tab-param *ngIf="t.type=='parameterization'" class="vbox" (updateName)="t.name=$event"  (savedStatus)="t.saved=$event"></sparql-tab-param>
        </div>
    </div>
    
</div>