<div *ngIf="!readonly" class="form-check mb-2">
    <input class="form-check-input" id="fetchCheck" type="checkbox" [(ngModel)]="fetchFromPrefixCheck" (change)="onCheckboxChange()">
    <label class="form-check-label" for="fetchCheck">{{'SPARQL.QUERY.FETCH_FROM_PREFIXCC'|translate}}</label>
</div>
<div style="position: relative" class="vbox" [ngClass]="{ 'yasqe-hide-btns' : hideButtons }">
    <textarea #txtarea [ngClass]="{disabled: readonly}">{{query}}</textarea>
    <div *ngIf="!hideButtons" style="position: absolute; top: 9px; right: 46px; z-index: 5; opacity: 0.7">        
        <a href="http://about.yasgui.org/" target="_blank" class="btn btn-info btn-xs">YASGUI</a>
    </div>
</div>