<div class="card card-default vbox blockingDivHost">
    <div class="card-header">
        <label style="flex: 1;">{{'SKOS_DIFF.SKOS_DIFFING_TASKS'|translate}}</label>

        <div class="btn-group btn-group-xs">
            <button class="btn btn-light" (click)="createTask()" [title]="'ACTIONS.CREATE'|translate" [disabled]="serverDown">
                <span class="fas fa-plus"></span>
            </button>
            <button class="btn btn-sm btn-light" (click)="deleteTask()" [title]="'ACTIONS.DELETE'|translate" [disabled]="!selectedTask || serverDown">
                <span class="fas fa-minus"></span>
            </button>
        </div>

        <div style="display: inline-block; margin-left: 5px;">
            <div class="input-group">
                <select class="form-control" [(ngModel)]="selectedResultFormat">
                    <option *ngFor="let f of resultFormats" [ngValue]="f">{{f | uppercase}}</option>
                </select>
                <span class="input-group-append">
                    <button class="btn btn-light" (click)="downloadTaskResult()" [title]="'SKOS_DIFF.DOWNLOAD_TASK_RESULT'|translate" [disabled]="!selectedTask || serverDown">
                        <span class="fas fa-download"></span>
                    </button>
                </span>
            </div>
        </div>

        <button class="btn btn-xs btn-light" style="margin-left: 5px;" (click)="listTasks()" [title]="'ACTIONS.REFRESH'|translate">
            <span class="fas fa-redo"></span>
        </button>
        <!-- <button *ngIf="isSettingsAuthorized" class="btn btn-xs btn-light" style="margin-left: 5px;" (click)="settings()" [title]="'COMMONS.SETTINGS'|translate">
            <span class="fas fa-cog"></span>
        </button> -->
    </div>
    <div class="card-body">
        <table class="table table-sm table-hoverable">
            <thead>
                <tr>
                    <th>{{'SKOS_DIFF.LEFT_DATASET'|translate}}</th>
                    <th>{{'SKOS_DIFF.RIGHT_DATASET'|translate}}</th>
                    <th>{{'STATUS.STATUS'|translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let task of tasks" [ngClass]="{ 'table-primary': selectedTask == task }" (click)="selectTask(task)">
                    <td>
                        {{task.leftDataset.projectName}}
                        <span *ngIf="task.leftDataset.versionId" class="text-muted ml-2">({{'SKOS_DIFF.VERSION'|translate}}: {{task.leftDataset.versionId}})</span>
                    </td>
                    <td>
                        {{task.rightDataset.projectName}}
                        <span *ngIf="task.rightDataset.versionId" class="text-muted ml-2">({{'SKOS_DIFF.VERSION'|translate}}: {{task.rightDataset.versionId}})</span>
                    </td>
                    <td>
                        {{task.status}}
                        <span *ngIf="task.executionTime" class="text-muted ml-2">(in: {{task.executionTime}})</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div #blockingDiv class="blockingDiv" style="display:none">
        <div class="loadingDiv">
            <div>
                <p>Loading...</p><img src="./assets/images/loading.gif" />
            </div>
        </div>
    </div>

</div>