<div class="card card-default vbox">
    <div class="card-body vbox">

        <div #scrollableContainer class="scrollableContainer" (scroll)="onScroll()">
            <ng-container *ngFor="let n of list; let idx=index">
                <translationset-list-node *ngIf="idx < nodeLimit && (!n.isDeprecated() || showDeprecated && n.isDeprecated())"
                    [node]="n" [rendering]="rendering" [multiselection]="multiselection" [showDeprecated]="showDeprecated" [context]="context" [projectCtx]="projectCtx"
                    (nodeSelected)="onNodeSelected($event)" (nodeChecked)="onNodeChecked($event)">
                </translationset-list-node>
            </ng-container>
        </div>

        <div #blockDivList class="blockingDiv" style="display:none">
            <div class="loadingDiv">
                <div>
                    <p>Loading...</p><img src="./assets/images/loading.gif" />
                </div>
            </div>
        </div>

    </div>
</div>