<div class="card card-default vbox">
    <div class="card-body vbox">

        <div #scrollableContainer class="scrollableContainer" (scroll)="onScroll()">
            <ng-container *ngFor="let n of list; let idx=index">
                <div *ngIf="idx < nodeLimit && (!n.isDeprecated() || showDeprecated && n.isDeprecated())">
                    <div class="listNodeItem">
                        <input *ngIf="context == 'dataPanel'" type="radio" style="margin-right: 5px;" name="lex_radio"
                            [checked]="n == activeLexicon" (click)="toggleLexicon(n)">
                        <lexicon-list-node [node]="n" [rendering]="rendering" [multiselection]="multiselection" [showDeprecated]="showDeprecated" 
                            [context]="context" [projectCtx]="projectCtx"
                            (nodeSelected)="onNodeSelected($event)" (nodeChecked)="onNodeChecked($event)" style="flex: 1">
                        </lexicon-list-node>
                    </div>
                </div>
            </ng-container>
        </div>

        <div #blockDivList class="blockingDiv" style="display:none">
            <div class="loadingDiv">
                <div>
                    <p>Loading...</p><img src="./assets/images/loading.gif" />
                </div>
            </div>
        </div>

    </div>
</div>