<div class="card card-default vbox">
    <div class="card-body vbox">

        <div #scrollableContainer class="scrollableContainer" (scroll)="onScroll()">

            <div *ngIf="visualizationMode == 'searchBased' && !list" class="alert alert-warning mb-1">
                {{'DATA.INSTANCE.USE_SEARCH_MSG'|translate}}
            </div>

            <ng-container *ngIf="!safeToGo.safe && visualizationMode == 'standard'; then unsafetyBlock else safetyBlock"></ng-container>

            <ng-template #safetyBlock>
                <ng-container *ngFor="let n of list; let idx=index">
                    <instance-list-node *ngIf="idx < nodeLimit && (!n.isDeprecated() || showDeprecated && n.isDeprecated())"
                        [node]="n" [rendering]="rendering" [multiselection]="multiselection" [showDeprecated]="showDeprecated" [context]="context"
                        (nodeSelected)="onNodeSelected($event)" (nodeChecked)="onNodeChecked($event)">
                    </instance-list-node>
                </ng-container>
            </ng-template>
            
            <ng-template #unsafetyBlock>
                <div class="alert alert-warning">
                    {{'DATA.INSTANCE.UNSAFE_WARN.ELEMENT_COUNT'|translate:translationParam}}
                    {{'DATA.INSTANCE.UNSAFE_WARN.PERFORMANCE_ISSUE'|translate}}
                    {{'DATA.CONCEPT.UNSAFE_WARN.IT_IS_RECOMMENDED'|translate}}
                    <a href="javascript:void(0)" (click)="switchMode.emit('searchBased')">{{'DATA.INSTANCE.UNSAFE_WARN.SWITCH_MODE'|translate}}</a>.<br>
                    {{'DATA.INSTANCE.UNSAFE_WARN.FORCE_INIT'|translate}}
                    <a href="javascript:void(0)" (click)="forceSafeness()">{{'DATA.INSTANCE.UNSAFE_WARN.HERE'|translate}}</a>.
                </div>
            </ng-template>
        </div>

        <div #blockDivList class="blockingDiv" style="display:none">
            <div class="loadingDiv">
                <div>
                    <p>Loading...</p><img src="./assets/images/loading.gif" />
                </div>
            </div>
        </div>

    </div>

</div>