<div class="card card-default vbox" style="flex: 1; margin-left: 4px;">
    <div class="card-header">
        <label>{{'DATA_MANAGEMENT.DATASET_CATALOG.DATASET_DESCRIPTION'|translate}}:</label>
    </div>

    <div class="card-body hbox">

        <div class="card card-default vbox" style="flex: 2;">
            <div class="card-body vbox">
                <div class="table-responsive" style="flex: 1;">
                    <table class="table table-sm">
                        <tbody>
                            <tr>
                                <td style="vertical-align: top;"><label>ID</label></td>
                                <td>{{dataset.id}}</td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top;"><label>{{'COMMONS.TITLE'|translate}}</label></td>
                                <td>
                                    <div *ngFor="let t of dataset.titles" style="margin-bottom: 4px;">{{t.getValue()}} @{{t.getLang()}}</div>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top;"><label>{{'COMMONS.DESCRIPTION'|translate}}</label></td>
                                <td>
                                    <div *ngFor="let d of dataset.descriptions" style="margin-bottom: 4px;">
                                        {{d.getValue()}} @{{d.getLang()}}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top;" nowrap><label>{{'DATA_MANAGEMENT.DATASET_CATALOG.DATASET_PAGE'|translate}}</label></td>
                                <td><a [href]="dataset.datasetPage" target="_blank">{{dataset.datasetPage}}</a></td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top;" nowrap><label>{{'COMMONS.ONTOLOGY_IRI'|translate}}</label></td>
                                <td>
                                    <a *ngIf="dataset.ontologyIRI" [href]="dataset.ontologyIRI.getURI()" target="_blank">
                                        {{dataset.ontologyIRI.getURI()}}
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top;" nowrap><label>{{'DATA_MANAGEMENT.DATASET_CATALOG.DATA_DUMPS'|translate}}</label></td>
                                <td>
                                    <div *ngFor="let dump of dataset.dataDumps" style="margin-bottom: 4px;">
                                        <a [href]="dump.accessURL" target="_blank" [title]="dump.getPreferredTitle()?.toNT()">{{dump.accessURL}}</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top;" nowrap><label>{{'DATA_MANAGEMENT.DATASET_CATALOG.URI_PREFIX'|translate}}</label></td>
                                <td>{{dataset.uriPrefix}}</td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top;" nowrap><label>{{'MODELS.MAPLE.DATASET.SPARQL_ENDPOINT'|translate}}</label></td>
                                <td>{{dataset.sparqlEndpoint}}</td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top;"><label>{{'MODELS.PROJECT.MODEL'|translate}}</label></td>
                                <td>{{dataset.model}}</td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top;" nowrap><label>{{'MODELS.PROJECT.LEXICALIZATION_MODEL'|translate}}</label></td>
                                <td>{{dataset.lexicalizationModel}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div *ngIf="getFacetsKeys().length != 0" class="vbox scrollableContainer" style="padding: 0px; margin-left: 4px; max-width: 200px;">
            <div *ngFor="let key of getFacetsKeys()" class="card card-alt vbox" style="margin-bottom: 4px;">
                <div class="card-header"><label>{{key}}</label></div>
                <div class="card-body scrollableContainer" style="flex: 1;">
                    <div *ngFor="let value of dataset.facets[key]" style="margin-bottom: 3px;">
                        <span class="badge badge-secondary" style="font-size: 11px;">{{value}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>