<div *ngIf="tabs.length > 0" class="vbox">
    <!--Tabs navigation-->
    <ul class="nav nav-tabs" style="padding-bottom: 1px;">
        <li *ngFor="let t of tabs" class="nav-item" [ngClass]="{active : t.active}">
            <a (click)="selectTab(t, 'true')" class="nav-link" style="display: flex; align-items: center;">
                <rdf-resource [resource]="t.resource"></rdf-resource>
                <span class="far fa-times-circle" (click)="closeTab(t)" style="cursor: pointer; align-self: flex-start;"
                    onmouseover="this.className='fas fa-times-circle';"
                    onmouseout="this.className='far fa-times-circle';">
                </span>
            </a>
        </li>
        <!-- style top necessary to align the bottom of this tab with the others (since this is smaller) -->
        <li *ngIf="tabs.length > 1" class="nav-item" style="position:relative; top: 4px;">
            <a (click)="closeAllTabs()" class="nav-link" style="font-weight: bold; padding: 3px 6px;" [title]="'RESOURCE_VIEW.MISC.CLOSE_ALL_TABS'|translate"
                onmouseover="this.style.color='#555'" onmouseout="this.style.color='#337ab7'">
                <span class="fas fa-times"></span>
            </a>
        </li>
    </ul>
    <!--Tabs content-->
    <div class="tab-content">
        <div *ngFor="let t of tabs" [ngClass]="{vbox : t.active}" [hidden]="!t.active">
            <resource-view [resource]="t.resource" (dblclickObj)="objectDblClick($event)" (update)="onResourceUpdate($event, t)"></resource-view>
        </div>
    </div>
</div>