<ng-container *ngIf="!editInProgress && !editLiteralInProgress && !bulkEditInProgress">

    <rdf-resource *ngIf="!isImage" [resource]="resource" [rendering]="rendering" style="flex:1" (dblclick)="resourceDblClick()" (link)="onLinkClicked($event)"></rdf-resource>
    <a *ngIf="isImage" [href]="resource.getURI()" target="_blank" style="flex: 1;">
        <img [src]="resource.getURI()" (error)="isImage=false" style="max-height: 100px; max-width: 300px;" [title]="resource.getURI()">
    </a>
    
    <div class="dropdown float-right" style="align-self: flex-start;" [title]="'ACTIONS.EDIT'|translate" ngbDropdown>
        <button class="dropdown-toggle transparentBtn" data-toggle="dropdown" ngbDropdownToggle [disabled]="editMenuDisabled">
            <span class="fas fa-caret-down fa-sm"></span>
        </button>
        <div class="dropdown-menu" ngbDropdownMenu>
            <a *ngIf="editActionScenario == 'xLabel' || editActionScenario == 'langTaggedLiteral' || editActionScenario == 'typedLiteral'"
                class="dropdown-item" [ngClass]="{ disabled: !editAuthorized || isInferred }" (click)="editLiteral()">
                {{'RESOURCE_VIEW.ACTIONS.EDIT_LITERAL_CONTENT'|translate}}
            </a>

            <a *ngIf="editActionScenario != 'xLabel'" class="dropdown-item" [ngClass]="{ disabled: !editAuthorized || isInferred }" (click)="edit()">
                {{'ACTIONS.EDIT'|translate}}
            </a>
            <a *ngIf="isBulkActionMenuItemAvailable" class="dropdown-item" [ngClass]="{ disabled: !bulkEditAuthorized }"
                (click)="bulkEdit()" [title]="'RESOURCE_VIEW.ACTIONS.BULK_EDIT'|translate">
                {{'RESOURCE_VIEW.ACTIONS.BULK_EDIT'|translate}}
            </a>
            <a *ngIf="isReplaceMenuItemAvailable" class="dropdown-item" [ngClass]="{ disabled: !editAuthorized || isInferred }" (click)="replace()">
                {{'ACTIONS.REPLACE_WITH_EXISTING_RES'|translate}}
            </a>
            <ng-container *ngIf="isXLabelMenuItemAvailable">
                <a class="dropdown-item" [ngClass]="{ disabled: !spawnFromLabelAuthorized || isInferred }" (click)="spawnNewConceptWithLabel()">
                    {{'RESOURCE_VIEW.ACTIONS.SPAWN_CONCEPT_FROM_XLABEL'|translate}}
                </a>
                <a class="dropdown-item" [ngClass]="{ disabled: !moveLabelAuthorized || isInferred }" (click)="moveLabelToConcept()">
                    {{'RESOURCE_VIEW.ACTIONS.MOVE_XLABEL_TO_CONCEPT'|translate}}
                </a>
            </ng-container>
            <a *ngIf="copyLocalesAction.available" class="dropdown-item" [ngClass]="{ disabled: !copyLocalesAuthorized }" (click)="copyLocales()">
                {{'RESOURCE_VIEW.ACTIONS.COPY_VALUE_TO_LOCALES'|translate}}
            </a>
            <a *ngIf="isInferred && partition != 'lexicalizations'" class="dropdown-item" [ngClass]="{ disabled: !assertAuthorized }" (click)="assertInferred()">
                {{'RESOURCE_VIEW.ACTIONS.ASSERT_INFERRED_STATEMENT'|translate}}
            </a>
            <a class="dropdown-item" [ngClass]="{ disabled: !deleteAuthorized || isInferred }" (click)="delete()">{{'ACTIONS.DELETE'|translate}}</a>
            <a *ngIf="isBulkActionMenuItemAvailable" class="dropdown-item" [ngClass]="{ disabled: !bulkDeleteAuthorized }" 
                (click)="bulkDelete()" [title]="'RESOURCE_VIEW.ACTIONS.BULK_DELETE_INFO'|translate">
                {{'RESOURCE_VIEW.ACTIONS.BULK_DELETE'|translate}}
            </a>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="editInProgress || bulkEditInProgress || editLiteralInProgress">
    <div class="input-group input-group-sm" style="flex: 1;">
        <textarea *ngIf="editLiteralInProgress; else editInProgressInput" class="form-control" style="height: initial; resize: vertical;"
            rows="1" [(ngModel)]="resourceStringValue"></textarea>
        <ng-template #editInProgressInput>
            <input type="text" class="form-control" [(ngModel)]="resourceStringValue">
        </ng-template>
        <div class="input-group-append">
            <button class="btn btn-light" style="width:15px; padding: 0px;" (click)="confirmEdit()" [title]="'ACTIONS.CONFIRM'|translate">
                <span class="fas fa-check" style="color: green"></span>
            </button>
            <button class="btn btn-light" style="width:15px; padding: 0px;" (click)="cancelEdit()" [title]="'ACTIONS.CANCEL'|translate">
                <span class="fas fa-times" style="color: red"></span>
            </button>
        </div>
    </div>
</ng-container>