<div class="expandableResource">
    <div class="hbox">
        <rdf-resource [resource]="resource" (dblclick)="resourceDblClick()" style="flex: 1;"></rdf-resource>
        <div class="expandCollapseBtnContainer" (click)="toggle()" style="margin-right: 10px">
            <img src="./assets/images/icons/arrow.png" [ngClass]="{'arrow-left': !open}">
        </div>
    </div>

    <div *ngIf="open" class="card card-default" style="margin: 0px 3px 3px;">
        <div class="card-body" style="padding: 2px;">
            <table class="table table-sm table-borderless table-hoverable">
                <tbody>
                    <ng-container *ngFor="let predObj of predicateObjectList">
                        <tr *ngFor="let obj of predObj.getObjects()">
                            <td style="width: 1%" nowrap>{{predObj.getPredicate().getShow()}}</td>
                            <td>
                                <input type="text" class="form-control form-control-sm" [ngModel]="obj.getNominalValue()"
                                    (dblclick)="objectDblClick(obj)" readonly>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>
<button class="btn btn-transparent btn-xs ml-2" [title]="'ACTIONS.DELETE'|translate" [disabled]="deleteDisabled" (click)="delete()">
    <i class="fas fa-minus fa-sm"></i>
</button>