<div cdkDrag cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h3 class="modal-title text-info">Broken CustomForm structures</h3>
    </div>
    <div class="modal-body vbox" style="min-height: 30vh;">
        <div class="alert alert-info">
            The following table reports the broken structures belonging to the CustomForm mechanism.
        </div>
            
        <div class="table-responsive" style="border: 1px solid #ddd; margin-top: 5px;">
            <table class="table table-sm table-hoverable">
                <thead class="text-center">
                    <tr>
                        <th class="text-center">{{'COMMONS.LEVEL'|translate}}</th>
                        <th class="text-center">{{'COMMONS.TYPE'|translate}}</th>
                        <th class="text-center">ID</th>
                        <th class="text-center">File</th>
                        <th class="text-center">{{'COMMONS.REASON'|translate}}</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr *ngFor="let bcfs of brokenCFS">
                        <td>{{bcfs.level}}</td>
                        <td>{{bcfs.type}}</td>
                        <td>{{bcfs.id}}</td>
                        <td>{{bcfs.file}}</td>
                        <td>{{bcfs.reason}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" (click)="ok()">Ok</button>
    </div>
</div>