<div cdkDrag cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h3 *ngIf="!id" class="modal-title">{{'CUSTOM_FORMS.ACTIONS.CREATE_CUSTOM_FORM'|translate}}</h3>
        <h3 *ngIf="id" class="modal-title">{{'CUSTOM_FORMS.ACTIONS.EDIT_CUSTOM_FORM'|translate}}</h3>
    </div>
    <div class="modal-body vbox">
        
        <div class="entryRow">
            <div class="hbox" style="align-items: center;">
                <label class="entryLabel">ID:</label>
                <div class="input-group" style="flex: 1;">
                    <ng-container *ngIf="namespaceLocked">
                        <span class="input-group-prepend">
                            <span class="input-group-text">
                                {{cfPrefix}}
                            </span>
                        </span>
                        <input type="text" class="form-control" [(ngModel)]="cfShortId" [disabled]="mode == 'edit'" sanitized>
                    </ng-container>
                    
                    <ng-container *ngIf="!namespaceLocked">
                        <input type="text" class="form-control" [(ngModel)]="cfId" [disabled]="mode == 'edit'" sanitized>
                    </ng-container>
                    
                    <div class="input-group-append">
                        <button class="btn btn-light" style="width:30px; padding: 1px 3px;" (click)="unlockNamespace()"
                            [title]="'ACTIONS.LOCK_UNLOCK_NAMESPACE'|translate" [ngClass]="{active: namespaceLocked}" [disabled]="mode == 'edit'">
                            <span class="fas fa-lock" style="font-size: 10px;"></span>
                        </button>
                    </div>
                </div>
                <span class="optionalCell">*</span>
            </div>
        </div>
        <div class="entryRow">
            <div class="hbox" style="align-items: center;">
                <label class="entryLabel">
                    {{'COMMONS.NAME'|translate}}:
                    <span class="fas fa-info-circle" [title]="'CUSTOM_FORMS.FORMS.NAME_INFO'|translate"></span>
                </label>
                <input type="text" class="form-control" style="flex: 1" [(ngModel)]="name" [disabled]="readOnly">
                <span class="optionalCell">*</span>
            </div>
        </div>
        <div class="entryRow">
            <div class="hbox" style="align-items: center;">
                <label class="entryLabel">
                    {{'COMMONS.DESCRIPTION'|translate}}:
                    <span class="fas fa-info-circle" [title]="'CUSTOM_FORMS.FORMS.DESCRIPTION_INFO'|translate"></span>
                </label>
                <textarea class="form-control" style="flex: 1;" [(ngModel)]="description" [rows]="descriptionTextareaRows" [disabled]="readOnly"></textarea>
                <span class="optionalCell"></span>  
            </div>
        </div>
        <div class="entryRow">
            <div class="hbox" style="align-items: center;">
                <label class="entryLabel">
                    {{'COMMONS.TYPE'|translate}}:
                </label>
                <select class="form-control" style="flex: 1;" [(ngModel)]="type" [disabled]="cfId">
                    <option value="graph">Graph</option>
                    <option value="node">Node</option>
                </select>
                <span class="optionalCell">*</span>  
            </div>
        </div>
        <div class="entryRow vbox">
            <div class="hbox">
                <label class="entryLabel" style="align-self: center;">
                    Ref:
                    <span class="fas fa-info-circle"
                        [title]="'CUSTOM_FORMS.FORMS.REF_INFO'|translate">
                    </span>
                </label>
                <div class="hbox">
                    <pearl-editor [(ngModel)]="ref" [disabled]="readOnly">
                    </pearl-editor>
                    <div class="vbox" style="flex: initial; margin-left: 6px;">
                        <button class="btn btn-light btn-sm" (click)="pickConverter()" [disabled]="readOnly">
                            {{'ACTIONS.PICK_CONVERTER'|translate}}
                        </button>
                        <ng-container *ngIf="type == 'graph'">
                            <button class="btn btn-light btn-sm" (click)="inferAnnotations()" style="margin-top: 4px;" 
                                [title]="'CUSTOM_FORMS.FORMS.INFER_ANNOTATIONS_INFO'|translate" [disabled]="!ref || readOnly">
                                {{'CUSTOM_FORMS.ACTIONS.INFER_ANNOTATIONS'|translate}}
                            </button>
                            <button *ngIf="extractFromShaclAuthorized" class="btn btn-light btn-sm" (click)="extractFromShacl()" style="margin-top: 4px;" 
                                [title]="'CUSTOM_FORMS.FORMS.FROM_SHACLE_INFO'|translate" [disabled]="readOnly">
                                {{'CUSTOM_FORMS.FORMS.FROM_SHACLE'|translate}}
                            </button>
                        </ng-container>
                    </div>
                    
                </div>
                <span class="optionalCell">*</span>
            </div>
        </div>
        <div *ngIf="type == 'graph'" class="entryRow">
            <div class="hbox align-items-center">
                <label class="entryLabel">
                    {{'CUSTOM_FORMS.FORMS.PREVIEW_FORM.PREVIEW_FORM'|translate}}
                    <span class="fas fa-info-circle" [title]="'CUSTOM_FORMS.FORMS.PREVIEW_FORM.PREVIEW_FORM_INFO'|translate"></span>
                </label>
                <div class="hbox align-items-center">

                    <select class="form-control select-fa" style="width: initial;" [(ngModel)]="selectedPreviewForm" [disabled]="readOnly">
                        <option *ngFor="let pf of previewForms" [ngValue]="pf" [title]="pf.infoTranslationKey|translate">
                            {{pf.labelTranslationKey|translate}}
                        </option>
                    </select>
                    <span *ngIf="selectedPreviewForm.value" class="fas fa-info-circle ml-1" [title]="selectedPreviewForm.infoTranslationKey|translate"></span>
                    

                    <ng-container *ngIf="selectedPreviewForm.value">
                        <div class="hbox tile-group ml-2">
                            <span *ngFor="let prop of previewProps" (click)="selectPreviewProp(prop)" 
                                class="tile" [ngClass]="{selectedResource : selectedPreviewProp == prop}">
                                <rdf-resource [resource]="prop"></rdf-resource>
                                <span *ngIf="!readOnly" class="far fa-times-circle" (click)="removePropFromPreview(prop)"
                                    style="cursor: pointer" onmouseover="this.className='fas fa-times-circle';"
                                    onmouseout="this.className='far fa-times-circle';">
                                </span>
                                <span *ngIf="readOnly" class="far fa-times-circle" style="cursor: not-allowed"></span>
                            </span>
                        </div>
                        <div class="btn-group dropup ml-2" ngbDropdown>
                            <button class="btn btn-light dropdown-toggle btn-sm" data-toggle="dropdown" [disabled]="readOnly" ngbDropdownToggle>
                                <span class="fas fa-pencil-alt"></span>
                            </button>
                            <div class="dropdown-menu float-right" ngbDropdownMenu>
                                <a class="dropdown-item" (click)="addPropToPreview()">{{'ACTIONS.ADD'|translate}}</a>
                                <a class="dropdown-item" (click)="editPreviewProps()">{{'ACTIONS.EDIT_MANUALLY'|translate}}</a>
                                <a class="dropdown-item" [ngClass]="{disabled : !selectedPreviewProp}" (click)="addPropToPreview('before')">{{'ACTIONS.ADD_BEFORE'|translate}}</a>
                                <a class="dropdown-item" [ngClass]="{disabled : !selectedPreviewProp}" (click)="addPropToPreview('after')">{{'ACTIONS.ADD_AFTER'|translate}}</a>
                                <a class="dropdown-item" [ngClass]="{disabled : disableMove('before')}" (click)="movePropInPreview('before')">{{'ACTIONS.MOVE_BEFORE'|translate}}</a>
                                <a class="dropdown-item" [ngClass]="{disabled : disableMove('after')}" (click)="movePropInPreview('after')">{{'ACTIONS.MOVE_AFTER'|translate}}</a>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <span class="optionalCell"></span>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <span class="float-left">(*) {{'COMMONS.MANDATORY_FIELD'|translate}}</span>
        <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="readOnly">Ok</button>
        <button class="btn btn-light btn-sm ml-2" (click)="cancel()">{{'ACTIONS.CANCEL'|translate}}</button>
    </div>
</div>