<div class="vbox">

    <div *ngIf="isInitialConfiguration" class="alert alert-info mb-2" [innerHTML]="'ADMINISTRATION.SYSTEM.INTRO'|translate">
    </div>

    <div class="card card-default vbox">
        <div class="card-body vbox scrollableContainer">

            <!-- Misc setting -->
            <div class="card card-default">
                <div class="card-body">
                    <table class="table table-sm table-borderless">
                        <colgroup>
                            <col style="width: 1%;">
                            <col style="width: 1%;">
                            <col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <td>
                                    <span class="fas fa-info-circle" [title]="'ADMINISTRATION.SYSTEM.ST_DATA_FOLDER_INFO'|translate"></span>
                                </td>
                                <td nowrap>
                                    <label>{{'ADMINISTRATION.SYSTEM.ST_DATA_FOLDER'|translate}}:</label>
                                </td>
                                <td>
                                    <div class="hbox" style="align-items: center;">
                                        <input class="form-control" style="margin-right: 4px;" [(ngModel)]="stDataFolder">
                                        <button class="btn btn-light btn-sm" (click)="updateDataFolder()" [disabled]="stDataFolder == stDataFolderPristine">
                                            {{'ACTIONS.UPDATE'|translate}}
                                        </button>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <span class="fas fa-info-circle" [title]="'ADMINISTRATION.SYSTEM.PRELOAD_THRESHOLD_INFO'|translate"></span>
                                </td>
                                <td nowrap>
                                    <label>{{'ADMINISTRATION.SYSTEM.PRELOAD_THRESHOLD'|translate}}:</label>
                                </td>
                                <td>
                                    <div class="hbox" style="align-items: center;">
                                        <div class="input-group" style="flex: 1; margin-right: 4px;">
                                            <input type="number" class="form-control" [(ngModel)]="profilerThreshold" min="0" step="1">
                                            <span class="input-group-append">
                                                <span class="input-group-text">bytes</span>
                                            </span>
                                        </div>
                                        <button class="btn btn-light btn-sm" (click)="updateProfilerThreshold()" [disabled]="profilerThreshold == profilerThresholdPristine">
                                            {{'ACTIONS.UPDATE'|translate}}
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- E-mail configuration -->
            <div class="card card-default mt-2">
                <div class="card-header">
                    <label>{{'ADMINISTRATION.SYSTEM.EMAIL.VB_EMAIL_CONFIG'|translate}}:</label>
                </div>
                <div class="card-body">
                    <div class="alert alert-info mb-2">
                        {{'ADMINISTRATION.SYSTEM.EMAIL.VB_EMAIL_CONFIG_INFO'|translate}}
                    </div>
                    <table class="table table-sm table-borderless">
                        <colgroup>
                            <col style="width: 1%;">
                            <col style="width: 1%;">
                            <col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <td>
                                    <span class="fas fa-info-circle" [title]="'ADMINISTRATION.SYSTEM.EMAIL.MAIL_SERVER_URL_INFO'|translate"></span>
                                </td>
                                <td nowrap>
                                    <label>Mail SMTP host:</label>
                                </td>
                                <td><input class="form-control" [(ngModel)]="emailConfig.mailSmtpHost"></td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="fas fa-info-circle" [title]="'ADMINISTRATION.SYSTEM.EMAIL.MAIL_SERVER_PORT_INFO'|translate"></span>
                                </td>
                                <td nowrap>
                                    <label>Mail SMTP port:</label>
                                </td>
                                <td><input class="form-control" [(ngModel)]="emailConfig.mailSmtpPort"></td>
                            </tr>

                            <tr>
                                <td>
                                    <span class="fas fa-info-circle" [title]="'ADMINISTRATION.SYSTEM.EMAIL.CRYPTOGRAPHIC_PROTOCOL'|translate"></span>
                                </td>
                                <td nowrap>
                                    <label>{{'ADMINISTRATION.SYSTEM.EMAIL.CRYPTOGRAPHIC_PROTOCOL'|translate}}:</label>
                                </td>
                                <td>
                                    <select class="form-control" [(ngModel)]="cryptoProtocol" (ngModelChange)="updateProtocol()">
                                        <option>SSL</option>
                                        <option>TLS</option>
                                        <option>None</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="fas fa-info-circle" [title]="'ADMINISTRATION.SYSTEM.EMAIL.AUTHENTICATION_INFO'|translate"></span>
                                </td>
                                <td nowrap>
                                    <label>{{'ADMINISTRATION.SYSTEM.EMAIL.AUTHENTICATION'|translate}}:</label>
                                </td>
                                <td class="text-center">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" id="authRadioTrue" type="radio" [(ngModel)]="emailConfig.mailSmtpAuth" [value]="true">
                                        <label class="form-check-label" for="authRadioTrue">{{'COMMONS.BOOLEAN.TRUE'|translate}}</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" id="authRadioFalse" type="radio" [(ngModel)]="emailConfig.mailSmtpAuth" [value]="false">
                                        <label class="form-check-label" for="authRadioFalse">{{'COMMONS.BOOLEAN.FALSE'|translate}}</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="fas fa-info-circle" [title]="'ADMINISTRATION.SYSTEM.EMAIL.MAIL_FROM_INFO'|translate"></span>
                                </td>
                                <td nowrap>
                                    <label>Mail from address:</label>
                                </td>
                                <td><input class="form-control" type="email" [(ngModel)]="emailConfig.mailFromAddress"></td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="fas fa-info-circle" [title]="'ADMINISTRATION.SYSTEM.EMAIL.MAIL_PASSWORD_INFO'|translate"></span>
                                </td>
                                <td nowrap>
                                    <label>Mail from password:</label>
                                </td>
                                <td>
                                    <input *ngIf="!emailConfig.mailSmtpAuth; else authBlock" class="form-control" disabled>
                                    <ng-template #authBlock>
                                        <div class="input-group">
                                            <input *ngIf="!showPwd" type="password" class="form-control" [(ngModel)]="emailConfig.mailFromPassword">
                                            <input *ngIf="showPwd" class="form-control" [(ngModel)]="emailConfig.mailFromPassword">
                                            <span class="input-group-append">
                                                <button class="btn btn-light" [ngClass]="{ active : showPwd }" (click)="showPwd = !showPwd">
                                                    <span *ngIf="!showPwd" class="fas fa-eye-slash"></span>
                                                    <span *ngIf="showPwd" class="fas fa-eye"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </ng-template>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="fas fa-info-circle" [title]="'ADMINISTRATION.SYSTEM.EMAIL.MAIL_ALIAS_INFO'|translate"></span>
                                </td>
                                <td nowrap>
                                    <label>Mail from alias:</label>
                                </td>
                                <td><input class="form-control" [(ngModel)]="emailConfig.mailFromAlias"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer" style="text-align: right;">
                    <button class="btn btn-info btn-sm" (click)="testEmailConfig()">Test</button>
                    <button type="submit" class="btn btn-light btn-sm" (click)="updateEmailConfig()" [disabled]="!isEmailConfigChanged()">{{'ACTIONS.SUBMIT'|translate}}</button>
                </div>
            </div>

            <!-- Notifications -->
            <div class="card card-default mt-2">
                <div class="card-header">
                    <label>{{'ADMINISTRATION.SYSTEM.NOTIFICATIONS.NOTIFICATION_SCHEDULER'|translate}}:</label>
                </div>
                <div class="card-body">
                    <div class="alert alert-info mb-2" [innerHTML]="'ADMINISTRATION.SYSTEM.NOTIFICATIONS.NOTIFICATION_SCHEDULER_INFO'|translate"></div>
                    <table class="table table-sm table-borderless">
                        <colgroup>
                            <col style="width: 1%;">
                            <col style="width: 1%;">
                            <col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <td><span class="fas fa-info-circle" [title]="'ADMINISTRATION.SYSTEM.NOTIFICATIONS.HOURS_OF_DAY_INFO'|translate"></span></td>
                                <td nowrap><label>{{'ADMINISTRATION.SYSTEM.NOTIFICATIONS.HOURS_OF_DAY'|translate}}:</label></td>
                                <td>
                                    <select class="form-control" [(ngModel)]="cronHourOfDay">
                                        <option *ngFor="let h of hoursOfDay">{{h}}</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><span class="fas fa-info-circle" [title]="'ADMINISTRATION.SYSTEM.NOTIFICATIONS.TIMEZONE_ID_INFO'|translate"></span></td>
                                <td nowrap><label>Time zone:</label></td>
                                <td>
                                    <div class="hbox">
                                        <select class="form-control" [(ngModel)]="timezone">
                                            <option *ngFor="let t of timezones">{{t}}</option>
                                        </select>
                                        <button class="btn btn-sm btn-light" style="margin-left: 4px;" (click)="detectTimezone()" [title]="'ADMINISTRATION.SYSTEM.NOTIFICATIONS.DETECT_INFO'|translate">
                                            {{'ACTIONS.DETECT'|translate}}
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer" style="text-align: right;">
                    <button type="submit" class="btn btn-light btn-sm" (click)="updateNotificationSchedule()" 
                        [disabled]="!cronHourOfDay || !timezone">{{'ACTIONS.SUBMIT'|translate}}</button>
                    <button class="btn btn-warning btn-sm" (click)="disableNotificationSchedule()" [title]="'ADMINISTRATION.SYSTEM.NOTIFICATIONS.DISABLE_INFO'|translate"
                        [disabled]="!cronHourOfDay && !timezone">{{'ACTIONS.DISABLE'|translate}}</button>
                </div>
            </div>

            <!-- Registration form -->
            <div class="card card-default mt-2">
                <div class="card-header">
                    <label>{{'ADMINISTRATION.SYSTEM.REGISTRATION_FORM.FORM_FIELDS'|translate}}:</label>
                </div>
                <div class="card-body">

                    <div class="card card-alt">
                        <div class="card-header">
                            <label style="flex: 1;">{{'ADMINISTRATION.SYSTEM.REGISTRATION_FORM.OPTIONAL_FIELDS'|translate}}:</label>
                        </div>
                        <div class="card-body">
                            <div class="alert alert-info mb-2">
                                {{'ADMINISTRATION.SYSTEM.REGISTRATION_FORM.OPTIONAL_FIELDS_INFO'|translate}}
                            </div>
                            <div *ngFor="let f of optionalFields" class="listItem">
                                <button class="btn btn-sm btn-light" (click)="updateOptionalFieldVisibility(f)" [ngClass]="{ active: f.visible }" style="margin-right: 4px;">
                                    <span *ngIf="f.visible" class="fas fa-eye"></span>
                                    <span *ngIf="!f.visible" class="fas fa-eye-slash"></span>
                                </button>
                                <input class="form-control" [value]="getOptionalFieldLabel(f)|translate" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="card card-alt" style="margin-top: 4px;">
                        <div class="card-header">
                            <label style="flex: 1;">{{'ADMINISTRATION.SYSTEM.REGISTRATION_FORM.CUSTOM_FIELDS'|translate}}:</label>
                            <div class="btn-toolbar">
                                <div class="btn-group btn-group-xs">
                                    <button class="btn btn-light" (click)="moveCustomField('DOWN')" [title]="'ACTIONS.MOVE_DOWN'|translate" [disabled]="!selectedCustomField || customFormFields.indexOf(selectedCustomField)+1 >= customFormFields.length">
                                        <span class="fas fa-chevron-down"></span>
                                    </button>
                                    <button class="btn btn-light" (click)="moveCustomField('UP')" [title]="'ACTIONS.MOVE_UP'|translate" [disabled]="!selectedCustomField || customFormFields.indexOf(selectedCustomField) == 0">
                                        <span class="fas fa-chevron-up"></span>
                                    </button>
                                    <button class="btn btn-light" (click)="removeCustomField()" [title]="'ACTIONS.REMOVE'|translate" [disabled]="!selectedCustomField">
                                        <span class="far fa-trash-alt"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="alert alert-info mb-2" [innerHTML]="'ADMINISTRATION.SYSTEM.REGISTRATION_FORM.CUSTOM_FIELDS_INFO'|translate:translationParam"></div>
                            <table *ngIf="customFormFields" class="table table-sm table-borderless">
                                <colgroup>
                                    <col style="width: 1%;">
                                    <col style="width: 1%;">
                                    <col>
                                    <col style="width: 1%;">
                                    <col>
                                </colgroup>
                                <tbody>
                                    <tr *ngFor="let idx of fieldsIdx;" (click)="selectCustomField(idx)" [ngClass]="{ 'table-primary': selectedCustomField && selectedCustomField == customFormFields[idx] }">
                                        <td class="text-center" style="min-width: 30px;"><label>{{idx+1}}</label></td>
                                        <td class="text-center">{{'COMMONS.LABEL'|translate}}:</td>
                                        <td>
                                            <input-editable [value]="customFormFields[idx]?.label" (valueEdited)="renameCustomField(idx, $event)" [disabled]="idx >= customFormFields.length + 1"></input-editable>
                                        </td>
                                        <td class="text-center">{{'COMMONS.DESCRIPTION'|translate}}:</td>
                                        <td>
                                            <input-editable [value]="customFormFields[idx]?.description" (valueEdited)="updateCustomFieldDescr(idx, $event)" [disabled]="idx >= customFormFields.length + 1" allowEmpty="true"></input-editable>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Home content -->
            <div class="card card-default mt-2">
                <div class="card-header">
                    <label>{{'ADMINISTRATION.SYSTEM.HOME_PAGE.HOME_CONTENT'|translate}}:</label>
                </div>
                <div class="card-body">
                    <div class="alert alert-info mb-2">
                        {{'ADMINISTRATION.SYSTEM.HOME_PAGE.HOME_CONTENT_INFO'|translate}}
                    </div>
                    <div class="hbox">
                        <html-editor [(ngModel)]="homeContent"></html-editor>
                        <div style="flex: 1; border: 1px solid #ddd; border-radius: 4px; margin-left: 4px;" [innerHTML]="safeHomeContent"></div>
                    </div>
                </div>
                <div class="card-footer" style="text-align: right;">
                    <button class="btn btn-info btn-sm" (click)="previewHomeContent()" [disabled]="!homeContent">{{'ADMINISTRATION.SYSTEM.HOME_PAGE.PREVIEW'|translate}}</button>
                    <button type="submit" class="btn btn-light btn-sm" (click)="updateHomeContent()" [disabled]="!isHomeContentChanged()">{{'ACTIONS.SUBMIT'|translate}}</button>
                </div>
            </div>

            <!-- Project creation -->
            <div class="card card-default mt-2">
                <div class="card-header">
                    <label>{{'ADMINISTRATION.SYSTEM.PROJ_CREATION.PROJ_CREATION'|translate}}:</label>
                </div>
                <div class="card-body">
                    <div class="alert alert-info mb-2">
                        {{'ADMINISTRATION.SYSTEM.PROJ_CREATION.PROJ_CREATION_INFO'|translate}}
                    </div>
                    <table class="table table-sm table-borderless">
                        <colgroup>
                            <col style="width: 1%;">
                            <col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <td nowrap>
                                    <label>
                                        {{'ADMINISTRATION.SYSTEM.PROJ_CREATION.DEFAULT_FOR'|translate}}
                                        "{{'PROJECTS.ACL_UNIVERSAL_ACCESS'|translate}}":
                                    </label>
                                </td>
                                <td class="text-center">
                                    <div class="form-check form-check-inline ml-3">
                                        <input class="form-check-input" id="aclRadioTrue" type="radio" [(ngModel)]="defaultAclUniversalAccess" (ngModelChange)="onDefaultAclChanged()" [value]="true">
                                        <span class="form-check-label" for="aclRadioTrue">{{'COMMONS.BOOLEAN.TRUE'|translate}}</span>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" id="aclRadioFalse" type="radio" [(ngModel)]="defaultAclUniversalAccess" (ngModelChange)="onDefaultAclChanged()" [value]="false">
                                        <span class="form-check-label" for="aclRadioFalse">{{'COMMONS.BOOLEAN.FALSE'|translate}}</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td nowrap>
                                    <label>
                                        {{'ADMINISTRATION.SYSTEM.PROJ_CREATION.DEFAULT_FOR'|translate}}
                                        "{{'PROJECTS.OPEN_AT_STARTUP'|translate}}":
                                    </label>
                                </td>
                                <td class="text-center">
                                    <div class="form-check form-check-inline ml-3">
                                        <input class="form-check-input" id="startupRadioTrue" type="radio" [(ngModel)]="defaultOpenAtStartup" (ngModelChange)="onDefaultOpenAtStartupChanged()" [value]="true">
                                        <span class="form-check-label" for="startupRadioTrue">{{'COMMONS.BOOLEAN.TRUE'|translate}}</span>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" id="startupRadioFalse" type="radio" [(ngModel)]="defaultOpenAtStartup" (ngModelChange)="onDefaultOpenAtStartupChanged()" [value]="false">
                                        <span class="form-check-label" for="startupRadioFalse">{{'COMMONS.BOOLEAN.FALSE'|translate}}</span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Experimental feature -->
            
            <span style="flex: 1"></span>
            <div class="card card-default" style="margin-top: 8px;">
                <div class="card-body">
                    <div class="form-check">
                        <input class="form-check-input" id="expFeatureCheck" type="checkbox" [(ngModel)]="expFeatEnabled" (ngModelChange)="onExpFeatEnabledChanged()">
                        <span class="form-check-label" for="expFeatureCheck">{{'ADMINISTRATION.SYSTEM.ENABLE_EXPERIMENTAL_FEATURES'|translate}}</span>
                        <span class="fas fa-info-circle ml-2" [title]="'ADMINISTRATION.SYSTEM.ENABLE_EXPERIMENTAL_FEATURES_INFO'|translate"></span>
                    </div>
                </div>
            </div>
           

        </div>
    </div>

    <button *ngIf="isInitialConfiguration" class="btn btn-sm btn-primary" style="margin-top: 6px; align-self: flex-end" (click)="ok()">Done</button>

</div>