<div class="card card-default">
    <div class="card-body">
        <table class="table table-sm table-borderless">
            <colgroup>
                <col style="width: 1%">
                <col>
                <col style="width: 1%">
                <col>
                <col style="width: 1%">
                <col style="width: 1%">
            </colgroup>
            <tbody>
                <tr *ngFor="let m of map; let index = index; let last = last;">
                    <td><label>Key:</label></td>
                    <td>
                        <!-- At the moment, do not check the type of the key, consider it always as string -->
                        <input class="form-control form-control-sm" [(ngModel)]="map[index].key" (ngModelChange)="onModelChange()" [disabled]="disabled">
                    </td>
                    <td><label>{{'COMMONS.VALUE'|translate}}:</label></td>
                    <td>
                        <!-- At the moment, do not check the type of the value, consider it always as string -->
                        <textarea type="text" rows="1" class="form-control form-control-sm" style="resize: vertical" [(ngModel)]="map[index].value" (ngModelChange)="onModelChange()" [disabled]="disabled">
                        </textarea>
                    </td>
                    <td>
                        <button *ngIf="map.length > 1" class="btn btn-xs btn-light" (click)="delete(index)" [disabled]="disabled">
                            <span class="far fa-trash-alt"></span>
                        </button>
                    </td>
                    <td>
                        <button *ngIf="last" class="btn btn-xs btn-light" (click)="add(index)" [disabled]="disabled">
                            <span class="fas fa-plus"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>