
<div class="card card-default vbox">
    <div class="card-body hbox">

        <div class="card card-default vbox" style="margin-right: 4px;">
            <div class="card-header">
                <label>{{'RESOURCE_VIEW.PARTITIONS.FILTER.RESOURCE_TYPES'|translate}}</label>
            </div>
            <div class="card-body scrollableContainer">
                <div *ngFor="let rps of rolePartitionsStructs" class="listItem" (click)="selectRolePartitionsStruct(rps)"
                    [ngClass]="{ active: rps == selectedRolePartitionsStruct }">
                    {{rps.role.show}}
                </div>
            </div>
        </div>

        <div class="card card-default vbox">
            <div class="card-header">
                <label style="flex: 1;">{{'RESOURCE_VIEW.PARTITIONS.PARTITIONS'|translate}}</label>
                <div class="btn-toolbar">
                    <div class="btn-group btn-group-xs" role="group">
                        <button class="btn btn-light" (click)="checkAll(selectedRolePartitionsStruct, true)" [title]="'ACTIONS.CHECK_ALL'|translate">
                            <span class="far fa-check-square"></span>
                        </button>
                        <button class="btn btn-light" (click)="checkAll(selectedRolePartitionsStruct, false)" [title]="'ACTIONS.UNCHECK_ALL'|translate">
                            <span class="far fa-square"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body scrollableContainer">
                <div *ngFor="let partition of selectedRolePartitionsStruct?.partitions" class="listItem">
                    <input type="checkbox" [(ngModel)]="partition.checked" (ngModelChange)="updatePref()">
                    <span style="flex: 1; margin-left: 4px">{{partition.labelTranslationKey|translate}}</span>
                    <span *ngIf="partition.checked" class="fas fa-eye"></span>
                    <span *ngIf="!partition.checked" class="fas fa-eye-slash"></span>
                    
                    <div class="dropdown float-right" ngbDropdown>
                        <button class="dropdown-toggle transparentBtn" data-toggle="dropdown" ngbDropdownToggle>
                            <span class="fas fa-caret-down fa-sm"></span>
                        </button>
                        <div class="dropdown-menu" ngbDropdownMenu>
                            <a class="dropdown-item" (click)="checkForAllRoles(partition.id, true)">
                                <span class="fas fa-eye mr-1"></span>{{'RESOURCE_VIEW.PARTITIONS.FILTER.SET_VISIBLE_FOR_ALL'|translate}}
                            </a>
                            <a class="dropdown-item" (click)="checkForAllRoles(partition.id, false)">
                                <span class="fas fa-eye-slash mr-1"></span>{{'RESOURCE_VIEW.PARTITIONS.FILTER.HIDE_FOR_ALL'|translate}}
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="card-footer">
        <button class="btn btn-xs btn-light float-right" (click)="reset()" [title]="'RESOURCE_VIEW.PARTITIONS.FILTER.SET_VISIBLE_ALL'|translate">
            <span class="fas fa-eye mr-1"></span>
            {{'ACTIONS.ENABLE_ALL'|translate}}
        </button>
    </div>
</div>