<div class="card card-default vbox">
    <div class="card-header">
        <label style="flex: 1;">{{'ACTIONS.EXPORT_DATA'|translate}}:</label>
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group btn-group-xs">
                <button class="btn btn-light" [title]="'ACTIONS.SAVE_CONFIGURATION'|translate" (click)="saveChain()">
                    <span class="fas fa-download"></span>
                </button>
                <button class="btn btn-light" [title]="'ACTIONS.LOAD_CONFIGURATION'|translate" (click)="loadChain()">
                    <span class="fas fa-upload"></span>
                </button>
            </div>
        </div>
    </div>
    
    <div class="card-body vbox">

        <div class="card card-alt vbox" style="min-height: 150px;">
            <div class="card-header">
                <label style="flex: 1">
                    {{'DATA_MANAGEMENT.EXPORT.GRAPHS_TO_EXPORT'|translate}}
                </label>
                <span *ngIf="areAllGraphDeselected()" class="grayText">
                    <span class="fas fa-exclamation-triangle"></span>
                    {{'DATA_MANAGEMENT.EXPORT.NO_GRAPHS_EXPORTED_MSG'|translate}}
                </span>
            </div>
            <div class="card-body scrollableContainer">
                <div *ngFor="let g of exportGraphs" class="listItem" style="align-items: center">
                    <input type="checkbox" [(ngModel)]="g.checked" (ngModelChange)="onGraphSelectionChange(g)">
                    <span style="margin-left: 5px;">{{g.graph.getURI()}}</span>
                </div>
            </div>
        </div>

        <div class="card card-alt vbox" style="flex: 2; margin-top: 4px;">
            <div class="card-header">
                <label style="flex: 1">{{'DATA_MANAGEMENT.COMMONS.DATA_TRANSFORMATIONS'|translate}}:</label>

                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group btn-group-xs">
                        <button class="btn btn-light" (click)="appendFilter()">
                            <span class="fas fa-plus"></span>
                        </button>
                        <button class="btn btn-light" (click)="removeFilter()"
                            [disabled]="filtersChain.length == 0 || !selectedFilterChainElement">
                            <span class="fas fa-minus"></span>
                        </button>
                        <button class="btn btn-light" [title]="'ACTIONS.MOVE_DOWN'|translate"  (click)="moveFilterDown()"
                            [disabled]="isSelectedFilterLast() || !selectedFilterChainElement">
                            <span class="fas fa-chevron-down"></span>
                        </button>
                        <button class="btn btn-light" [title]="'ACTIONS.MOVE_UP'|translate" (click)="moveFilterUp()"
                            [disabled]="isSelectedFilterFirst() || !selectedFilterChainElement">
                            <span class="fas fa-chevron-up"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body scrollableContainer">
                <div class="alert alert-info mb-2">
                    {{'DATA_MANAGEMENT.EXPORT.TRANSFORMERS_DESCRIPTION'|translate}}
                </div>
                <table class="table table-sm table-hoverable">
                    <colgroup>
                        <col style="width: 2%">
                        <col>
                        <col style="width: 2%">
                    </colgroup>
                    <tbody>
                        <tr *ngFor="let filterChainEl of filtersChain; let l = last; let f = first; let idx = index" 
                            [ngClass]="{ 'table-primary': filterChainEl == selectedFilterChainElement }" (click)="selectFilterChainElement(filterChainEl)">
                            <td class="text-center" style="font-size: 11px; font-weight: 700;">{{idx+1}}</td>
                            <td class="hbox">
                                <extension-configurator [extensions]="filterChainEl.availableFactories"
                                    (extensionUpdated)="onExtensionUpdated(filterChainEl, $event)"
                                    (configurationUpdated)="onConfigurationUpdated(filterChainEl, $event)" 
                                    (configStatusUpdated)="onConfigStatusUpdated(filterChainEl, $event)"
                                    style="flex: 1;">
                                </extension-configurator>
                                <button class="btn btn-light" (click)="configureGraphs(filterChainEl)" style="margin-left: 4px;">{{'DATA_MANAGEMENT.EXPORT.GRAPHS'|translate}}</button>
                            </td>
                            <td class="text-center" style="font-size: 14px;">
                                <span *ngIf="requireConfiguration(filterChainEl)" class="fas fa-exclamation-triangle"
                                    [title]="'COMMONS.CONFIG.CONFIGURATION_REQUIRED'|translate"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card card-alt" style="margin-top: 4px;">
            <div class="card-header">
                <label style="margin-right: 8px">Deployment:</label>
                <select class="form-control form-control-sm" style="width: initial" [(ngModel)]="selectedDeployment">
                    <option *ngFor="let depOpt of deploymentOptions" [ngValue]="depOpt">{{depOpt.label}}</option>
                </select>
            </div>
            <div class="card-body">
                <table class="table table-sm table-borderless">
                    <colgroup>
                        <col style="width: 80px">
                        <col>
                    </colgroup>
                    <!-- When a deployer source is specified (so a deployer is used) -->
                    <tr *ngIf="useDeployer()">
                        <td><label class="col-form-label">Deployer:</label></td>
                        <td>
                            <div class="hbox" style="align-items: center">
                                <ng-container *ngIf="selectedDeployment.source == 'repository'">
                                    <extension-configurator #deployerConfigurator *ngIf="repoSourcedDeployer" [extensions]="repoSourcedDeployer"
                                        (extensionUpdated)="selectedDeployerExtension = $event"
                                        (configurationUpdated)="onDeployerConfigUpdated($event)"
                                        (configStatusUpdated)="onDeployerConfigStatusUpdated($event)"
                                        style="flex: 1;">
                                    </extension-configurator>
                                </ng-container>
                                <ng-container *ngIf="selectedDeployment.source == 'stream'">
                                    <extension-configurator #deployerConfigurator *ngIf="streamSourcedDeployer" [extensions]="streamSourcedDeployer"
                                        (extensionUpdated)="selectedDeployerExtension = $event"
                                        (configurationUpdated)="onDeployerConfigUpdated($event)"
                                        (configStatusUpdated)="onDeployerConfigStatusUpdated($event)"
                                        style="flex: 1;">
                                    </extension-configurator>
                                </ng-container>
                                <div *ngIf="requireConfigurationDeployer()" style="font-size: 14px; margin-left: 4px;">
                                    <span class="fas fa-exclamation-triangle" [title]="'COMMONS.CONFIG.CONFIGURATION_REQUIRED'|translate"></span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <!-- Reformatter available only when not using a deployer, or when using a stream-source deployer -->
                    <tr *ngIf="useReformatter()">
                        <td><label class="col-form-label">Reformatter:</label></td>
                        <td>
                            <div class="hbox" style="align-items: center">
                                <extension-configurator #reformatterConfigurator *ngIf="reformatters" [extensions]="reformatters"
                                    (extensionUpdated)="onReformatterExtensionUpdated($event)"
                                    (configurationUpdated)="onReformatterConfigUpdated($event)"
                                    (configStatusUpdated)="onReformatterConfigStatusUpdated($event)"
                                    style="flex: 1;">
                                </extension-configurator>

                                <div *ngIf="requireConfigurationFormatter()" style="font-size: 14px; margin-left: 4px;">
                                    <span class="fas fa-exclamation-triangle" [title]="'COMMONS.CONFIG.CONFIGURATION_REQUIRED'|translate"></span>
                                </div>
        
                                <div class="hbox" style="align-items: center; flex: initial; margin-left: 8px;">
                                    <label style="white-space: nowrap; margin-right: 4px;">Export Format:</label>
                                    <select class="form-control form-control-sm" [(ngModel)]="selectedExportFormat">
                                        <option *ngFor="let f of exportFormats" [ngValue]="f">{{f.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>

    
    <div class="card-footer">
        <div class="float-right d-flex align-items-center">
            <div class="form-check form-check-inline mr-5">
                <input class="form-check-input" id="inferCheck" type="checkbox" [(ngModel)]="includeInferred">
                <label class="form-check-label" for="inferCheck">{{'DATA_MANAGEMENT.EXPORT.INCLUDE_INFERRED'|translate}}</label>
            </div>
            <button type="submit" class="btn btn-info" (click)="export()">{{'ACTIONS.SUBMIT'|translate}}</button>
        </div>
    </div>
</div>