<div cdkDrag cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h3 class="modal-title text-info">{{title}}</h3>
    </div>
    <div class="modal-body vbox">
        <div class="alert alert-info" *ngIf="message">
            {{message}}
        </div>
        <div class="card card-default vbox" style="margin-top: 5px;">
            <div class="card-header">  
                <div style="flex: 1"></div>
                <div class="btn-toolbar" role="toolbar">
                    <button class="btn btn-light btn-xs" title="Rendering" (click)="rendering = !rendering" [ngClass]="{active: rendering}">
                        <span class="fas fa-font"></span>
                    </button>
                </div>
            </div>
            <div class="card-body vbox">
                <resource-list [resources]="resourceList" [rendering]="rendering" (nodeSelected)="onResourceSelected($event)" (dblClicked)="onResDblClicked($event)">
                </resource-list>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!resourceSelected">Ok</button>
        <button class="btn btn-light btn-sm" (click)="cancel()">{{'ACTIONS.CANCEL'|translate}}</button>
    </div>
</div>