<div cdkDrag cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h3 [class]="headerStyle">{{title}}</h3>
    </div>
    <div class="modal-body vbox">
        <div *ngIf="message" [class]="msgStyle">
            {{message}}
        </div>
        <div class="card card-default vbox" style="margin-top: 5px;">
            <div class="card-body vbox scrollableContainer">
                <div *ngFor="let opt of options" class="listItem" [ngClass]="{ active: optionSelected == opt }" (click)="optionSelected = opt">
                    <span *ngIf="plainOptions; else descrBlock">{{opt}}</span>
                    <ng-template #descrBlock>
                        <span style="white-space: nowrap;">
                            <span style="font-size: 13px;">{{opt.value}}</span>
                            <span *ngIf="opt.description" class="fas fa-info-circle" style="margin-left: 4px;" [title]="opt.description"></span>
                        </span>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!optionSelected">Ok</button>
        <button class="btn btn-light btn-sm" (click)="cancel()">{{'ACTIONS.CANCEL'|translate}}</button>
    </div>
</div>