<div class="vbox blockingDivHost">

    <div class="card card-alt vbox">
        <div class="card-header">
            <label>{{'ALIGNMENT.VALIDATION.REMOTE_SYS.MAIN.REMOTE_ALIGN_SYS'|translate}}</label>
            <div *ngIf="serviceMetadata" class="ml-3 text-muted">
                {{serviceMetadata.service}} <b>[</b>{{serviceMetadata.version}}<b>]</b>
            </div>
            <span *ngIf="serverDown" class="fas fa-exclamation-triangle ml-3" [title]="'ALIGNMENT.VALIDATION.REMOTE_SYS.MAIN.SERVICE_DOWN'|translate"></span>
            <div style="flex: 1"></div> <!-- a spacer -->
            <div class="btn-toolbar">
                <button *ngIf="isSettingsAuthorized" class="btn btn-xs btn-light" (click)="settings()" [title]="'COMMONS.SETTINGS'|translate">
                    <span class="fas fa-cog"></span>
                </button>
            </div>
        </div>

        <div class="card-body vbox">
            <div class="card card-default vbox" style="min-height: 90px; max-height: 150px;">
                <div class="card-header">
                    <div class="hbox">
                        <label style="flex: 1;">{{'ALIGNMENT.VALIDATION.REMOTE_SYS.MAIN.TASKS'|translate}}</label>
                        <div class="btn-toolbar">
                            <div class="btn-group btn-group-xs">
                                <button class="btn btn-light" (click)="createTask()" [title]="'ACTIONS.CREATE'|translate" [disabled]="serverDown || serviceNotConfigured">
                                    <span class="fas fa-plus"></span>
                                </button>
                                <button class="btn btn-sm btn-light" (click)="deleteTask()" [title]="'ACTIONS.DELETE'|translate" [disabled]="!selectedTask || serverDown || serviceNotConfigured">
                                    <span class="fas fa-minus"></span>
                                </button>
                            </div>
                            <button class="btn btn-xs btn-light" (click)="listTask()" [title]="'ACTIONS.REFRESH'|translate" [disabled]="serviceNotConfigured">
                                <span class="fas fa-redo"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body scrollableContainer">
                    <div *ngIf="serviceNotConfigured; else tasksListBlock" class="alert alert-warning" [innerHTML]="'ALIGNMENT.VALIDATION.REMOTE_SYS.MAIN.UNCONFIGURED_WARN'|translate">
                    </div>

                    <ng-template #tasksListBlock>
                        <table class="table table-sm table-hoverable">
                            <colgroup>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col style="width: 1%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>{{'ALIGNMENT.VALIDATION.REMOTE_SYS.MAIN.LEFT_PROJECT'|translate}}</th>
                                    <th>{{'ALIGNMENT.VALIDATION.REMOTE_SYS.MAIN.RIGHT_PROJECT'|translate}}</th>
                                    <th>{{'STATUS.STATUS'|translate}}</th>
                                    <th>{{'ALIGNMENT.VALIDATION.REMOTE_SYS.MAIN.START_TIME'|translate}}</th>
                                    <th>{{'ALIGNMENT.VALIDATION.REMOTE_SYS.MAIN.END_TIME'|translate}}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let task of tasks" [ngClass]="{ 'table-primary': selectedTask == task }" (click)="selectTask(task)">
                                    <td>{{task.leftDataset.projectName}}</td>
                                    <td>{{task.rightDataset.projectName}}</td>
                                    <td>
                                        {{task.status}}
                                        <span *ngIf="task.progress"> ({{task.progress}}%)</span>
                                        <span *ngIf="task.reason?.message" class="fas fa-question-circle" [title]="task.reason?.message"></span>
                                    </td>
                                    <td>{{task.startTime}}</td>
                                    <td>{{task.endTime}}</td>
                                    <td>
                                        <button class="btn btn-sm btn-light text-nowrap" (click)="fetchAlignment(task)" [disabled]="task.status != 'completed'">
                                            {{'ALIGNMENT.ACTIONS.START_VALIDATION'|translate}}
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </ng-template>
                </div>
            </div>

            <alignment-management style="margin-top: 4px;" *ngIf="alignmentOverview" [overview]="alignmentOverview" [leftProject]="leftProject" [rightProject]="rightProject"></alignment-management>
        </div>
    </div>

    <div #blockingDiv class="blockingDiv" style="display:none">
        <div class="loadingDiv">
            <div>
                <p>Loading...</p><img src="./assets/images/loading.gif" />
            </div>
        </div>
    </div>

</div>