<div class="groupPanel">
    <div class="groupPanel-heading">
        <div class="expandCollapseBtnContainer groupPanel-heading-content" style="margin: 0px">
            <img src="./assets/images/icons/arrow.png" (click)="partitionCollapsed = !partitionCollapsed"
                [ngClass]="{'arrow-right': partitionCollapsed}">
        </div>
        <span style="flex: 1">
            <label class="groupPanel-heading-content">{{labelTranslationKey|translate}}:</label>
        </span>
        <span *ngIf="addBtnImgSrc" class="groupPanel-heading-content groupPanel-add-btn">
            <button class="resViewPartitionAddBtn" [title]="addTitleTranslationKey|translate" (click)="addHandler(null, 'default')" [disabled]="addDisabled">
                <img [src]="addBtnImgSrc"/>
            </button>
        </span>
        <span *ngIf="addManuallyAllowed || addExteranlResourceAllowed" class="groupPanel-heading-content groupPanel-dropdown-btn">
            <div class="btn-group" style="vertical-align: initial;" ngbDropdown>
                <button class="dropdown-toggle transparentBtn" style="width: 12px;" data-toggle="dropdown" ngbDropdownToggle>
                    <span class="fas fa-caret-down fa-sm" style="margin: 0px;"></span>
                </button>
                <div class="dropdown-menu float-right" ngbDropdownMenu>
                    <a *ngIf="addManuallyAllowed" class="dropdown-item" [ngClass]="{ disabled: addDisabled }" (click)="addHandler(null, 'manually')">{{'RESOURCE_VIEW.ACTIONS.ADD_VALUE_MANUALLY'|translate}}</a>
                    <a *ngIf="addExteranlResourceAllowed" class="dropdown-item" [ngClass]="{ disabled: addDisabled }" (click)="addHandler(null, 'remote')">{{'RESOURCE_VIEW.ACTIONS.ADD_VALUE_FROM_ANOTHER_PROJ'|translate}}</a>
                </div>
            </div>
        </span>

    </div>

    <div class="groupPanel-body">
        <ng-container *ngIf="!partitionCollapsed">
            <pred-obj-renderer *ngFor="let po of predicateObjectList"
                [pred-obj]="po" [resource]="resource" [readonly]="readonly"
                [rendering]="rendering" [partition]="partition" (dblclickObj)="objectDblClick($event)"
                (add)="addHandler(po.getPredicate(), $event)" (edit)="editHandler(po.getPredicate(), $event)" 
                (remove)="removeHandler(po.getPredicate(), $event)" (update)="onObjectUpdate()"
                (copyLocale)="copyLocaleHandler(po.getPredicate(), $event)" >
            </pred-obj-renderer>
        </ng-container>
    </div>
</div>