<div cdkDrag cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h3 class="modal-title">Concept tree settings</h3>
    </div>
    <div class="modal-body vbox">

        <div class="hbox" style="align-items: center; flex: initial">
            <label style="margin-right: 4px; white-space: nowrap;">{{'COMMONS.VISUALIZATION_MODE'|translate}}:</label>
            <select class="form-control" [(ngModel)]="visualization">
                <option *ngFor="let vm of visualizationModes" [value]="vm.value">{{vm.labelTranslationKey|translate}}</option>
            </select>
        </div>

        <div *ngIf="visualization == 'hierarchyBased'" class="card card-default vbox" style="margin-top: 6px;">
            <div class="card-body vbox">

                <div class="form-group row">
                    <label class="col-form-label col-sm-4 text-nowrap">
                        {{'DATA.CONCEPT.SETTINGS.TOP_CONCEPTS_LIMIT'|translate}}
                        <span class="fas fa-info-circle ml-1" [title]="'DATA.CONCEPT.SETTINGS.TOP_CONCEPTS_LIMIT_INFO'|translate"></span>
                    </label>
                    <div class="col-sm-8">
                        <input class="form-control" type="number" min="1" [(ngModel)]="safeToGoLimit">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4 text-nowrap">
                        {{'DATA.CONCEPT.SETTINGS.MULTISCHEME_MODE'|translate}}
                        <span class="fas fa-info-circle ml-1" [title]="'DATA.CONCEPT.SETTINGS.TOGGLE_OR_AND'|translate"></span>
                    </label>
                    <div class="col-sm-8">
                        <select class="form-control" [(ngModel)]="selectedMultischemeMode">
                            <option *ngFor="let mode of multischemeModes" [value]="mode">{{mode | uppercase}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-4 text-nowrap">
                        {{'DATA.CONCEPT.SETTINGS.BASE_BROADER_PROP'|translate}}
                        <span class="fas fa-info-circle ml-1" [title]="'DATA.CONCEPT.SETTINGS.BASE_BROADER_PROP_INFO'|translate"></span>
                    </label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <input type="text" class="form-control" [ngModel]="baseBroaderProp" readonly>
                            <div class="input-group-append">
                                <button class="btn btn-light py-0" (click)="changeBaseBroaderProperty()">
                                    <img src="./assets/images/icons/res/propObject.png"/>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card card-default vbox" style="margin-top: 6px;">
                    <div class="card-header">
                        <label>{{'DATA.CONCEPT.SETTINGS.BROADER_NARROWER_MGMT'|translate}}</label>
                    </div>
                    <div class="card-body vbox">

                        <div class="alert alert-info mb-2">
                            {{'DATA.CONCEPT.SETTINGS.BROADER_NARROWER_MGMT_INFO'|translate}}
                        </div>

                        <div class="hbox">
                            <div class="card card-alt vbox">
                                <div class="card-header">
                                    <label style="flex:1">Broader</label>
                                    <div class="btn-toolbar">
                                        <div class="btn-group btn-group-xs">
                                            <button class="btn btn-light" (click)="addBroader()">
                                                <span class="fas fa-plus"></span>
                                            </button>
                                            <button class="btn btn-light" (click)="removeBroader()" [disabled]="!selectedBroader">
                                                <span class="fas fa-minus"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body vbox" style="min-height: 80px;">
                                    <resource-list [resources]="broaderProps" (nodeSelected)="selectedBroader = $event"></resource-list>
                                </div>
                            </div>

                            <div class="card card-alt vbox" style="margin-left: 4px;">
                                <div class="card-header">
                                    <label style="flex:1">Narrower</label>
                                    <div class="btn-toolbar">
                                        <div class="btn-group btn-group-xs">
                                            <button class="btn btn-light" (click)="addNarrower()">
                                                <span class="fas fa-plus"></span>
                                            </button>
                                            <button class="btn btn-light" (click)="removeNarrower()" [disabled]="!selectedNarrower">
                                                <span class="fas fa-minus"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body vbox" style="min-height: 80px;">
                                    <resource-list [resources]="narrowerProps" (nodeSelected)="selectedNarrower = $event"></resource-list>
                                </div>
                            </div>
                        </div>

                        <div class="mt-2">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="inverseCheck" type="checkbox" [(ngModel)]="syncInverse" (ngModelChange)="onSyncChange()">
                                <label class="form-check-label" for="inverseCheck">
                                    {{'DATA.CONCEPT.SETTINGS.SYNC_INV_PROP'|translate}}
                                    <span class="fas fa-info-circle ml-1" [title]="'DATA.CONCEPT.SETTINGS.SYNC_INV_PROP_INFO'|translate">
                                    </span>
                                </label>
                            </div>
                            <div class="form-check form-check-inline ml-3">
                                <input class="form-check-input" id="subCheck" type="checkbox" [(ngModel)]="includeSubProps">
                                <label class="form-check-label" for="subCheck">
                                    {{'DATA.CONCEPT.SETTINGS.INCLUDE_SUBPROP'|translate}}
                                    <span class="fas fa-info-circle ml-1" [title]="'DATA.CONCEPT.SETTINGS.INCLUDE_SUBPROP_INFO'|translate">
                                    </span>
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div *ngIf="userGroup" class="card-footer" style="margin-top: 6px;">
                <button class="btn btn-xs btn-light float-right" (click)="applyGroupSettings()">
                    {{'DATA.CONCEPT.SETTINGS.APPLY_GROUP_SETTINGS'|translate}}
                    <span class="fas fa-info-circle" [title]="'Group: ' + userGroup.shortName"></span>
                </button>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" (click)="ok()">Ok</button>
        <button class="btn btn-light btn-sm" (click)="cancel()">{{'ACTIONS.CANCEL'|translate}}</button>
    </div>
</div>