<div class="card card-default vbox">
    <!-- Commands -->
    <div class="card-header">
        <div *ngIf="editable" class="btn-group btn-group-xs" role="group">
            <ng-container *ngFor="let action of panelActions">
                <button *ngIf="isActionVisible(action)" class="btn btn-light" [title]="action.title"
                    (click)="executeAction(action)" [disabled]="isActionDisabled(action)">
                    <img [src]="action.icon" class="panelButtonImg" />
                </button>
            </ng-container>
        </div>
        <div *ngIf="editable" style="margin: 0px 5px;">
            <img *ngIf="isNoSchemeMode()" src="./assets/images/icons/warning.png"
                [title]="'DATA.CONCEPT.NO_SCHEME_SELECTED_WARN'|translate">
        </div>
        <div style="flex: 1"></div>
        <div class="btn-toolbar" role="toolbar">
            <button class="btn btn-light btn-xs" title="Rendering" (click)="rendering=!rendering"
                [ngClass]="{ active: rendering }">
                <span class="fas fa-font"></span>
            </button>
            <button class="btn btn-light btn-xs" [title]="'ACTIONS.REFRESH'|translate" (click)="refresh()">
                <span class="fas fa-redo"></span>
            </button>
            <button *ngIf="isOpenSettingsAvailable()" class="btn btn-light btn-xs" [title]="'COMMONS.SETTINGS'|translate"
                (click)="settings()">
                <span class="fas fa-cog"></span>
            </button>
        </div>

        <div class="dropdown" ngbDropdown>
            <!-- Disabled when all the options are not available -->
            <button class="dropdown-toggle transparentBtn ml-1" data-toggle="dropdown" ngbDropdownToggle
                [disabled]="!allowMultiselection && !isOpenGraphEnabled(GraphModeEnum.dataOriented) && !isAddToSchemeEnabled()">
                <span class="fas fa-caret-down"></span>
            </button>
            <div class="dropdown-menu" ngbDropdownMenu>
                <ng-container *ngIf="allowMultiselection">
                    <a class="dropdown-item" (click)="toggleMultiselection()">
                        <span style="flex: 1;">
                            <span class="far fa-check-square" style="margin-right: 4px;"></span>
                            {{'DATA.COMMONS.MULTISELECTION'|translate}}
                        </span>
                        <span *ngIf="multiselection" class="fas fa-check float-right"></span>
                    </a>
                    <a *ngIf="context=='dataPanel' && multiselection" class="dropdown-item"
                        [ngClass]="{ disabled: checkedNodes.length == 0 }" (click)="enrichMultiSubject()">
                        <span class="far fa-check-square" style="margin-right: 4px; margin-left: 16px;"></span>
                        {{'DATA.COMMONS.ADD_PROP_VALUE_TO_SELECTION'|translate}}
                    </a>
                </ng-container>
                <a *ngIf="isAddToSchemeEnabled()" class="dropdown-item" (click)="addToScheme()">
                    <span class="fas fa-share" style="margin-right: 4px;"></span>
                    {{'DATA.CONCEPT.ADD_SUBTREE_TO_SCHEME'|translate}}
                </a>
                <a *ngIf="isOpenGraphEnabled(GraphModeEnum.dataOriented)" class="dropdown-item" (click)="openDataGraph()">
                    <img src="./assets/images/icons/res/ontology.png" style="margin-right: 4px;" width="11px">
                    {{'GRAPHS.ACTIONS.SHOW_DATA_ORIENTED_GRAPH'|translate}}
                </a>
            </div>
        </div>
    </div>

    <!-- Tree -->
    <div class="card-body vbox">

        <div *ngIf="schemeChangeable" style="padding-bottom: 3px; display: flex; align-items: center">
            <span style="white-space: nowrap; margin: 0px 3px;">{{'DATA.SCHEME.SCHEME'|translate}}:</span>
            <select class="form-control form-control-sm " [(ngModel)]="selectedSchemeUri"
                (ngModelChange)="onSchemeSelectionChange()">
                <option value="---">no-scheme</option>
                <option *ngFor="let s of schemeList" [value]="s.getURI()">{{getSchemeRendering(s)}}</option>
            </select>
        </div>

        <concept-tree [projectCtx]="projectCtx" [schemes]="workingSchemes" [rendering]="rendering"
            [multiselection]="multiselection" [showDeprecated]="showDeprecated" [context]="context"
            (nodeSelected)="onNodeSelected($event)" (nodeChecked)="onNodeChecked($event)"
            (conceptRemovedFromScheme)="onConceptRemovedFromScheme($event)" (switchMode)="onSwitchMode($event)">
        </concept-tree>
    </div>

    <!-- Search -->
    <div *ngIf="!hideSearch" class="card-footer">
        <search-bar (search)="doSearch($event)" (advancedSearch)="advancedSearch($event)" [role]="panelRole" [schemes]="workingSchemes"
            [context]="context" [projectCtx]="projectCtx"></search-bar>
    </div>

</div>