<div class="hbox">
    <div class="card card-alt vbox">
        <div class="card-header">
            <label style="flex: 1;">{{'COMMONS.LANGUAGE.LANGUAGES'|translate}}:</label>
            <span *ngIf="noLangActive" class="grayText" style="margin-right: 5px;">
                <span class="fas fa-exclamation-triangle"></span> {{'COMMONS.LANGUAGE.NO_LANG_INFO'|translate}}
            </span>
            <div class="btn-group btn-group-xs">
                <button class="btn btn-light" (click)="changeAllLangStatus(true)" [title]="'ACTIONS.CHECK_ALL'|translate">
                    <span class="far fa-check-square"></span>
                </button>
                <button class="btn btn-light" (click)="changeAllLangStatus(false)" [title]="'ACTIONS.UNCHECK_ALL'|translate">
                    <span class="far fa-square"></span>
                </button>
            </div>
        </div>
        <div class="card-body scrollableContainer">
                        
            <table class="table table-sm table-borderless table-hoverable">
                <colgroup>
                    <col style="width: 1%">
                    <col style="width: 1%">
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th class="text-center" style="padding: 0px 8px;">{{'STATUS.ACTIVE'|translate}}</th>
                        <th class="text-center" style="padding: 0px 8px;" nowrap>
                            {{'ADMINISTRATION.PROJECTS.MANDATORY_LANGS'|translate}}
                            <span class="fas fa-info-circle" [title]="'ADMINISTRATION.PROJECTS.MANDATORY_LANGS_INFO'|translate"></span>
                        </th>
                        <th class="text-center" style="padding: 0px 8px;" nowrap>{{'COMMONS.LANGUAGE.ISO_CODE'|translate}}</th>
                        <th class="text-center" style="padding: 0px 8px;">{{'COMMONS.LANGUAGE.LANGUAGE'|translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let l of languageItems">
                        <td class="text-center">
                            <input type="checkbox" style="vertical-align: middle" [(ngModel)]="l.active" (ngModelChange)="updateSettings()"
                                [disabled]="!project">
                        </td>
                        <td class="text-center">
                            <input type="checkbox" style="vertical-align: middle" [(ngModel)]="l.lang.mandatory" (ngModelChange)="updateSettings()"
                                [disabled]="!project || !l.active">
                        </td>
                        <td class="text-center" nowrap>{{l.lang.tag}}</td>
                        <td class="text-center">
                            <lang-item [language]="l.lang"></lang-item>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>