<div cdkDrag cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h3 class="modal-title">{{'DATA.SETTINGS.TREE_LIST_SETTINGS'|translate}}</h3>
    </div>
    <div class="modal-body vbox">
        <div class="card card-default">
            <div class="card-body">
                <div class="form-check">
                    <input class="form-check-input" id="deprecatedCheck" type="checkbox" [(ngModel)]="showDeprecated" (ngModelChange)="onShowDeprecatedChange()">
                    <label class="form-check-label" for="deprecatedCheck">{{'DATA.SETTINGS.SHOW_DEPRECATED_RES'|translate}}</label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" (click)="ok()">Ok</button>
    </div>
</div>