<div class="card card-default vbox">
    <div class="card-header">
        <div class="btn-toolbar" role="toolbar">
            <button *ngIf="viewChildGraph?.incrementalExploration" class="btn btn-xs btn-light" (click)="addNode()" [title]="'ACTIONS.ADD_NODE'|translate">
                <span class="fas fa-plus"></span>
            </button>
        </div>
        <span style="flex: 1;"></span>
        <div class="btn-toolbar">
            <button class="btn btn-light btn-xs" title="Rendering" (click)="rendering=!rendering" [ngClass]="{ 'active': rendering }">
                <span class="fas fa-font"></span>
            </button>

            <div class="btn-group btn-group-xs" ngbDropdown>
                <button class="btn btn-xs btn-light dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle>
                    <span class="fas fa-filter"></span>
                </button>
                <div class="dropdown-menu float-right" ngbDropdownMenu>
                    <a *ngFor="let f of axiomFilters" class="dropdown-item" (click)="$event.stopPropagation()">
                        {{f.property.getShow()}}
                        <input type="checkbox float-right" [(ngModel)]="f.show" (ngModelChange)="onFilterChange(f)">
                    </a>
                </div>
            </div>

            <button class="btn btn-light btn-xs" (click)="snapshot()" [title]="'GRAPHS.ACTIONS.EXPORT_GRAPH_SNAPSHOT'|translate">
                <span class="fas fa-camera"></span>
            </button>
        </div>
    </div>
    <div class="card-body hbox">
        <model-graph class="vbox" [graph]="graph" [filters]="axiomFilters" [rendering]="rendering" (elementSelected)="onElementSelected($event)"></model-graph>

        <div class="vbox" style="flex: initial; width: 300px; margin-left: 4px;">
            <div class="card card-default vbox">
                <div class="card-header">
                    <label></label>
                    <span style="flex: 1;"></span>
                    <div *ngIf="isSelectedElementNode()" class="btn-toolbar">
                        <div class="btn-group btn-group-xs">
                            <button type="button" class="btn btn-light" [ngClass]="{ active: selectedElement?.fixed }" [title]="'GRAPHS.ACTIONS.FIX_NODE_POSITION'|translate" (click)="fixNode()" [disabled]="!selectedElement">
                                <span class="fas fa-lock"></span>
                            </button>
                            <!-- <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" style="padding: 3px; line-height: 1;">
                                <span class="fas fa-caret-down fa-sm"></span>
                            </button>
                            <div class="dropdown-menu float-right">
                                <a class="dropdown-item" (click)="fixAll()">Fix all nodes</a>
                                <a class="dropdown-item" (click)="unfixAll()">Unfix all nodes</a>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <resource-details-panel *ngIf="selectedElement?.res" [resource]="selectedElement.res"></resource-details-panel>
                </div>
            </div>

            <force-control-panel [(ngModel)]="forces" (ngModelChange)="onForceChange()" style="margin-top: 4px"></force-control-panel>

        </div>
    </div>
</div>