<div cdkDrag cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <div class="hbox" style="align-items: center">
            <h3 class="modal-title" style="flex: 1">{{title}}</h3>
            <span *ngIf="broader" style="margin-right: 4px;">
                <button class="btn btn-light btn-xs" [title]="'DATA.ACTIONS.CHANGE_BROADER_PROP'|translate" (click)="changeBroaderProp()">
                    <rdf-resource [resource]="broaderProp"></rdf-resource>
                </button>
            </span>
            <span>
                <button class="btn btn-light btn-xs" [title]="'DATA.ACTIONS.CHANGE_CLASS'|translate" (click)="changeClass()" [disabled]="!clsChangeable">
                    <rdf-resource [resource]="resourceClass"></rdf-resource>
                </button>
            </span>
        </div>
    </div>
    <div class="modal-body vbox" (keydown.enter)="onEnter()">

        <table class="table table-sm table-borderless">
            <colgroup>
                <col style="width: 1%;">
                <col>
            </colgroup>
            <tbody>
                <tr>
                    <td class="text-right"><label>{{'MODELS.RESOURCE.LABEL'|translate}}:</label></td>
                    <td>
                        <div class="hbox" style="align-items: center; margin-bottom: 4px;">
                            <input ngbAutofocus type="text" class="form-control" style="flex: 1; margin-right: 4px;" [(ngModel)]="label">
                            <lang-picker [(ngModel)]="lang"></lang-picker>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="text-right"><label>URI:</label></td>
                    <td>
                        <editable-ns-input [(ngModel)]="uri" [placeholder]="'DATA.COMMONS.LEAVE_EMPTY_FOR_RANDOM_URI'|translate">
                        </editable-ns-input>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="vbox" style="max-height: 20vh; margin-top: 2px;">
            <scheme-selection (update)="onSchemesChanged($event)" [concept]="broader" [schemes]="schemes"></scheme-selection>
        </div>

        <custom-form *ngIf="customFormId" [cfId]="customFormId" style="border-top:1px solid #ddd; margin-top: 5px;" 
            [(ngModel)]="formFields"></custom-form>

        <div *ngIf="!lang && viewInitialized" class="alert alert-danger mt-2">
            {{'DATA.COMMONS.NO_LANGUAGE_ASSIGNED_WARN'|translate}}
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!isInputValid()">Ok</button>
        <button class="btn btn-light btn-sm" (click)="cancel()">{{'ACTIONS.CANCEL'|translate}}</button>
    </div>
</div>