<div cdkDrag cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h3 class="modal-title">{{'PROJECTS.ACL.PROJECT_ACL'|translate}}</h3>
    </div>
    <div class="modal-body vbox blockingDivHost">
        <div class="scrollableContainer">
            <table class="table table-sm table-bordered" style="margin: auto; width: auto; border-top: 0; border-left: 0; border-right: 0;">
                <thead>
                    <tr>
                        <th style="vertical-align: bottom;" class="firstCol" style="border-left: 0; border-right: 0; vertical-align: bottom;">
                            <div class="hbox">
                                <div style="flex: 1"><span class="fas fa-chevron-down"></span> {{'MODELS.PROJECT.PROJECTS'|translate}}</div>
                                <div style="margin-left: 15px">{{'MODELS.PROJECT.CONSUMER'|translate}} <span class="fas fa-chevron-right"></span></div>
                            </div>
                        </th>
                        <th *ngFor="let cons of consumerList" class="rotate" [title]="cons">
                            <div class="rotated-container">
                                <div class="consumer-container">
                                    <span class="consumer-text">{{cons}}</span>
                                </div>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let row of aclTable">
                        <tr>
                            <td style="font-weight: bold;" class="firstCol">
                                <div class="hbox" style="align-items: center;">
                                    <div class="ellipsable" style="flex: 1;">{{row.project}}</div>
                                    <button class="btn btn-light btn-xs float-right" style="margin-left: 8px;" [title]="'PROJECTS.ACTIONS.SHOW_ACL_MATRIX'|translate" (click)="editProjectACL(row.project)">
                                        <span class="fas fa-pencil-alt"></span>
                                    </button>

                                    <span [class]="row.lock.class" [title]="row.lock.title" style="margin-left: 4px;">
                                        {{row.lock.status.availableLockLevel}}
                                    </span>
                                </div>
                            </td>
                            <td *ngFor="let col of row.cols" [class]="col.accessLevelCell.class" [title]="col.accessLevelCell.title">
                                {{col.accessLevelCell.available}}
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>

        </div>

        <div #blockingDiv class="blockingDiv" style="display:none">
            <div class="loadingDiv">
                <div>
                    <p>Loading...</p><img src="./assets/images/loading.gif" />
                </div>
            </div>
        </div>
        
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" (click)="ok()">Ok</button>
    </div>
</div>