<div class="card card-default vbox blockingDivHost">
    <div class="card-header">
        <div class="hbox" style="align-items: center">
            <rdf-resource *ngIf="resource" [resource]="resource"></rdf-resource>
            <resource-rename [resource]="resource" style="flex: 1;" [readonly]="readonly" (update)="buildResourceView(resource)">
            </resource-rename>
            
            <button class="btn btn-light btn-xs ml-2" [ngClass]="{active: rendering}" title="Rendering" (click)="switchRendering()">
                <span class="fas fa-font"></span>
            </button>
            <button class="btn btn-light btn-xs ml-2" [ngClass]="{active: showInferred}" [title]="'RESOURCE_VIEW.ACTIONS.SHOW_HIDE_INFERRED'|translate" (click)="switchInferred()">
                <span *ngIf="showInferred" class="fas fa-eye"></span>
                <span *ngIf="!showInferred" class="fas fa-eye-slash"></span>
            </button>
            <button class="btn btn-light btn-xs ml-2" [ngClass]="{active: valueFilterLangEnabled}" [title]="'RESOURCE_VIEW.ACTIONS.TOGGLE_VALUE_FILTER_LANG'|translate" (click)="switchValueFilterLang()">
                <span class="fas fa-filter"></span>
            </button>
            
            <button *ngIf="notificationsAvailable" class="btn btn-light btn-xs ml-2" [ngClass]="{active: isWatching}" 
                (click)="changeNotificationStatus()" [title]="'RESOURCE_VIEW.ACTIONS.TOGGLE_NOTIFICATIONS'|translate">
                <span class="fas fa-bell"></span>
            </button>

            <div *ngIf="versioningAvailable" class="dropdown ml-2" ngbDropdown>
                <button class="btn btn-light btn-xs dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle (click)="listVersions()" [title]="'RESOURCE_VIEW.ACTIONS.CHANGE_VERSION'|translate">
                    <span class="far fa-clock"></span>
                </button>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <a class="dropdown-item" (click)="switchToVersion()" style="padding-right: 18px">
                        Current
                        <span *ngIf="!activeVersion" class="fas fa-check float-right"></span>
                    </a>
                    <a *ngFor="let v of versionList" class="dropdown-item" (click)="switchToVersion(v)">
                        {{v.dateTimeLocal}} - {{v.versionId}}
                        <span *ngIf="v == activeVersion" class="fas fa-check"></span>
                    </a>
                </div>
            </div>

            <div *ngIf="collaborationAvailable" class="dropdown ml-2" ngbDropdown>
                <button class="btn btn-light btn-xs dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle [title]="'COLLABORATION.ACTIONS.SHOW_ISSUES'|translate">
                    <span [class]="'fas fa-exclamation-circle ' + issuesStruct.btnClass"></span>
                </button>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <a *ngFor="let i of issuesStruct.issues" class="dropdown-item hbox align-items-center">
                        <a style="flex: 1;" [href]="i.getUrl()" target="_blank" [title]="i.getSummary()">
                            {{i.getKey()}}
                            <div [class]="'badge float-right ' + i.getStatusClass()" style="font-size: 100%">{{i.getStatus()}}</div>
                        </a>
                        <button class="btn btn-light btn-xs ml-1" (click)="unassignIssue(i)" [title]="'COLLABORATION.ACTIONS.UNASSIGN_ISSUE'|translate">
                            <span class="far fa-trash-alt"></span>
                        </button>
                    </a>
                    <div *ngIf="issuesStruct.issues" class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="createIssue()">{{'COLLABORATION.ACTIONS.CREATE_ISSUE'|translate}}</a>
                    <a class="dropdown-item" (click)="assignToIssue()">{{'COLLABORATION.ACTIONS.ASSIGN_TO_ISSUE'|translate}}</a>
                </div>
            </div>

            <button class="btn btn-light btn-xs ml-2" [title]="'ACTIONS.REFRESH'|translate" (click)="buildResourceView(resource)">
                <span class="fas fa-redo"></span>
            </button>

            <button *ngIf="settingsAvailable" class="btn btn-light btn-xs ml-2" [title]="'COMMONS.SETTINGS'|translate" (click)="openSettings()">
                <span class="fas fa-cog"></span>
            </button>
            
            <res-view-menu [resource]="resource" [rendering]="rendering" [showInferred]="showInferred" [readonly]="readonly" [projectCtx]="projectCtx"
                (update)="buildResourceView(resource)" (assertInferred)="assertInferredStatements()"></res-view-menu>
        </div>
    </div>
    <div class="card-body scrollableContainer">
        <div *ngIf="unexistingResource" class="alert alert-danger">
            {{'RESOURCE_VIEW.STATUS.RESOURCE_NOT_EXISTING'|translate}}
        </div>
        <div *ngIf="unknownHost" class="alert alert-danger">
            {{'RESOURCE_VIEW.STATUS.RESOURCE_UNKNOWN_HOST'|translate}}
        </div>
        <ng-container *ngIf="!unexistingResource && !unknownHost">
            <types-renderer *ngIf="resViewSections['types']" [pred-obj-list]="resViewSections['types']" 
                [resource]="resource" [rendering]="rendering" [readonly]="readonly"
                (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </types-renderer>
            <class-axiom-renderer *ngIf="resViewSections['classaxioms']" [pred-obj-list]="resViewSections['classaxioms']" 
                [resource]="resource" [rendering]="rendering" [readonly]="readonly" 
                (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </class-axiom-renderer>
            <top-concepts-renderer *ngIf="resViewSections['topconceptof']" [pred-obj-list]="resViewSections['topconceptof']" 
                [resource]="resource" [rendering]="rendering" [readonly]="readonly" 
                (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </top-concepts-renderer>
            <schemes-renderer *ngIf="resViewSections['schemes']" [pred-obj-list]="resViewSections['schemes']" 
                [resource]="resource" [rendering]="rendering" [readonly]="readonly" 
                (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </schemes-renderer>
            <broaders-renderer *ngIf="resViewSections['broaders']" [pred-obj-list]="resViewSections['broaders']" 
                [resource]="resource" [rendering]="rendering" [readonly]="readonly" 
                (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </broaders-renderer>
            <superproperties-renderer *ngIf="resViewSections['superproperties']" [pred-obj-list]="resViewSections['superproperties']" 
                [resource]="resource" [rendering]="rendering" [readonly]="readonly"
                (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </superproperties-renderer>
            <equivalent-properties-renderer *ngIf="resViewSections['equivalentProperties']" [pred-obj-list]="resViewSections['equivalentProperties']" 
                [resource]="resource" [rendering]="rendering" [readonly]="readonly" 
                (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </equivalent-properties-renderer>
            <disjoint-properties-renderer *ngIf="resViewSections['disjointProperties']" [pred-obj-list]="resViewSections['disjointProperties']" 
                [resource]="resource" [rendering]="rendering" [readonly]="readonly" 
                (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </disjoint-properties-renderer>
            <property-chain-renderer *ngIf="resViewSections['subPropertyChains']" [pred-obj-list]="resViewSections['subPropertyChains']" 
                [resource]="resource" [rendering]="rendering" [readonly]="readonly" 
                (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </property-chain-renderer>
            <constituents-renderer *ngIf="resViewSections['constituents']" [pred-obj-list]="resViewSections['constituents']" 
                [resource]="resource" [rendering]="rendering" [readonly]="readonly" 
                (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </constituents-renderer>
            <subterms-renderer *ngIf="resViewSections['subterms']" [pred-obj-list]="resViewSections['subterms']" 
                [resource]="resource" [rendering]="rendering" [readonly]="readonly" 
                (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </subterms-renderer>
            <domains-renderer *ngIf="resViewSections['domains']" [pred-obj-list]="resViewSections['domains']" 
                [resource]="resource" [rendering]="rendering" [readonly]="readonly"
                (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </domains-renderer>
            <ranges-renderer *ngIf="resViewSections['ranges']" [pred-obj-list]="resViewSections['ranges']" 
                [resource]="resource" [rendering]="rendering" [readonly]="readonly"
                (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </ranges-renderer>
            <property-facets-renderer *ngIf="resViewSections['facets'] && propertyFacets" [pred-obj-list]="resViewSections['facets']" [facets]="propertyFacets"
                [resource]="resource" [readonly]="readonly" 
                (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </property-facets-renderer>
            <datatype-definition-renderer *ngIf="resViewSections['datatypeDefinitions']" [pred-obj-list]="resViewSections['datatypeDefinitions']" 
                [resource]="resource" [rendering]="rendering" [readonly]="readonly" 
                (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </datatype-definition-renderer>
            <lexicalizations-renderer *ngIf="resViewSections['lexicalizations']" [pred-obj-list]="resViewSections['lexicalizations']" 
                [resource]="resource" [rendering]="rendering" [readonly]="readonly" 
                (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </lexicalizations-renderer>
            <lexical-forms-renderer *ngIf="resViewSections['lexicalForms']" [pred-obj-list]="resViewSections['lexicalForms']" 
                [resource]="resource" [rendering]="rendering" [readonly]="readonly" 
                (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </lexical-forms-renderer>
            <lexical-senses-renderer *ngIf="resViewSections['lexicalSenses']" [pred-obj-list]="resViewSections['lexicalSenses']" 
                [resource]="resource" [rendering]="rendering" [readonly]="readonly" 
                (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </lexical-senses-renderer>
            <denotations-renderer *ngIf="resViewSections['denotations']" [pred-obj-list]="resViewSections['denotations']" 
                [resource]="resource" [rendering]="rendering" [readonly]="readonly" 
                (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </denotations-renderer>
            <evoked-lexical-concepts-renderer *ngIf="resViewSections['evokedLexicalConcepts']" [pred-obj-list]="resViewSections['evokedLexicalConcepts']" 
                [resource]="resource" [rendering]="rendering" [readonly]="readonly" 
                (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </evoked-lexical-concepts-renderer>
            <notes-renderer *ngIf="resViewSections['notes']" [pred-obj-list]="resViewSections['notes']" 
                [resource]="resource" [rendering]="rendering" [readonly]="readonly"
                (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </notes-renderer>
            <members-renderer *ngIf="resViewSections['members']" [pred-obj-list]="resViewSections['members']" 
                [resource]="resource" [rendering]="rendering" [readonly]="readonly"
                (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </members-renderer>
            <members-ordered-renderer *ngIf="resViewSections['membersOrdered']" [pred-obj-list]="resViewSections['membersOrdered']" 
                [resource]="resource" [rendering]="rendering" [readonly]="readonly" 
                (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </members-ordered-renderer>
            <label-relations-renderer *ngIf="resViewSections['labelRelations']" [pred-obj-list]="resViewSections['labelRelations']" 
                [resource]="resource" [rendering]="rendering" [readonly]="readonly" 
                (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </label-relations-renderer>
            <form-representations-renderer *ngIf="resViewSections['formRepresentations']" [pred-obj-list]="resViewSections['formRepresentations']" 
                [resource]="resource" [rendering]="rendering" [readonly]="readonly" 
                (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </form-representations-renderer>
            <form-based-preview-renderer *ngIf="resViewSections['formBasedPreview']" [pred-obj-list]="resViewSections['formBasedPreview']" 
                [resource]="resource" [rendering]="rendering" [readonly]="true" 
                (dblclickObj)="objectDblClick($event)">
            </form-based-preview-renderer>
            <imports-renderer *ngIf="resViewSections['imports']" [pred-obj-list]="resViewSections['imports']" 
                [resource]="resource" [rendering]="rendering" [readonly]="readonly" 
                (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </imports-renderer>
            <rdfs-members-renderer *ngIf="resViewSections['rdfsMembers']" [pred-obj-list]="resViewSections['rdfsMembers']" 
                [resource]="resource" [rendering]="rendering" [readonly]="readonly" 
                (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </rdfs-members-renderer>
            <properties-renderer *ngIf="resViewSections['properties']" [pred-obj-list]="resViewSections['properties']" 
                [resource]="resource" [rendering]="rendering" [readonly]="readonly" 
                (update)="buildResourceView(resource)" (dblclickObj)="objectDblClick($event)">
            </properties-renderer>
        </ng-container>
    </div>
    <div class="card-footer" style="min-height: 31px;">
        <div *ngIf="resourcePosition" class="float-right">
            <div class="dropup float-right" ngbDropdown placement="top-right">
                <button class="btn btn-light dropdown-toggle btn-xs" data-toggle="dropdown" ngbDropdownToggle style="padding: 0px; border: none; background-color: transparent;">
                    <span [ngSwitch]="resource.getAdditionalProperty('accessMethod')">
                        {{'STATUS.STATUS'|translate}}:
                        <ng-container *ngSwitchCase="'local'">
                            <img *ngIf="resourcePositionLocalProj" src="./assets/images/icons/local_current_project.png" style="width: 11px; margin-bottom: 3px;">
                            <img *ngIf="!resourcePositionLocalProj" src="./assets/images/icons/local_other_project.png" style="width: 11px; margin-bottom: 3px;">
                        </ng-container>
                        <span *ngSwitchCase="'dereferenciation'" class="fas fa-download"></span>
                        <img *ngSwitchCase="'sparql'" src="./assets/images/icons/res/ontology.png" style="width: 11px; margin-bottom: 3px;">
                        <img *ngSwitchCase="'sparql-degraded'" src="./assets/images/icons/res/ontology.png" style="width: 11px; margin-bottom: 3px; opacity: .5;">
                    </span>
                    <span *ngIf="resourcePosition.isUnknown()" style="font-weight: 900; color: red;" [title]="'RESOURCE_VIEW.STATUS.UNKNOWN_POSITION'|translate">!</span>
                </button>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <a class="dropdown-item" style="cursor: initial; background-color: initial;">
                        <label>{{'RESOURCE_VIEW.STATUS.ACCESS_METHOD'|translate}}:</label>
                        {{resource.getAdditionalProperty('accessMethod')}}
                    </a>
                    <a *ngIf="resourcePosition.isLocal()" class="dropdown-item" style="cursor: initial; background-color: initial;">
                        <label *ngIf="resourcePositionLocalProj">{{'RESOURCE_VIEW.STATUS.LOCAL_PROJECT'|translate}}: </label>
                        <label *ngIf="!resourcePositionLocalProj">{{'RESOURCE_VIEW.STATUS.OTHER_LOCAL_PROJECT'|translate}}: </label>
                        {{resourcePositionDetails}}
                    </a>
                    <a *ngIf="resourcePosition.isRemote()" class="dropdown-item" style="cursor: initial; background-color: initial;">
                        <label>{{'RESOURCE_VIEW.STATUS.REMOTE_DATASET'|translate}}: </label>
                        {{resourcePositionDetails}}
                    </a>
                    <a *ngIf="resourcePosition.isUnknown()" class="dropdown-item" style="cursor: initial; background-color: initial;">
                        <label>{{'RESOURCE_VIEW.STATUS.REMOTE_DATASET'|translate}}: </label>
                        Unknown, <a (click)="discoverDataset()">discover</a>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div #blockDiv class="blockingDiv" style="display:none">
        <div class="loadingDiv">
            <div>
                <p>Loading...</p><img src="./assets/images/loading.gif" />
            </div>
        </div>
    </div>
    
</div>