<div cdkDrag cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h3 class="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body">

        <div class="form-group row">
            <label class="col-form-label col-sm-3">{{'DATA_MANAGEMENT.VERSIONING.VERSION_ID'|translate}}:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" [(ngModel)]="versionId" sanitized>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-sm-3">{{'MODELS.PROJECT.REPO_ACCESS'|translate}}:</label>
            <div class="col-sm-9">
                <div class="hbox">
                    <select class="form-control" [(ngModel)]="selectedRepositoryAccess">
                        <option *ngFor="let repoAcc of repositoryAccessList" [ngValue]="repoAcc">{{repoAcc}}</option>
                    </select>
                    <div *ngIf="isSelectedRepoAccessRemote()" class="input-group" style="margin-left: 5px; min-width: 210px;">
                        <select class="form-control" [(ngModel)]="selectedRemoteRepoConfig">
                            <option *ngFor="let c of remoteRepoConfigs" [ngValue]="c">{{c.serverURL}}</option>
                        </select>
                        <span class="input-group-append">
                            <button class="btn btn-light" (click)="configureRemoteRepositoryAccess()">
                                <span class="fas fa-pencil-alt"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="isSelectedRepoAccessCreateMode()" class="form-group row">
            <label class="col-form-label col-sm-3">{{'DATA_MANAGEMENT.VERSIONING.REPO_CONFIGURATION'|translate}}:</label>
            <div class="col-sm-9">
                <extension-configurator #repoConfigurator *ngIf="repoExtensions" [extensions]="repoExtensions"
                    (extensionUpdated)="selectedRepoExtension = $event" (configurationUpdated)="selectedRepoConfig = $event">
                </extension-configurator>
            </div>
        </div>

        <ng-container *ngIf="!isSelectedRepoAccessCreateMode()">
            <div class="form-group row">
                <label class="col-form-label col-sm-3">{{'MODELS.PROJECT.REPOSITORY_ID'|translate}}:</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="repositoryId" [disabled]="isSelectedRepoAccessCreateMode()">
                        <span class="input-group-append">
                            <button class="btn btn-light" type="button" (click)="changeRemoteRepository()"
                                [title]="'ACTIONS.SELECT_REMOTE_REPO'|translate" [disabled]="isSelectedRepoAccessCreateMode()">
                                <span class="fas fa-folder-open"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-form-label col-sm-3">{{'MODELS.PROJECT.BACKEND_TYPE'|translate}}</label>
                <div class="col-sm-9">
                    <select class="form-control" [(ngModel)]="selectedRepoBackendType">
                        <option *ngFor="let bt of backendTypes" [value]="bt">{{bt}}</option>
                    </select>
                </div>
            </div>
        </ng-container>


    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" (click)="ok()">Ok</button>
        <button class="btn btn-light btn-sm" (click)="cancel()">{{'ACTIONS.CANCEL'|translate}}</button>
    </div>
</div>