<div class="card card-default vbox">
    <div class="card-header">
        <label style="flex: 1">{{'DATA_MANAGEMENT.VERSIONING.VERSIONS'|translate}}:</label>

        <button class="btn btn-light btn-xs" (click)="swithcToVersion()" [disabled]="!selectedVersion">
            {{'ACTIONS.SWITCH_TO_VERSION'|translate}}
        </button>

        <button *ngIf="isDeleteAuthorized" class="btn btn-light btn-xs ml-1" (click)="deleteVersion()" [title]="'ACTIONS.DELETE'|translate"
            [disabled]="!selectedVersion || selectedVersion.versionId == 'CURRENT' || isActiveVersion(selectedVersion)">
            <span class="far fa-trash-alt"></span>
        </button>

        <div class="btn-group btn-group-xs ml-1">
            <button class="btn btn-light" (click)="dump()">
                {{'DATA_MANAGEMENT.VERSIONING.DUMP'|translate}}
            </button>
            <div *ngIf="isAdmin" class="btn-group" ngbDropdown>
                <button class="btn btn-light dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle>
                    <span class="fas fa-caret-down fa-sm"></span>
                </button>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <a class="dropdown-item" (click)="dump()">{{'ACTIONS.DUMP_NEW_VERSION'|translate}}</a>
                    <a class="dropdown-item" (click)="dumpWithLocation()">{{'ACTIONS.DUMP_NEW_VERSION_DIFFERENT_LOCATION'|translate}}</a>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body scrollableContainer" style="flex: 1;">
        <table class="table table-sm table-hoverable" style="flex: 1">
            <thead>
                <tr>
                    <th class="text-center">{{'DATA_MANAGEMENT.VERSIONING.VERSION_ID'|translate}}</th>
                    <th class="text-center">{{'DATA_MANAGEMENT.VERSIONING.DATETIME'|translate}}</th>
                    <th class="text-center">{{'MODELS.PROJECT.REPOSITORY_ID'|translate}}</th>
                    <th class="text-center">{{'DATA_MANAGEMENT.VERSIONING.REPO_LOCATION'|translate}}</th>
                    <th class="text-center">{{'STATUS.ACTIVE'|translate}}</th>
                    <th class="text-center">{{'STATUS.STATUS'|translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let v of versionList; let idx=index" (click)="selectVersion(v)" [ngClass]="{ 'table-primary': v == selectedVersion }">
                    <td class="text-center">
                        {{v.versionId}}
                    </td>
                    <td class="text-center">
                        {{v.dateTimeLocal}}
                    </td>
                    <td class="text-center">
                        {{v.repositoryId}}
                    </td>
                    <td class="text-center">
                        {{v.repositoryLocation}}
                    </td>
                    <td class="text-center">
                        <span *ngIf="isActiveVersion(v)" class="fas fa-check"></span>
                    </td>
                    <td class="text-center">
                        <ng-container *ngIf="idx == 0">
                            ---
                        </ng-container>
                        <ng-container *ngIf="idx != 0">
                            {{v.repositoryStatus | lowercase}}
                            <button class="btn btn-xs btn-light" (click)="closeVersion(v)"
                                [disabled]="v.repositoryStatus != 'INITIALIZED' || isActiveVersion(v)">
                                {{'ACTIONS.CLOSE'|translate}}
                            </button>
                        </ng-container>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>