<div cdkDrag cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h3 class="modal-title">
            {{'HISTORY_VALIDATION.COMMIT.COMMIT_DETAILS'|translate}}
        </h3>
    </div>
    <div class="modal-body vbox blockingDivHost" style="min-height: 20vh;">

        <div *ngIf="truncated" class="alert alert-warning" style="margin-bottom: 6px;">
            {{messageTruncated}}
        </div>

        <div class="scrollableContainer">
            <table class="table table-sm table-hoverable">
                <colgroup>
                    <col style="width: 1%">
                    <col>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th class="text-center"></th>
                        <th class="text-center">{{'MODELS.RESOURCE.SUBJECT'|translate}}</th>
                        <th class="text-center">{{'MODELS.RESOURCE.PREDICATE'|translate}}</th>
                        <th class="text-center">{{'MODELS.RESOURCE.OBJECT'|translate}}</th>
                        <th class="text-center">{{'HISTORY_VALIDATION.COMMIT.CONTEXT'|translate}}Context</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let add of additions">
                        <td class="text-center" style="background: lightgreen !important; padding: 3px 6px;">
                            <span class="fas fa-plus" style="color: green" [title]="'STATUS.ADDED'|translate"></span>
                        </td>
                        <td class="text-center clickable" (click)="openResource(add.subject)">
                            {{getShow(add.subject)}}
                        </td>
                        <td class="text-center clickable" (click)="openResource(add.predicate)">
                            {{getShow(add.predicate)}}
                        </td>
                        <td class="text-center" [ngClass]="{ clickable: add.object.isResource() }" (click)="openResource(add.object)">
                            {{getShow(add.object)}}
                        </td>
                        <td class="text-center">
                            {{getShow(add.context)}}
                        </td>
                    </tr>
                    <tr *ngFor="let rem of removals">
                        <td class="text-center" style="background: lightpink !important; padding: 3px 6px;">
                            <span class="fas fa-minus" style="color: red" [title]="'STATUS.REMOVED'|translate"></span>
                        </td>
                        <td class="text-center clickable" (click)="openResource(rem.subject)">
                            {{getShow(rem.subject)}}
                        </td>
                        <td class="text-center clickable" (click)="openResource(rem.predicate)">
                            {{getShow(rem.predicate)}}
                        </td>
                        <td class="text-center" [ngClass]="{ clickable: rem.object.isResource() }" (click)="openResource(rem.object)">
                            {{getShow(rem.object)}}
                        </td>
                        <td class="text-center">
                            {{getShow(rem.context)}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div #blockingDiv class="blockingDiv" style="display:none">
            <div class="loadingDiv">
                <div>
                    <p>Loading...</p><img src="./assets/images/loading.gif" />
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" (click)="ok()">Ok</button>
    </div>
</div>