<div class="vbox">

    <div class="hbox">
        <div class="vbox" style="flex: 4; font-size: 12px; padding: 6px;">
            <div class="hbox" style="flex: initial; align-items: center; margin-bottom: 10px;">
                <div style="padding: 10px; margin-right: 20px; background: linear-gradient(180deg, #1e4387, #00b5e9); border-radius: 32px;">
                    <img src="./assets/images/logos/vb_logo.png" style="max-height: 130px;">
                </div>
                <div style="font-size: 13px;">
                    <h1 style="margin-top: 0;">{{'HOME.WELCOME'|translate}}</h1>
                    <p [innerHTML]="'HOME.DESCRIPTION'|translate"></p>
                    <p [innerHTML]="'HOME.POWERED_BY'|translate"></p>
                </div>
            </div>

            <div class="vbox">
                <div *ngIf="safeCustomContentFromPref" class="vbox" style="flex: initial" [innerHTML]="safeCustomContentFromPref"></div>
                <div *ngIf="safeCustomContentFromFile" class="vbox" style="flex: initial" [innerHTML]="safeCustomContentFromFile"></div>
            </div>

            <p *ngIf="privacyStatementAvailable" style="align-self: flex-end;">
                {{'HOME.PRIVACY_STATEMENT.READ_OUR'|translate}} 
                <a [routerLink]="" (click)="downloadPrivacyStatement()">
                    {{'HOME.PRIVACY_STATEMENT.LINK_TEXT'|translate}}
                </a>
            </p>
        </div>
        <div *ngIf="!isUserLogged()" style="flex: 1; padding-left: 10px; margin-bottom: 5px; border-left: 1px solid #ddd">
            <login (loggedIn)="onLogin()"></login>
        </div>
    </div>

    <table class="table" style="background-color: #E7F0FF">
        <tbody>
            <tr>
                <td colspan="2"><label>{{'HOME.DEVELOPED_BY.TITLE'|translate}}:</label></td>
                <td colspan="2"><label>{{'HOME.MANAGED_BY.TITLE'|translate}}:</label></td>
            </tr>
            <tr>
                <td style="border: none; width: 5%; text-align: center;">
                    <a href="http://web.uniroma2.it/home/newlang/english" target="_blank">
                        <img src="./assets/images/logos/logo_tor_vergata.png" class="homeLogo">
                    </a>
                </td>
                <td style="border: none; width: 45%;">
                    <a href="http://web.uniroma2.it/home/newlang/english" target="_blank">
                        <div>
                            <div class="organizzationName">{{'HOME.DEVELOPED_BY.TOR_VERGATA_NAME'|translate}}</div>
                            <div class="organizzationSubtitle">{{'HOME.DEVELOPED_BY.TOR_VERGATA_SUBTITLE'|translate}}</div>
                        </div>
                    </a>
                </td>

                <td style="border: none; width: 5%; text-align: center;">
                    <a href="https://www.infeurope.lu/" target="_blank">
                        <img src="./assets/images/logos/infeurope-blue-logo.png" class="homeLogo">
                    </a>
                </td>
                <td style="border: none; width: 45%;">
                    <a href="http://web.uniroma2.it/home/newlang/english" target="_blank">
                        <div>
                            <div class="organizzationName">{{'HOME.MANAGED_BY.INFEUROPE_NAME'|translate}}</div>
                            <div class="organizzationSubtitle">{{'HOME.MANAGED_BY.INFEUROPE_SUBTITLE'|translate}}</div>
                        </div>
                    </a>
                </td>
            </tr>
            <tr>
                <td colspan="4"><label>{{'HOME.FUNDED_BY.TITLE'|translate}}:</label></td>
            </tr>
            <tr>
                <td style="border: none; text-align: center;">
                    <a href="http://ec.europa.eu/isa/isa2/index_en.htm" target="_blank">
                        <img src="./assets/images/logos/european_commission_logo.gif" class="homeLogo">
                    </a>
                </td>
                <td style="border: none;">
                    <a href="http://ec.europa.eu/isa/isa2/index_en.htm" target="_blank">
                        <div>
                            <div>
                                <div class="organizzationName" [innerHTML]="'HOME.FUNDED_BY.ISA2_NAME'|translate"></div>
                                <div class="organizzationSubtitle">
                                    {{'HOME.FUNDED_BY.ISA2_SUBTITLE'|translate}}
                                </div>
                            </div>
                        </div>
                    </a>
                </td>
                <td style="border: none; text-align: center;">
                    <a href="https://publications.europa.eu/en/home" target="_blank">
                        <img src="./assets/images/logos/publications_office_eu_logo.png" class="homeLogo">
                    </a>
                </td>
                <td style="border: none;">
                    <a href="https://publications.europa.eu/en/home" target="_blank">
                        <div>
                            <div>
                                <div class="organizzationName">{{'HOME.FUNDED_BY.OP_NAME'|translate}}</div>
                                <div class="organizzationSubtitle">{{'HOME.FUNDED_BY.OP_SUBTITLE'|translate }}</div>
                            </div>
                        </div>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

</div>