<div class="card card-default vbox" style="position: relative">
    <div class="card-header">
        <label style="flex: 1;">{{'ICV.STRUCTURAL.OMITTED_TOP_CONCEPT.NAME'|translate}}</label>
        <button class="btn btn-xs btn-light" (click)="runIcv()">{{'ACTIONS.RUN'|translate}}</button>
    </div>
    <div class="card-body vbox">
        
        <div *ngIf="!brokenSchemeList" style="padding: 4px;">
            {{'ICV.PRESS_RUN_TO_RUN_CHECK.0'|translate}} <strong>{{'ACTIONS.RUN'|translate}}</strong> {{'ICV.PRESS_RUN_TO_RUN_CHECK.1'|translate}}
        </div>
        <div *ngIf="brokenSchemeList" class="scrollableContainer">
            <table class="table table-sm table-hoverable" style="flex: 1;">
                <thead>
                    <tr>
                        <th class="text-center">{{'DATA.SCHEME.SCHEME'|translate}}</th>
                        <th class="text-center" style="width: 1%">{{'ACTIONS.ACTION'|translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let scheme of brokenSchemeList">
                        <td>
                            <rdf-resource class="clickable" [resource]="scheme" (click)="onResourceClick(scheme)"></rdf-resource>
                        </td>
                        <td style="white-space: nowrap">
                            <button class="btn btn-xs btn-light" (click)="selectTopConcept(scheme)">{{'ICV.STRUCTURAL.OMITTED_TOP_CONCEPT.SELECT_TOP_CONCEPT'|translate}}</button>
                            <button class="btn btn-xs btn-light" (click)="createTopConcept(scheme)">{{'ICV.STRUCTURAL.OMITTED_TOP_CONCEPT.CREATE_TOP_CONCEPT'|translate}}</button>
                            <button class="btn btn-xs btn-light" (click)="deleteScheme(scheme)">{{'DATA.ACTIONS.DELETE_SCHEME'|translate}}</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer">
        <div  class="dropup float-right">
            <button *ngIf="brokenSchemeList && brokenSchemeList.length != 0" class="btn btn-light btn-xs" type="button"
                (click)="deleteAllScheme()">
                {{'ACTIONS.DELETE_ALL'|translate}}
            </button>
        </div>
    </div>
    
    <div id="blockDivIcv" class="blockingDiv" style="display:none">
        <div class="loadingDiv">
            <div>
                <p>Loading...</p><img src="./assets/images/loading.gif" />
            </div>
        </div>
    </div>
    
</div>