<div cdkDrag cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <div class="hbox" style="align-items: center">
            <h3 class="modal-title" style="flex: 1">{{'SEARCH.ASSISTED_SEARCH.ASSISTED_SEARCH'|translate}}</h3>
            <div class="btn-group btn-group-sm float-right" style="margin-bottom: 5px; align-self: flex-end;">
                <button class="btn btn-light" [ngClass]="{ active : targetPosition == ResourcePositionEnum.local }" (click)="changeTargetPosition(ResourcePositionEnum.local)">
                    {{'SEARCH.ASSISTED_SEARCH.LOCAL'|translate}}
                </button>
                <button class="btn btn-light" [ngClass]="{ active : targetPosition == ResourcePositionEnum.remote }" (click)="changeTargetPosition(ResourcePositionEnum.remote)" [disabled]="!isRemoteAuthorized()">
                    {{'SEARCH.ASSISTED_SEARCH.REMOTE'|translate}}
                </button>
            </div>
        </div>
    </div>
    <div class="modal-body vbox scrollableContainer blockingDivHost">

        <ng-container *ngIf="targetPosition == ResourcePositionEnum.local">
            <div class="card card-default">
                <div class="card-header">
                    <label>{{'MODELS.PROJECT.PROJECTS'|translate}}</label>
                </div>
                <div class="card-body vbox scrollableContainer" style="max-height: 150px;">
                    <div *ngFor="let p of projectList">
                        <div class="listItem" [ngClass]="{ active : p == selectedProject }" (click)="selectProject(p)">
                            {{p.getName()}}
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="selectedProject" style="margin-top: 4px;">
                <div *ngIf="!isProjectMetadataAvailable(); else mediationBlock" class="alert alert-warning">
                    {{'SEARCH.ASSISTED_SEARCH.METADATA_UNAVAILABLE_LOCAL_WARNING.METADATA_NOT_AVAILABLE'|translate:translationParams}}
                    <a (click)="generateProjectMetadata()" style="cursor: pointer">{{'SEARCH.ASSISTED_SEARCH.METADATA_UNAVAILABLE_LOCAL_WARNING.HERE'|translate}}</a>
                    {{'SEARCH.ASSISTED_SEARCH.METADATA_UNAVAILABLE_LOCAL_WARNING.TO_GENERATE_IT'|translate}}
                </div>
            </div>
        </ng-container>

        
        <ng-container *ngIf="targetPosition == ResourcePositionEnum.remote">
            <div class="card card-default">
                <div class="card-header">
                    <label style="flex: 1;">{{'SEARCH.ASSISTED_SEARCH.REMOTE_DATASETS'|translate}}</label>
                    <button class="btn btn-light btn-xs" (click)="addRemoteDataset()" [title]="'ACTIONS.ADD'|translate">
                        <span class="fas fa-plus"></span>
                    </button>
                </div>
                <div class="card-body vbox scrollableContainer" style="max-height: 150px;">
                    <div *ngFor="let d of remoteDatasets">
                        <div class="listItem" [ngClass]="{ active : d == selectedDataset }" (click)="selectDataset(d)" [title]="d.identity">
                            <span><label *ngIf="d.title">{{d.title}}:</label> {{d.uriSpace}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="selectedDataset" style="margin-top: 4px;">
                <div *ngIf="!isDatasetMetadataAvailable(); else mediationBlock" class="alert alert-warning">
                    {{'SEARCH.ASSISTED_SEARCH.METADATA_UNAVAILABLE_REMOTE_WARNING'|translate:translationParams}}
                </div>
            </div>
        </ng-container>

        <ng-template #mediationBlock>
            <div class="card card-default">
                <div class="card-header">
                    <div style="flex: 1;">
                        <label style="margin-right: 4px;">{{'SEARCH.ASSISTED_SEARCH.PAIRED_LEX_SETS'|translate}}</label>
                        <span class="fas fa-info-circle" [title]="'SEARCH.ASSISTED_SEARCH.PAIRED_LEX_SETS_INFO'|translate"></span>
                    </div>
                    <button *ngIf="targetPosition == ResourcePositionEnum.local" class="btn btn-xs btn-light" (click)="refreshTargetMetadata()" [title]="'SEARCH.ASSISTED_SEARCH.REFRESH_METADATA_INFO'|translate">
                        <span class="fas fa-redo"></span>
                    </button>
                </div>
                <div class="card-body scrollableContainer" style="max-height: 150px;">
                    <table class="table table-sm table-hoverable">
                        <thead>
                            <tr>
                                <th>{{'COMMONS.LANGUAGE.LANGUAGE'|translate}}</th>
                                <th class="text-center" [title]="'SEARCH.ASSISTED_SEARCH.PERCENTAGE_INFO'|translate">%</th>
                                <th class="text-center" [title]="'SEARCH.ASSISTED_SEARCH.AVG_INFO'|translate">Avg</th>
                                <th class="text-center" [title]="'MODELS.MAPLE.DATASET.LEXICALIZATION_MODEL'|translate">LexModel</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let ls of pairedLexicalizationSets; let i = index">
                                <td>
                                    <div class="form-check m-0">
                                        <input class="form-check-input" [id]="'langCheck'+i" type="checkbox" [(ngModel)]="languagesToCheck[i].checked">
                                        <label class="form-check-label" [for]="'langCheck'+i">{{languagesToCheck[i].lang}}</label>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span *ngIf="ls.percentage">{{ls.percentage*100}}</span>
                                </td>
                                <td class="text-center">{{ls.avgNumOfLexicalizations}}</td>
                                <td class="text-center">{{getLexModelDisplayName(ls.lexicalizationModel)}}</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card card-default" style="margin-top: 4px;">
                <div class="card-header">
                    <span style="flex: 1">
                        <label style="margin-right: 4px;">{{'SEARCH.SETTINGS.SEARCH_MODE'|translate}}</label>
                        <span class="fas fa-info-circle" [title]="'SEARCH.ASSISTED_SEARCH.SEARCH_MODE_INFO'|translate"></span>
                    </span>
                    <span *ngIf="getCheckedSearchMode().length == 0" class="grayText">
                        <span class="fas fa-exclamation-triangle"></span>
                        {{'SEARCH.ASSISTED_SEARCH.NO_SEARCH_MODE_SELECTED_WARNING'|translate}}
                    </span>
                </div>
                <div class="card-body">
                    <div *ngFor="let sm of stringMatchModes; let i=index" class="form-check mt-2">
                        <input class="form-check-input" [id]="'smCheck'+i" type="checkbox" [(ngModel)]="sm.checked">
                        <label class="form-check-label" [for]="'smCheck'+i">{{sm.labelTranslationKey|translate}}</label>
                    </div>
                </div>
            </div>
        </ng-template>

        <div #blockingDiv class="blockingDiv" style="display:none">
            <div class="loadingDiv">
                <div>
                    <p>Loading...</p><img src="./assets/images/loading.gif" />
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!isOkClickable()">Ok</button>
        <button class="btn btn-light btn-sm" (click)="cancel()">{{'ACTIONS.CANCEL'|translate}}</button>
    </div>
</div>