<div class="card card-default vbox">
    <div class="card-body vbox">

        <div #scrollableContainer class="scrollableContainer" (scroll)="onScroll()">

            <div *ngIf="visualizationMode == 'searchBased' && !list" class="alert alert-warning mb-1">
                {{'DATA.LEX_ENTRY.USE_SEARCH_MSG'|translate}}
            </div>
            
            <ng-container *ngIf="safeToGo.safe; then safetyBlock else unsafetyBlock"></ng-container>

            <ng-template #safetyBlock>
                <ng-container *ngFor="let n of list; let idx=index">
                    <lexical-entry-list-node *ngIf="idx < nodeLimit && (!n.isDeprecated() || showDeprecated && n.isDeprecated())"
                        [node]="n" [rendering]="rendering" [multiselection]="multiselection" [showDeprecated]="showDeprecated" [context]="context" [projectCtx]="projectCtx"
                        (nodeSelected)="onNodeSelected($event)" (nodeChecked)="onNodeChecked($event)">
                    </lexical-entry-list-node>
                </ng-container>
            </ng-template>

            <ng-template #unsafetyBlock>
                <div class="alert alert-warning">
                    {{'DATA.LEX_ENTRY.UNSAFE_WARN.ELEMENT_COUNT'|translate:translationParam}}
                    {{'DATA.LEX_ENTRY.UNSAFE_WARN.PERFORMANCE_ISSUE'|translate}}
                    {{'DATA.LEX_ENTRY.UNSAFE_WARN.IT_IS_RECOMMENDED'|translate}}
                    <a href="javascript:void(0)" (click)="switchMode.emit('searchBased')">{{'DATA.LEX_ENTRY.UNSAFE_WARN.SWITCH_MODE'|translate}}</a>
                    <ng-container *ngIf="unsafeIndexOneChar">
                        {{'DATA.LEX_ENTRY.UNSAFE_WARN.OR'|translate}}
                        <a href="javascript:void(0)" (click)="changeIndexLenght.emit(2)">{{'DATA.LEX_ENTRY.UNSAFE_WARN.CHANGE_INDEX_LENGHT'|translate}}</a>
                    </ng-container>
                    <br>
                    
                    <ng-container *ngIf="!lexicon">
                        {{'DATA.LEX_ENTRY.UNSAFE_WARN.SELECT_LEXICON'|translate}}<br>
                    </ng-container>
                    {{'DATA.LEX_ENTRY.UNSAFE_WARN.FORCE_INIT'|translate}}
                    <a href="javascript:void(0)" (click)="forceSafeness()">{{'DATA.LEX_ENTRY.UNSAFE_WARN.HERE'|translate}}</a>.
                </div>
            </ng-template>

        </div>

        <div #blockDivList class="blockingDiv" style="display:none">
            <div class="loadingDiv">
                <div>
                    <p>Loading...</p><img src="./assets/images/loading.gif" />
                </div>
            </div>
        </div>

    </div>
</div>