<div class="card card-default vbox" style="position: relative">
    <div class="card-header">
        <label style="flex: 1;">{{'ICV.STRUCTURAL.CONCEPT_IN_NO_SCHEME.NAME'|translate}}</label>
        <button class="btn btn-xs btn-light" (click)="runIcv()">{{'ACTIONS.RUN'|translate}}</button>
    </div>
    <div class="card-body vbox">
        
        <div class="alert alert-info">
            <i>
                {{'ICV.STRUCTURAL.CONCEPT_IN_NO_SCHEME.DESCRIPTION'|translate}}<br/>
                {{'ICV.STRUCTURAL.CONCEPT_IN_NO_SCHEME.WARNING'|translate}}
            </i>
        </div>

        <div *ngIf="!brokenConceptList" style="padding: 4px;">
            {{'ICV.PRESS_RUN_TO_RUN_CHECK.0'|translate}} <strong>{{'ACTIONS.RUN'|translate}}</strong> {{'ICV.PRESS_RUN_TO_RUN_CHECK.1'|translate}}
        </div>
        <div *ngIf="brokenConceptList" class="scrollableContainer">
            <table class="table table-sm table-hoverable" style="flex: 1;">
                <thead>
                    <tr>
                        <th class="text-center">{{'DATA.CONCEPT.CONCEPT'|translate}}</th>
                        <th class="text-center" style="width: 1%">{{'ACTIONS.ACTION'|translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let concept of brokenConceptList">
                        <td>
                            <rdf-resource class="clickable" [resource]="concept" (click)="onResourceClick(concept)"></rdf-resource>
                        </td>
                        <td style="white-space: nowrap">
                            <button class="btn btn-xs btn-light" (click)="addToScheme(concept)">{{'ICV.STRUCTURAL.CONCEPT_IN_NO_SCHEME.ADD_TO_SCHEME'|translate}}</button>
                            <button class="btn btn-xs btn-light" (click)="deleteConcept(concept)">{{'DATA.ACTIONS.DELETE_CONCEPT'|translate}}</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer">
        <div *ngIf="brokenConceptList && brokenConceptList.length != 0" class="dropup float-right" ngbDropdown>
            <button class="btn btn-light dropdown-toggle btn-xs" type="button" data-toggle="dropdown" ngbDropdownToggle>
                {{'ICV.QUICK_ACTION'|translate}}
                <span class="fas fa-caret-down fa-sm"></span>
            </button>
            <div class="dropdown-menu" ngbDropdownMenu>
                <a class="dropdown-item" (click)="addAllToScheme()" style="cursor: pointer;">{{'ICV.STRUCTURAL.CONCEPT_IN_NO_SCHEME.ADD_ALL_TO_SCHEME'|translate}}</a>
                <a class="dropdown-item" (click)="deleteAllConcept()" style="cursor: pointer;">{{'ACTIONS.DELETE_ALL'|translate}}</a>
            </div>
        </div>
    </div>
    
    <div id="blockDivIcv" class="blockingDiv" style="display:none">
        <div class="loadingDiv">
            <div>
                <p>Loading...</p><img src="./assets/images/loading.gif" />
            </div>
        </div>
    </div>
    
</div>