<div class="card card-default vbox" style="position: relative">
    <div class="card-header">
        <label style="flex: 1;">{{title|translate}}</label>
        <button class="btn btn-xs btn-light" (click)="runIcv()">{{'ACTIONS.RUN'|translate}}</button>
    </div>
    <div class="card-body vbox">
        <div *ngIf="!brokenResourceList" style="padding: 4px;">
            {{'ICV.PRESS_RUN_TO_RUN_CHECK.0'|translate}} <strong>{{'ACTIONS.RUN'|translate}}</strong> {{'ICV.PRESS_RUN_TO_RUN_CHECK.1'|translate}}
        </div>
        <div *ngIf="brokenResourceList" class="scrollableContainer">
            <table class="table table-sm table-hoverable" style="flex: 1;">
                <thead>
                    <tr>
                        <th class="text-center">{{'MODELS.RESOURCE.RESOURCE'|translate}}</th>
                        <th class="text-center" style="width: 1%">{{'ACTIONS.ACTION'|translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let resource of brokenResourceList">
                        <td>
                            <rdf-resource class="clickable" [resource]="resource" (click)="onResourceClick(resource)"></rdf-resource>
                        </td>
                        <td style="white-space: nowrap">
                            <button class="btn btn-xs btn-light" (click)="fix(resource)">
                                <span>{{actionLabel}}</span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div id="blockDivIcv" class="blockingDiv" style="display:none">
        <div class="loadingDiv">
            <div>
                <p>Loading...</p><img src="./assets/images/loading.gif" />
            </div>
        </div>
    </div>
    
</div>