<div class="card card-default vbox">
<div class="card-header">
    <label>{{'ICV.ICV'|translate}}:</label>
</div>

<div class="card-body vbox scrollableContainer">

    <div class="card card-alt">
        <div class="card-header">
            <div class="expandCollapseBtnContainer">
                <img src="./assets/images/icons/arrow.png" (click)="togglePanel(structuralIcv)"
                    [ngClass]="{'arrow-right': !structuralIcv.open}">
            </div>
            <label>{{'ICV.STRUCTURAL.STRUCTUAL_CHECKS'|translate}}</label>
        </div>
        <div class="card-body" *ngIf="structuralIcv.open">
            <table class="table table-sm table-borderless table-hoverable">
                <colgroup>
                    <col style="width: 240px;">
                    <col>
                    <col style="width: 1%;">
                </colgroup>
                <tbody>
                    <ng-container *ngFor="let icv of structuralIcv.list">
                        <tr *ngIf="isCompatibleWithProject(icv)">
                            <td nowrap><strong>{{icv.name|translate}}</strong></td>
                            <td><i>{{icv.description|translate}}</i></td>
                            <td>
                                <button class="btn btn-light btn-xs" (click)="goToIcv(icv)" [disabled]="!isIcvAuthorized(icv)">{{'ACTIONS.GO'|translate}}</button>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card card-alt" style="margin-top: 4px;">
        <div class="card-header">
            <div class="expandCollapseBtnContainer">
                <img src="./assets/images/icons/arrow.png" (click)="togglePanel(labelIcv)"
                    [ngClass]="{'arrow-right': !labelIcv.open}">
            </div>
            <label>{{'ICV.LABEL.LABEL_CHECKS'|translate}}</label>
        </div>
        <div class="card-body" *ngIf="labelIcv.open">
            <table class="table table-sm table-borderless table-hoverable">
                <colgroup>
                    <col style="width: 240px;">
                    <col>
                    <col style="width: 1%;">
                </colgroup>
                <tbody>
                    <ng-container *ngFor="let icv of labelIcv.list">
                        <tr *ngIf="isCompatibleWithProject(icv)">
                            <td nowrap><strong>{{icv.name|translate}}</strong></td>
                            <td><i>{{icv.description|translate}}</i></td>
                            <td>
                                <button class="btn btn-light btn-xs" (click)="goToIcv(icv)" [disabled]="!isIcvAuthorized(icv)">{{'ACTIONS.GO'|translate}}</button>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card card-alt" style="margin-top: 4px;">
        <div class="card-header">
            <div class="expandCollapseBtnContainer">
                <img src="./assets/images/icons/arrow.png" (click)="togglePanel(genericIcv)"
                    [ngClass]="{'arrow-right': !genericIcv.open}">
            </div>
            <label>{{'ICV.GENERIC.GENERIC_CHECKS'|translate}}</label>
        </div>
        <div class="card-body" *ngIf="genericIcv.open">
            <table class="table table-sm table-borderless table-hoverable">
                <colgroup>
                    <col style="width: 240px;">
                    <col>
                    <col style="width: 1%;">
                </colgroup>
                <tbody>
                    <ng-container *ngFor="let icv of genericIcv.list">
                        <tr *ngIf="isCompatibleWithProject(icv)">
                            <td nowrap><strong>{{icv.name|translate}}</strong></td>
                            <td><i>{{icv.description|translate}}</i></td>
                            <td>
                                <button class="btn btn-light btn-xs" (click)="goToIcv(icv)" [disabled]="!isIcvAuthorized(icv)">{{'ACTIONS.GO'|translate}}</button>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>

</div>