<div class="hbox">

    <div class="card card-default vbox">
        <div class="card-header">
            <label style="flex: 1;">{{'METADATA.METADATA_REGISTRY.DATASET_METADATA.CATALOG_RECORDS'|translate}}:</label>
            <div class="btn-group btn-group-xs">
                <div class="btn-group" [title]="'ACTIONS.ADD_DATASET'|translate" ngbDropdown>
                    <button class="btn btn-light dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle [disabled]="!isAddDatasetAuthorized()">
                        <span class="fas fa-plus"></span>
                    </button>
                    <div class="dropdown-menu float-right" ngbDropdownMenu>
                        <a class="dropdown-item" (click)="addCatalogRecord()">{{'METADATA.METADATA_REGISTRY.ACTIONS.ADD_CATALOG_RECORD'|translate}}</a>
                        <a class="dropdown-item" (click)="discoverDataset()">{{'METADATA.METADATA_REGISTRY.ACTIONS.DISCOVER_DATASET'|translate}}</a>
                    </div>
                </div>
                <button class="btn btn-light" [title]="'ACTIONS.DELETE_DATASET'|translate" (click)="deleteCatalogRecord()"
                    [disabled]="!selectedCatalog || !isRemoveDatasetAuthorized()">
                    <span class="fas fa-minus"></span>
                </button>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-hoverable">
                <thead>
                    <tr>
                        <th class="text-center">{{'MODELS.MAPLE.DATASET.DATASET'|translate}}</th>
                        <th class="text-center">{{'METADATA.METADATA_REGISTRY.DATASET_METADATA.ISSUED'|translate}}</th>
                        <th class="text-center">{{'METADATA.METADATA_REGISTRY.DATASET_METADATA.MODIFIED'|translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let c of catalogs" (click)="selectCatalog(c)" [ngClass]="{ 'table-primary': selectedCatalog == c }">
                        <td>
                            <label *ngIf="c.abstractDataset.title">{{c.abstractDataset.title}}:</label>
                            {{c.abstractDataset.uriSpace}}
                        </td>
                        <td class="text-center">{{c.issued}}</td>
                        <td class="text-center">{{c.modified}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div *ngIf="catalogDataset" class="card card-default vbox ml-2" style="flex: 2;">
        <div class="card-header">
            <label>{{'MODELS.MAPLE.DATASET.DATASET'|translate}}:</label>
        </div>
        <div class="card-body hbox">

            <div class="vbox">
                <dataset-metadata [dataset]="catalogDataset" [ngClass]="{ activePanel : catalogDataset == selectedDataset?.dataset }" 
                    (click)="selectCatalogDataset()" (update)="onDatasetUpdate()">
                </dataset-metadata>
                <!-- Other versions -->
                <div class="card card-alt vbox mt-2">
                    <div class="card-header">
                        <label style="flex: 1;">{{'METADATA.METADATA_REGISTRY.DATASET_METADATA.OTHER_VERSIONS'|translate}}:</label>
                        <div class="btn-group btn-group-xs">
                            <button class="btn btn-light" [title]="'METADATA.METADATA_REGISTRY.ACTIONS.ADD_DATASET_VERSION'|translate" (click)="addDatasetVersion()"
                                [disabled]="!catalogDataset || !isAddDatasetAuthorized()">
                                <span class="fas fa-plus"></span>
                            </button>
                            <button class="btn btn-light" [title]="'METADATA.METADATA_REGISTRY.ACTIONS.DELETE_DATASET_VERSION'|translate" (click)="deleteDatasetVersion()"
                                [disabled]="!selectedDataset?.isVersion || !isRemoveDatasetAuthorized()">
                                <span class="fas fa-minus"></span>
                            </button>
                        </div>
                    </div>
                    <div class="card-body scrollableContainer">
                        <dataset-metadata *ngFor="let v of selectedCatalog?.versions" [dataset]="v" class="mb-1"
                            (click)="selectVersion(v)" [ngClass]="{ activePanel : v == selectedDataset?.dataset }" version="true"
                            (update)="onVersionUpdate()">
                        </dataset-metadata>
                    </div>
                </div>
            </div>
            
            <!-- Embedded lex sets -->
            <div class="vbox ml-1">
                <div class="card card-alt vbox blockingDivHost">
                    <div class="card-header">
                        <label style="flex: 1;">{{'METADATA.METADATA_REGISTRY.LEXICALIZATION_SET.EMBEDDED_LEXICALIZATION_SETS'|translate}}:</label>
                        <div class="btn-group btn-group-xs">
                            <div class="btn-group" [title]="'METADATA.METADATA_REGISTRY.ACTIONS.ADD_EMBEDDED_LEXICALIZATION_SET'|translate" ngbDropdown>
                                <button class="btn btn-light dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle [disabled]="!selectedDataset || !isAddEmbeddedLexicalizationSetAuthorized()">
                                    <span class="fas fa-plus"></span>
                                </button>
                                <div class="dropdown-menu float-right" ngbDropdownMenu>
                                    <a (click)="addEmbeddedLexicalizationSet()" class="dropdown-item text-nowrap">
                                        {{'METADATA.METADATA_REGISTRY.ACTIONS.ADD_EMBEDDED_LEXICALIZATION_SET'|translate}}
                                    </a>
                                    <a (click)="assessLexicalizationModel()" class="dropdown-item text-nowrap" [ngClass]="{disabled : lexicalizationSets.length != 0}">
                                        {{'METADATA.METADATA_REGISTRY.ACTIONS.ASSESS_LEXICALIZATION_MODEL'|translate}}
                                    </a>
                                </div>
                            </div>
                            <button class="btn btn-light" [title]="'METADATA.METADATA_REGISTRY.ACTIONS.DELETE_EMBEDDED_LEXICALIZATION_SET'|translate" (click)="deleteEmbeddedLexicalizationSet()"
                                [disabled]="!selectedLexicalizationSet || !isRemoveEmbeddedLexicalizationSetAuthorized()">
                                <span class="fas fa-minus"></span>
                            </button>
                            <button class="btn btn-light" [title]="'METADATA.METADATA_REGISTRY.ACTIONS.DELETE_ALL_EMBEDDED_LEXICALIZATION_SET'|translate" (click)="deleteAllEmbeddedLexicalizationSet()"
                                [disabled]="!isRemoveEmbeddedLexicalizationSetAuthorized() || lexicalizationSets.length == 0">
                                <span class="far fa-trash-alt"></span>
                            </button>
                        </div>
                    </div>
                    <div class="card-body scrollableContainer">
                        <lexicalization-set-metadata *ngFor="let ls of lexicalizationSets" style="margin-bottom: 2px;"
                            [lexicalizationSetMetadata]="ls" [dataset]="selectedCatalog?.abstractDataset"
                            (click)="selectedLexicalizationSet = ls" [ngClass]="{ activePanel : ls == selectedLexicalizationSet }">
                        </lexicalization-set-metadata>
                    </div>

                    <div #blockDiv class="blockingDiv" style="display:none">
                        <div class="loadingDiv">
                            <div>
                                <p>Loading...</p><img src="./assets/images/loading.gif" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
