<div cdkDrag cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h3 class="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body">
        
        <table class="table table-sm table-borderless">
            <colgroup>
                <col style="width: 1%;">
                <col>
                <col style="width: 1%;">
            </colgroup>
            <tbody>
                <tr>
                    <td nowrap><label>{{'COMMONS.TITLE'|translate}}:</label></td>
                    <td>
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="recordTitle">
                    </td>
                </tr>
                <tr>
                    <td nowrap><label>{{'MODELS.MAPLE.DATASET.DATASET'|translate}}:</label></td>
                    <td>
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="dataset">
                    </td>
                </tr>
                <tr>
                    <td nowrap><label>{{'MODELS.MAPLE.DATASET.URI_SPACE'|translate}}:</label></td>
                    <td>
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="uriSpace">
                    </td>
                    <td>*</td>
                </tr>
                <tr>
                    <td nowrap><label>{{'METADATA.METADATA_REGISTRY.DATASET_METADATA.DEREFERENCEABLE'|translate}}:</label></td>
                    <td>
                        <select class="form-control form-control-sm" [(ngModel)]="dereferenceable">
                            <option *ngFor="let der of dereferenceableValues" [ngValue]="der">{{der.label}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td nowrap><label>{{'MODELS.MAPLE.DATASET.SPARQL_ENDPOINT'|translate}}:</label></td>
                    <td>
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="sparqlEndpoint">
                    </td>
                </tr>
            </tbody>
        </table>
        
    </div>
    <div class="modal-footer">
        <span class="float-left">(*) {{'COMMONS.MANDATORY_FIELD'|translate}}</span>
        <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!isInputValid()">Ok</button>
        <button class="btn btn-light btn-sm" (click)="cancel()">{{'ACTIONS.CANCEL'|translate}}</button>
    </div>
</div>