<div cdkDrag cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h3 class="modal-title">New Dataset Version</h3>
    </div>
    <div class="modal-body">
        
        <table class="table table-sm table-borderless">
            <colgroup>
                <col style="width: 1%;">
                <col>
                <col style="width: 1%;">
            </colgroup>
            <tbody>
                <tr>
                    <td nowrap><label>{{'MODELS.MAPLE.DATASET.DATASET'|translate}}:</label></td>
                    <td>
                        <input type="text" class="form-control" [(ngModel)]="dataset" placeholder="http://dataset/identity">
                    </td>
                </tr>
                <tr>
                    <td nowrap><label>{{'METADATA.METADATA_REGISTRY.DATASET_METADATA.VERSION_INFO'|translate}}:</label></td>
                    <td>
                        <input type="text" class="form-control" [(ngModel)]="versionInfo">
                    </td>
                    <td>*</td>
                </tr>
            </tbody>
        </table>
        
    </div>
    <div class="modal-footer">
        <span class="float-left">(*) {{'COMMONS.MANDATORY_FIELD'|translate}}</span>
        <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!isInputValid()">Ok</button>
        <button class="btn btn-light btn-sm" (click)="cancel()">{{'ACTIONS.CANCEL'|translate}}</button>
    </div>
</div>