<div class="vbox">

    <div class="hbox" style="align-items: center; flex: initial;">
        <div class="card card-default" style="flex: 1; margin-right: 4px;">
            <div class="card-body">
                <div class="hbox" style="flex: initial; align-items: center;">
                    <label style="white-space: nowrap; margin-right: 4px;">{{'SHEET2RDF.SPREADSHEET.FILE'|translate}}:</label>
                    <file-picker (fileChanged)="fileChangeEvent($event)" [accept]="'.csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel'"></file-picker>
                    <button class="btn btn-light" style="margin-left: 4px;" (click)="loadSpreadsheet()" [disabled]="!spreadsheetFile">
                        <span class="fas fa-redo" [title]="'ACTIONS.RELOAD'|translate"></span>
                    </button>
                </div>
            </div>
        </div>
        <button class="btn btn-sm btn-light" [title]="'COMMONS.SETTINGS'|translate" (click)="settings()">
            <span class="fas fa-cog"></span>
        </button>
    </div>

    <div class="vbox" style="margin-top: 4px;">

        <div #topPanel class="hbox" [ngStyle]="{ 'flex': topPanelFlex }">

            <div #previewPanel class="card card-alt vbox" [ngStyle]="{ 'flex': previewPanelFlex }">
                <div class="card-header">
                    <span style="flex: 1;">
                        <label>{{'SHEET2RDF.SPREADSHEET.PREVIEW'|translate}}</label>
                        <span *ngIf="truncatedRows != totalRows" style="margin-left: 5px;">
                            ({{'SHEET2RDF.SPREADSHEET.ROWS'|translate}}: {{truncatedRows}} {{'COMMONS.PAGING.PAGE_OF_TOT'|translate}} {{totalRows}})
                        </span>
                    </span>
                    <div class="btn-toolbar" role="toolbar">
                        <button class="btn btn-light btn-xs" [ngClass]="getSubjHeaderCssClass()" (click)="editSubjectHeader()"
                            [title]="'SHEET2RDF.SPREADSHEET.EDIT_SUBJECT_HEADER'|translate" [disabled]="!tablePreview">
                            {{'SHEET2RDF.SPREADSHEET.SUBJECT_MAPPING'|translate}}
                        </button>
    
                        <button class="btn btn-light btn-xs" (click)="generatePearl()" [title]="'SHEET2RDF.PEARL.GENERATE_PEARL'|translate" [disabled]="!tablePreview">
                            <span class="fas fa-play"></span>
                        </button>

                        <div class="btn-group btn-group-xs">
                            <!-- Workaround to show input file as simple <button> -->
                            <input #inputStatusFile type="file" (change)="loadStatus(inputStatusFile.files[0])" (click)="$event.target.value=null" accept=".json, text/plain" style="display:none">
                            <button class="btn btn-light" style="margin-left: -1px" (click)="inputStatusFile.click()" [title]="'SHEET2RDF.SPREADSHEET.LOAD_STATUS'|translate" [disabled]="!tablePreview">
                                <span class="fas fa-upload"></span>
                            </button>
                            <button class="btn btn-light" (click)="exportStatus()" [title]="'SHEET2RDF.ACTIONS.EXPORT_MAPPING_STATUS'|translate" [disabled]="!tablePreview">
                                <span class="fas fa-download"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body scrollableContainer" style="background: #eee;">
                    <table class="table" style="background-color: #fff;">
                        <tbody>
                            <tr>
                                <td *ngFor="let h of headers" class="columnHeader">
                                    <span *ngIf="h.id==subjectHeader.id" class="badge badge-success" [title]="'MODELS.RESOURCE.SUBJECT'|translate">S</span>
                                    <span [class]="h.cssClass" style="font-weight: bold;">
                                        {{h.nameStruct.fullName}}
                                    </span>
                                    <button class="btn btn-xs btn-light" style="padding: 0px 3px;" [title]="'ACTIONS.EDIT'|translate" (click)="editHeader(h)">
                                        <span class="fas fa-edit"></span>
                                    </button>
                                </td>
                            </tr>
                            <tr *ngFor="let row of tablePreview" [id]="'tableRow'+row.idx" [ngClass]="{ 'table-primary': row == selectedTablePreviewRow }">
                                <td *ngFor="let c of row.cells" class="spreadsheetCell" [title]="c.value">{{c.value}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <div class="dropdown float-right dropup" ngbDropdown>
                        <button class="btn btn-light dropdown-toggle btn-xs" data-toggle="dropdown" ngbDropdownToggle>
                            {{'SHEET2RDF.SPREADSHEET.LEGEND.LEGEND'|translate}} <span class="fas fa-caret-up fa-sm"></span>
                        </button>
                        <div class="dropdown-menu" ngbDropdownMenu>
                            <a class="dropdown-item">
                                <div><span class="fas fa-stop unconfiguredHeader"></span> {{'SHEET2RDF.SPREADSHEET.LEGEND.NOT_CONFIGURED'|translate}}</div>
                                <div><span class="fas fa-stop configuredHeader"></span> {{'SHEET2RDF.SPREADSHEET.LEGEND.VALID_CONFIGURATION'|translate}}</div>
                                <div><span class="fas fa-stop partiallyConfiguredHeader"></span> {{'SHEET2RDF.SPREADSHEET.LEGEND.PARTIALLY_CONFIGURED'|translate}}</div>
                                <div><span class="fas fa-stop ignoredHeader"></span> {{'SHEET2RDF.SPREADSHEET.LEGEND.IGNORED'|translate}}</div>
                                <div><span class="fas fa-stop incompleteSubjectHeader"></span> {{'SHEET2RDF.SPREADSHEET.LEGEND.INCOMPLETED_SUBJECT'|translate}}</div>
                                <div class="hbox" style="align-items: center;">
                                    <span class="badge badge-success" style="padding: 1px 2px; width: 10px; margin: 0px 2px 0px 1px;">S</span>
                                    {{'SHEET2RDF.SPREADSHEET.LEGEND.SUBJECT_HEADER'|translate}}
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sliderX" (mousedown)="onMousedownX($event);"></div>

            <div #pearlPanel class="card card-alt vbox" [ngStyle]="{ 'flex': pearlPanelFlex }">
                <div class="card-header">
                    <label style="flex: 1;">
                        Pearl
                    </label>
                    <span *ngIf="!pearlValidation.valid" class="fas fa-exclamation-triangle" style="margin-right: 8px; color: #d00;"
                        [title]="pearlValidation.details"></span>

                    <div class="btn-toolbar" role="toolbar">
                        <button class="btn btn-light btn-xs" (click)="generateTriples()" [title]="'SHEET2RDF.TRIPLES.GENERATE_TRIPLES'|translate" [disabled]="!pearl">
                            <span class="fas fa-play"></span>
                        </button>
                        <div class="btn-group btn-group-xs">
                            <!-- Workaround to show input file as simple <button> -->
                            <input #inputFile type="file" (change)="loadPearl(inputFile.files[0])" accept=".pr, text/plain" style="display:none">
                            <button class="btn btn-light" style="margin-left: -1px" (click)="inputFile.click()" [title]="'ACTIONS.LOAD'|translate" [disabled]="!tablePreview">
                                <span class="fas fa-upload"></span>
                            </button>
                            <button class="btn btn-light" (click)="exportPearl()" [title]="'ACTIONS.EXPORT'|translate" [disabled]="!pearl">
                                <span class="fas fa-download"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body hbox">
                    <pearl-editor [(ngModel)]="pearl" (ngModelChange)="onPearlChange()" style="flex: 1;" [disabled]="!tablePreview">
                    </pearl-editor>
                    <button class="btn btn-light btn-xs" (click)="insertConverter()" style="align-self: flex-end; margin-left: 4px;"
                        [title]="'SHEET2RDF.PEARL.INSERT_CONVERTER'|translate" [disabled]="!tablePreview">
                        <span class="fas fa-pencil-alt"></span>
                    </button>
                </div>
            </div>

        </div>

        <div class="sliderY" (mousedown)="onMousedownY($event);"></div>

        <div #triplesPanel class="vbox" [ngStyle]="{ 'flex': triplesPanelFlex }">
            <div class="card card-alt vbox">
                <div class="card-header">
                    <span style="flex: 1;">
                        <label>{{'SHEET2RDF.TRIPLES.GENERATED_TRIPLES_PREVIEW'|translate}}</label>
                        <span *ngIf="truncatedTriples != totalTriples" style="margin-left: 5px;">({{truncatedTriples}} {{'COMMONS.PAGING.PAGE_OF_TOT'|translate}} {{totalTriples}})</span>
                    </span>

                    <div class="btn-toolbar" role="toolbar">
                        <button class="btn btn-light btn-xs" (click)="addTriples()" [title]="'SHEET2RDF.TRIPLES.ADD_TRIPLES'|translate" [disabled]="!triplesPreview">
                            <span class="fas fa-file-signature"></span>
                        </button>

                        <div class="btn-group btn-group-xs">
                            <div class="dropdown float-right" ngbDropdown>
                                <button class="btn btn-light dropdown-toggle btn-xs" data-toggle="dropdown" ngbDropdownToggle [disabled]="!triplesPreview">
                                    {{'ACTIONS.EXPORT'|translate}}... <span class="fas fa-caret-down fa-sm"></span>
                                </button>
                                <div class="dropdown-menu" ngbDropdownMenu>
                                    <a *ngFor="let f of exportFormats" class="dropdown-item" (click)="exportTriplesAs(f)">{{f.name}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body vbox scrollableContainer">
                    <table class="table table-sm table-hoverable" style="flex: 1">
                        <thead>
                            <tr>
                                <th>{{'MODELS.RESOURCE.SUBJECT'|translate}}</th>
                                <th>{{'MODELS.RESOURCE.PREDICATE'|translate}}</th>
                                <th>{{'MODELS.RESOURCE.OBJECT'|translate}}</th>
                            </tr>
                        </thead>
                        <tbody style="overflow: auto;">
                            <tr *ngFor="let t of triplesPreview" (click)="selectTriplePreviewRow(t)"
                                [ngClass]="{ 'oddTablePreviewRow' : t.row%2==0, 'table-primary': t == selectedTriplePreviewRow }">
                                <td>{{t.subject}}</td>
                                <td>{{t.predicate}}</td>
                                <td>{{t.object}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>