<div cdkDrag cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h3 class="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body">
        <div class="alert alert-info" *ngIf="message">
            {{message}}
        </div>
            
        <div class="scrollableContainer mt-2" style="border: 1px solid #ddd;">
            <table class="table table-sm table-hoverable">
                <thead>
                    <tr>
                        <th>{{'COMMONS.NAME'|translate}}</th>
                        <th>{{'COMMONS.DESCRIPTION'|translate}}</th>
                        <th nowrap>{{'SHEET2RDF.CONVERTER.RDF_CAPABILITY'|translate}}</th>
                        <th>URI</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let c of converters" (click)="selectConverter(c)" [ngClass]="{ 'table-primary': c == selectedConverter }">
                        <td>{{c.getName()}}</td>
                        <td style="white-space: pre;">{{c.getDescription()}}</td>
                        <td nowrap>{{c.getRDFCapability()}}
                            <span *ngIf="c.getDatatypes().length > 0" class="fas fa-info-circle" [title]="c.getDatatypes()"></span>
                        </td>
                        <td [title]="c.getURI()">{{c.getQName()}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row mt-3">
            <label class="col-form-label col-sm-1">{{'SHEET2RDF.CONVERTER.SIGNATURE'|translate}}:</label>
            <div class="col-sm-11">
                <div class="input-group">
                    <span *ngIf="selectedConverter?.getRDFCapability() == 'node'" class="input-group-prepend" ngbDropdown>
                        <button class="btn btn-light dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle [disabled]="concerterTypeConstrained">
                            {{selectedConverterType}} <span class="fas fa-caret-down"></span>
                        </button>
                        <div class="dropdown-menu" ngbDropdownMenu>
                            <a class="dropdown-item" (click)="switchConverterType('uri')">Uri</a>
                            <a class="dropdown-item" (click)="switchConverterType('literal')">Literal</a>
                        </div>
                    </span>
                    <input type="text" class="form-control" [ngModel]="projectionOperator" readonly>
                    <span class="input-group-append">
                        <button class="btn btn-light" (click)="chooseSignature()" [title]="'ACTIONS.EDIT'|translate" [disabled]="!isSignatureEditable()">
                            <span class="fas fa-pencil-alt"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!selectedConverter">Ok</button>
        <button class="btn btn-light btn-sm" (click)="cancel()">{{'ACTIONS.CANCEL'|translate}}</button>
    </div>
</div>