<div cdkDrag cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h3 class="modal-title text-info">{{title}}</h3>
    </div>
    <div class="modal-body">
        <div class="alert alert-info" *ngIf="message">
            {{message}}
        </div>
            
        <div class="scrollableContainer" style="border: 1px solid #ddd; margin-top: 5px;">
            <ng-container *ngFor="let s of signatures">
                <div class="listItem vbox" style="margin: 2px; padding: 6px; border: 1px solid #ddd; border-radius: 4px;" (click)="selectSignature(s)"
                    [ngClass]="{active: selectedSignature == s}">
                    <div *ngIf="s.getParameters().length == 0">No parameters</div>
                    <ng-container *ngIf="s.getParameters().length > 0">
                        <div *ngFor="let p of s.getParameters()" style="margin-top: 3px;">
                            <span style="color: #101094; font-family: Courier New, Courier, monospace">{{p.type}}</span>
                            <span style="font-weight: bolder; font-family: Courier New, Courier, monospace">{{p.name}}</span>
                            <span *ngIf="p.getDescription().length > 0" class="grayText"> ({{p.getDescription()}})</span>
                        </div>
                    </ng-container>
                </div>
            </ng-container>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!selectedSignature">Ok</button>
        <button class="btn btn-light btn-sm" (click)="cancel()">{{'ACTIONS.CANCEL'|translate}}</button>
    </div>
</div>