<div class="card card-default vbox">
    <div class="card-header">
        <label style="flex: 1">{{'HISTORY_VALIDATION.STAGED_COMMITS'|translate}}</label>

        <label style="white-space: pre">{{'HISTORY_VALIDATION.OPERATION_SORT'|translate}}: </label>
        <div class="btn-group btn-group-xs mr-3" ngbDropdown>
            <button class="btn btn-light dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle>
                <span>{{operationSorting.translationKey|translate}}</span>
                <span class="fas fa-sort-alpha-down ml-2"></span>
            </button>
            <div class="dropdown-menu float-right" ngbDropdownMenu>
                <a *ngFor="let sd of sortingDirectionList" class="dropdown-item" (click)="sortOperation(sd)">
                    {{sd.translationKey|translate}}
                    <span *ngIf="sd == operationSorting" class="fas fa-check float-right"></span>
                </a>
            </div>
        </div>

        <label style="white-space: pre">{{'HISTORY_VALIDATION.TIME_SORT'|translate}}: </label>
        <div class="btn-group btn-group-xs mr-3" ngbDropdown>
            <button class="btn btn-light dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle>
                <span>{{timeSorting.translationKey|translate}}</span>
                <span class="fas fa-sort-numeric-down ml-2"></span>
            </button>
            <div class="dropdown-menu float-right" ngbDropdownMenu>
                <a *ngFor="let sd of sortingDirectionList" class="dropdown-item" (click)="sortTime(sd)">
                    {{sd.translationKey|translate}}
                    <span *ngIf="sd == timeSorting" class="fas fa-check float-right"></span>
                </a>
            </div>
        </div>

        <button class="btn btn-xs btn-light" [ngClass]="{active: showFilterBox}" (click)="showFilterBox = !showFilterBox">
            <span *ngIf="!showFilterBox">{{'ACTIONS.SHOW_FILTERS'|translate}}</span>
            <span *ngIf="showFilterBox">{{'ACTIONS.HIDE_FILTERS'|translate}}</span>
            <span class="fas fa-filter ml-2"></span>
        </button>

        <button class="btn btn-xs btn-light ml-2" (click)="init()" [title]="'ACTIONS.REFRESH'|translate">
            <span class="fas fa-redo"></span>
        </button>
    </div>


    <div class="card-body vbox">

        <history-filter *ngIf="showFilterBox" class="vbox" style="margin-bottom: 6px; min-height: 115px;" (apply)="onFilterApplied($event)"
            [operations]="operations" [performers]="performers" [fromTime]="fromTime" [toTime]="toTime" [hidePerformers]="!isValidator">
        </history-filter>

        <div class="table-responsive" style="flex: 3;">
            <table class="table table-hoverable">
                <thead>
                    <tr>
                        <th class="text-center">{{'HISTORY_VALIDATION.COMMIT_ID'|translate}}</th>
                        <th class="text-center">{{'HISTORY_VALIDATION.OPERATION'|translate}}</th>
                        <th class="text-center">{{'HISTORY_VALIDATION.1ST_PARAM'|translate}}</th>
                        <th class="text-center" *ngIf="isLargeWidth()">{{'HISTORY_VALIDATION.2ND_PARAM'|translate}}</th>
                        <th class="text-center">{{'HISTORY_VALIDATION.OTHER_PARAMS'|translate}}</th>
                        <th class="text-center">{{'HISTORY_VALIDATION.USER'|translate}}</th>
                        <th class="text-center">{{'HISTORY_VALIDATION.DATE'|translate}}</th>
                        <th class="text-center" style="min-width: 80px;">{{'ACTIONS.ACTION'|translate}}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of commits">
                        <td class="text-center" nowrap>
                            <a href="javascript:void(0)" (click)="getCommitDelta(item)" style="cursor: pointer;">{{item.commit.getLocalName()}}</a>
                        </td>
                        <td class="text-center">
                            <span *ngIf="item.operation" [title]="item.operation.getURI()">
                                {{item.operation.getShow()}}
                            </span>
                        </td>
                        <td class="text-center">
                            <ng-container *ngIf="item.operationParameters.length != 0">
                                <label style="white-space: pre;">{{item.operationParameters[0].name}}: </label>
                                <span class="clickable" (click)="openValueResourceView(item.operationParameters[0].value)">
                                    {{item.operationParameters[0].value}}
                                </span>
                            </ng-container>
                        </td>
                        <td class="text-center" *ngIf="isLargeWidth()">
                            <ng-container *ngIf="item.operationParameters.length > 1">
                                <label style="white-space: pre;">{{item.operationParameters[1].name}}: </label>
                                <span class="clickable" (click)="openValueResourceView(item.operationParameters[1].value)">
                                    {{item.operationParameters[1].value}}
                                </span>
                            </ng-container>
                        </td>
                        <td class="text-center">
                            <ng-container *ngIf="!isLargeWidth() && item.operationParameters.length > 1">
                                <label style="white-space: pre;">{{item.operationParameters[1].name}}: </label>
                                <span class="clickable" (click)="openValueResourceView(item.operationParameters[1].value)">
                                    {{item.operationParameters[1].value}}
                                </span>
                            </ng-container>
                            <ng-container *ngIf="isLargeWidth() && item.operationParameters.length > 2">
                                <label style="white-space: pre;">{{item.operationParameters[2].name}}: </label>
                                <span class="clickable" (click)="openValueResourceView(item.operationParameters[2].value)">
                                    {{item.operationParameters[2].value}}
                                </span>
                            </ng-container>
                            <button *ngIf="showOtherParamButton(item)" class="btn btn-xs btn-light" (click)="inspectParams(item)"
                                [title]="'ACTIONS.SHOW_ALL'|translate">
                                <span class="fas fa-ellipsis-h"></span>
                            </button>
                        </td>
                        <td class="text-center">
                            <span *ngIf="item.user" [title]="item.user.getURI()">
                                {{item.user.getShow()}}
                            </span>
                        </td>
                        <td class="text-center">
                            {{item.endTimeLocal}}
                        </td>
                        <td>
                            <select class="form-control form-control-sm" [(ngModel)]="item.validationAction">
                                <option *ngFor="let act of validationActions" [ngValue]="act">{{act.show}}</option>
                            </select>
                        </td>
                        <td>
                            <button *ngIf="item.commentAllowed" class="btn btn-xs btn-light" (click)="editComment(item)"
                                [disabled]="item.validationAction.value != 'reject'" [title]="'HISTORY_VALIDATION.PROVIDE_COMMENT'|translate">
                                <span class="fas fa-comment-alt" [ngClass]="{ greenText: item.comment }"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    
    </div>

    <div class="card-footer">
        <div class="hbox  float-right" style="align-items: center">

            <div class="btn-group btn-group-xs mr-2">
                <button class="btn btn-light" [title]="'COMMONS.PAGING.PREV_PAGE'|translate" (click)="getPreviousCommits()" [disabled]="page <= 0">
                    <span class="fas fa-caret-left"></span>
                </button>
                <button class="btn btn-light" style="cursor: auto" disabled>
                    <span>{{page+1}} {{'COMMONS.PAGING.PAGE_OF_TOT'|translate}} {{pageCount}}</span>
                </button>
                <button class="btn btn-light" [title]="'COMMONS.PAGING.NEXT_PAGE'|translate" (click)="getNextCommits()" [disabled]="page+1 >= pageCount">
                    <span class="fas fa-caret-right"></span>
                </button>
            </div>

            <div class="btn-group btn-group-xs mr-3">
                <button *ngIf="isValidator" class="btn btn-xs btn-light" (click)="acceptAll()">{{'ACTIONS.ACCEPT_ALL'|translate}}</button>
                <button class="btn btn-xs btn-light" (click)="rejectAll()">{{'ACTIONS.REJECT_ALL'|translate}}</button>
            </div>

            <button type="submit" class="btn btn-light btn-sm float-right" (click)="validate()">{{'ACTIONS.VALIDATE'|translate}}</button>
        </div>
    </div>

</div>