<div class="card card-default vbox">

    <div class="card-body vbox">

        <div #scrollableContainer class="scrollableContainer" (scroll)="onScroll()">
            <ng-container *ngFor="let r of roots; let idx=index">
                <class-tree-node *ngIf="idx < rootLimit && (!r.isDeprecated() || showDeprecated && r.isDeprecated())" [node]="r" 
                    [root]="true" [rendering]="rendering" [multiselection]="multiselection" [showDeprecated]="showDeprecated"
                    [filterEnabled]="filterEnabled" [context]="context" [projectCtx]="projectCtx"
                    (nodeSelected)="onNodeSelected($event)" (nodeChecked)="onNodeChecked($event)"
                    (nodeExpandStart)="onNodeExpandStart()" (nodeExpandEnd)="onNodeExpandEnd()">
                </class-tree-node>
            </ng-container>
        </div>

        <div #blockDivTree class="blockingDiv" style="display:none">
            <div class="loadingDiv">
                <div>
                    <p>Loading...</p><img src="./assets/images/loading.gif" />
                </div>
            </div>
        </div>

    </div>

</div>