<div class="card card-default vbox">
    <!-- Commands -->
    <div class="card-header">
        <div *ngIf="editable" class="btn-group btn-group-xs" role="group" style="margin-right: 4px;">
            <ng-container *ngFor="let action of panelActions">
                <button *ngIf="isActionVisible(action)" class="btn btn-light" [title]="action.title" (click)="executeAction(action)" [disabled]="isActionDisabled(action)">
                    <img [src]="action.icon" class="panelButtonImg"/>
                </button>
            </ng-container>
        </div>
        <div style="flex: 1"></div>

        <div class="btn-toolbar" role="toolbar">
            <button class="btn btn-light btn-xs" title="Rendering" (click)="rendering=!rendering" [ngClass]="{ active: rendering }">
                <span class="fas fa-font"></span>
            </button>
            <button class="btn btn-light btn-xs" [title]="'ACTIONS.REFRESH'|translate" (click)="refresh()">
                <span class="fas fa-redo"></span>
            </button>
            <button *ngIf="isOpenSettingsAvailable()" class="btn btn-light btn-xs" [title]="'COMMONS.SETTINGS'|translate" (click)="settings()">
                <span class="fas fa-cog"></span>
            </button>
        </div>

        <div class="dropdown" ngbDropdown>
            <!-- Disabled when all the options are not available -->
            <button class="dropdown-toggle transparentBtn ml-1" data-toggle="dropdown" ngbDropdownToggle
                [disabled]="!allowMultiselection && !isOpenGraphEnabled() && isContextDataPanel()">
                <span class="fas fa-caret-down"></span>
            </button>
            <div class="dropdown-menu" ngbDropdownMenu>
                <a *ngIf="!isContextDataPanel()" class="dropdown-item d-flex align-items-center" (click)="filterEnabled = !filterEnabled">
                    <span class="fas fa-filter mr-2"></span>
                    {{'DATA.CLASS.SETTINGS.SUBCLASS_FILTER'|translate}}
                    <span *ngIf="filterEnabled" class="fas fa-check ml-2"></span>
                </a>
                <ng-container *ngIf="allowMultiselection">
                    <a class="dropdown-item" (click)="toggleMultiselection()">
                        <span style="flex: 1;">
                            <span class="far fa-check-square" style="margin-right: 4px;"></span>
                            {{'DATA.COMMONS.MULTISELECTION'|translate}}
                        </span>
                        <span *ngIf="multiselection" class="fas fa-check float-right"></span>
                    </a>
                    <a *ngIf="context=='dataPanel' && multiselection" class="dropdown-item" [ngClass]="{ disabled: checkedNodes.length == 0 }" (click)="enrichMultiSubject()">
                        <span class="far fa-check-square" style="margin-right: 4px; margin-left: 16px;"></span>
                        {{'DATA.COMMONS.ADD_PROP_VALUE_TO_SELECTION'|translate}}
                    </a>
                </ng-container>
                <ng-container *ngIf="isOpenGraphEnabled()">
                    <a *ngIf="isOpenGraphEnabled(GraphModeEnum.modelOriented)" class="dropdown-item" (click)="openModelGraph()">
                        <img src="./assets/images/icons/res/ontology.png" style="margin-right: 4px;" width="11px">
                        {{'DATA.CLASS.SHOW_MODEL_GRAPH'|translate}}
                    </a>
                    <a *ngIf="isOpenIncrementalModelGraphEnabled()" class="dropdown-item" (click)="openIncrementalGraph()">
                        <img src="./assets/images/icons/res/ontology.png" style="margin-right: 4px;" width="11px">
                        {{'DATA.CLASS.SHOW_MODEL_GRAPH_ROOTED'|translate}}
                    </a>
                    <a *ngIf="isOpenGraphEnabled(GraphModeEnum.dataOriented)" class="dropdown-item" (click)="openDataGraph()">
                        <img src="./assets/images/icons/res/ontology.png" style="margin-right: 4px;" width="11px">
                        {{'GRAPHS.ACTIONS.SHOW_DATA_ORIENTED_GRAPH'|translate}}
                    </a>
                    <a *ngIf="isOpenGraphEnabled(GraphModeEnum.umlOriented)" class="dropdown-item" (click)="openUmlGraph()">
                        <img src="./assets/images/icons/res/ontology.png" style="margin-right: 4px;" width="11px">
                        {{'DATA.CLASS.SHOW_CLASS_DIAGRAM'|translate}}
                    </a>
                </ng-container>
            </div>
        </div>
    </div>
    
    <!-- Tree -->
    <div class="card-body vbox">
        <class-tree [rendering]="rendering" [multiselection]="multiselection" [showDeprecated]="showDeprecated" [filterEnabled]="filterEnabled" 
            [roots]="roots" [context]="context" [projectCtx]="projectCtx"
            (nodeSelected)="onNodeSelected($event)" (nodeChecked)="onNodeChecked($event)"></class-tree>
    </div>

    <!-- Search -->
    <div *ngIf="!hideSearch" class="card-footer">
        <search-bar (search)="doSearch($event)" [role]="panelRole" [context]="context"></search-bar>
    </div>
    
</div>