<div cdkDrag cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h3 [class]="'modal-title ' + titleClass">{{title}}</h3>
    </div>
    <div class="modal-body">
        <div [class]="alertClass" style="white-space: pre-line">{{message}}</div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-sm btn-primary" (click)="ok()">{{'COMMONS.BOOLEAN.YES'|translate}}</button>
        <button class="btn btn-sm btn-secondary" (click)="close()">{{'COMMONS.BOOLEAN.NO'|translate}}</button>
    </div>
</div>