<div cdkDrag cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h3 class="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body vbox table-responsive">

        <table class="table table-sm table-borderless">
            <colgroup>
                <col style="width: 1%">
                <col>
            </colgroup>
            <tbody>
                <tr>
                    <td nowrap><label>{{'ADMINISTRATION.GROUPS.SHORT_NAME'|translate}} *</label></td>
                    <td><input class="form-control" [(ngModel)]="shortName"></td>
                </tr>
                <tr>
                    <td nowrap><label>{{'ADMINISTRATION.GROUPS.FULL_NAME'|translate}}</label></td>
                    <td><input class="form-control" [(ngModel)]="fullName"></td>
                </tr>
                <tr>
                    <td nowrap><label>{{'COMMONS.DESCRIPTION'|translate}}</label></td>
                    <td><textarea class="form-control" style="resize: vertical" [(ngModel)]="description"></textarea></td>
                </tr>
                <tr>
                    <td nowrap><label>{{'ADMINISTRATION.GROUPS.WEB_PAGE'|translate}}</label></td>
                    <td><input class="form-control" [(ngModel)]="webPage"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="modal-footer">
        <span class="float-left">(*) {{'COMMONS.MANDATORY_FIELD'|translate}}</span>
        <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!isDataValid()">Ok</button>
        <button class="btn btn-light btn-sm" (click)="cancel()">{{'ACTIONS.CANCEL'|translate}}</button>
    </div>
</div>