<div cdkDrag cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h3 class="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body">

        <div class="card card-default vbox">
            <div class="card-header">
                <label style="flex: 1">{{'RESOURCE_METADATA.METADATA_PATTERN'|translate}}</label>
                <button class="btn btn-xs btn-light" (click)="showPattern()" [disabled]="!selectedPattern" [title]="'RESOURCE_METADATA.SHOW_DETAILS'|translate">
                    <span class="fas fa-eye"></span>
                </button>
            </div>
            <div class="card-body scrollableContainer">
                <div *ngFor="let p of patterns" class="listItem" [ngClass]="{ active: selectedPattern == p }" (click)="selectedPattern = p">
                    {{p.name}}
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!isDataValid()">Ok</button>
        <button class="btn btn-light btn-sm" (click)="cancel()">{{'ACTIONS.CANCEL'|translate}}</button>
    </div>
</div>