<div class="hbox">

    <div class="vbox">

        <!-- Namespace management -->
        <div class="card card-default vbox">
            <div class="card-header">
                <label style="flex: 1">{{'METADATA.NAMESPACES_AND_IMPORTS.NAMESPACE_MANAGEMENT'|translate}}:</label>
                <div class="btn-group btn-group-xs">
                    <button class="btn btn-light" [title]="'ACTIONS.ADD_MAPPING'|translate" (click)="addMapping()" [disabled]="!isAddNsPrefixMappingAuthorized()">
                        <span class="fas fa-plus"></span>
                    </button>
                    <button class="btn btn-light" [title]="'ACTIONS.DELETE_MAPPING'|translate" (click)="removeMapping()"
                        [disabled]="!selectedMapping || !selectedMapping.explicit || !isRemoveNsPrefixMappingAuthorized()">
                        <span class="fas fa-minus"></span>
                    </button>
                    <button class="btn btn-light" [title]="'ACTIONS.EDIT_MAPPING'|translate" (click)="changeMapping()"
                        [disabled]="!selectedMapping || !isChangeNsPrefixMappingAuthorized()">
                        <span class="fas fa-pencil-alt"></span>
                    </button>
                </div>
            </div>
            <div class="card-body vbox">
                
                <div class="card card-default" style="margin: 4px">
                    <div class="card-body">
                        <table class="table table-sm table-borderless">
                            <colgroup>
                                <col style="width: 1%;">
                                <col>
                                <col style="width: 1%;">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <td><label>{{'MODELS.PROJECT.BASE_URI'|translate}}:</label></td>
                                    <td>
                                        <input type="text" class="form-control form-control-sm"
                                            [ngClass]="{ submitted:nsBaseURISubmitted, 'ng-invalid':!isBaseURIValid() }" [ngModel]="baseURI"
                                            (ngModelChange)="onBaseURIChanged($event)" [disabled]="!isBaseuriNsEditAuthorized()">
                                    </td>
                                    <td rowspan="2">
                                        <div class="btn-group-vertical">
                                            <button class="btn btn-light" [ngClass]="{active: bind}" [title]="'METADATA.NAMESPACES_AND_IMPORTS.BIND_NS_AND_BASEURI'|translate"
                                                (click)="bindNamespaceBaseURI()">
                                                <span class="fas fa-link"></span>
                                            </button>
                                            <button class="btn btn-light" [title]="'ACTIONS.APPLY_CHANGES'|translate"
                                                [ngClass]="{'btn-primary': areNamespaceBaseURIChanged(), 'btn-light': !areNamespaceBaseURIChanged()}"
                                                (click)="applyNamespaceBaseURI()" [disabled]="!areNamespaceBaseURIChanged() || !isBaseuriNsEditAuthorized()">
                                                <span class="fas fa-check"></span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label>{{'METADATA.NAMESPACES_AND_IMPORTS.NAMESPACE'|translate}}:</label></td>
                                    <td>
                                        <input type="text" class="form-control form-control-sm"
                                            [ngClass]="{ submitted:nsBaseURISubmitted, 'ng-invalid':!isNamespaceValid() }" [ngModel]="namespace"
                                            (ngModelChange)="onNamespaceChanged($event)" [disabled]="!isBaseuriNsEditAuthorized()" >
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="scrollableContainer">
                    <table class="table table-sm table-striped table-hoverable">
                        <thead>
                            <tr>
                                <th class="text-center">{{'METADATA.NAMESPACES_AND_IMPORTS.PREFIX'|translate}}</th>
                                <th class="text-center">{{'METADATA.NAMESPACES_AND_IMPORTS.NAMESPACE'|translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let m of nsPrefMappingList" (click)="selectMapping(m)"
                                [ngClass]="{ 'table-primary': m == selectedMapping, grayText: !m.explicit }">
                                <td class="text-center">{{m.prefix}}</td>
                                <td class="text-center">{{m.namespace}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!--Imports-->
        <div class="card card-default vbox" style="margin-top: 5px;">
            <div class="card-header">
                <label style="flex: 1">{{'METADATA.NAMESPACES_AND_IMPORTS.IMPORTS'|translate}}:</label>
                <div class="dropdown" ngbDropdown>
                    <button class="btn btn-light dropdown-toggle btn-xs" data-toggle="dropdown" ngbDropdownToggle [disabled]="!isAddImportAuthorized()">
                        {{'METADATA.NAMESPACES_AND_IMPORTS.ACTIONS.ADD_IMPORT_FROM'|translate}} <span class="fas fa-caret-down fa-sm"></span>
                    </button>
                    <div class="dropdown-menu" ngbDropdownMenu>
                        <a class="dropdown-item" (click)="importFromWeb()">{{'METADATA.NAMESPACES_AND_IMPORTS.WEB'|translate}}</a>
                        <a class="dropdown-item" (click)="importFromWebToMirror()">{{'METADATA.NAMESPACES_AND_IMPORTS.WEB_TO_MIRROR'|translate}}</a>
                        <a class="dropdown-item" (click)="importFromLocalFile()">{{'METADATA.NAMESPACES_AND_IMPORTS.LOCAL_FILE'|translate}}</a>
                        <a class="dropdown-item" (click)="importFromOntologyMirror()">{{'METADATA.NAMESPACES_AND_IMPORTS.ONTOLOGY_MIRROR'|translate}}</a>
                        <a class="dropdown-item" (click)="importFromDatasetCatalog()">{{'METADATA.NAMESPACES_AND_IMPORTS.DATASET_CATALOG'|translate}}</a>
                    </div>
                </div>
                <button class="btn btn-light btn-xs" (click)="openOntologyMirror()" style="margin-left: 4px;">
                    {{'METADATA.NAMESPACES_AND_IMPORTS.ONTOLOGY_MIRROR'|translate}}
                </button>
            </div>
            <div class="card-body vbox">
                <import-tree [imports]="importTree" (nodeRemoved)="removeImport($event)" (update)="onInportTreeUpdate()"></import-tree>
            </div>
        </div>

    </div>

    <resource-view-editor *ngIf="baseUriRes" [resource]="baseUriRes" (update)="onOntologyUpdated()"
        style="margin-left: 5px;">
    </resource-view-editor>

</div>