<div cdkDrag cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h3 class="modal-title">{{'PROJECTS.PROJECT_PROPERTIES'|translate}} ({{project.getName()}})</h3>
    </div>
    <div class="modal-body vbox">
        <div class="scrollableContainer" style="border: 1px solid #ddd">
            <table class="table table-sm table-hoverable" style="flex: 1">
                <thead>
                    <tr>
                        <th class="text-center">{{'DATA.PROPERTY.PROPERTY'|translate}}</th>
                        <th class="text-center">{{'COMMONS.VALUE'|translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of propertyList">
                        <td>
                            {{p.name}}
                        </td>
                        <td>
                            {{p.value}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" (click)="ok()">Ok</button>
    </div>
</div>