<div class="vbox" style="align-items: center;" (keydown)="onKeydown($event)">
	<div style="margin-bottom: 5px; font-weight: bold; font-size: 13px;">
		<span class="fas fa-sign-in-alt"></span>
		<span> {{'USER.USER_LOGIN'|translate}}</span>
	</div>
	<input type="text" class="form-control mb-2" [(ngModel)]="email" [placeholder]="'MODELS.USER.EMAIL'|translate">
	<input type="password" class="form-control mb-2" [(ngModel)]="password" placeholder="Password">
	<button class="btn btn-primary mb-2" (click)="login()">{{'USER.LOGIN'|translate}}</button>
	<a (click)="forgotPassword()" style="cursor: pointer">{{'USER.PASSWORD.FORGOT_PASSWORD'|translate}}</a>
	<a [routerLink]="['/Registration/0']">{{'USER.SIGNUP'|translate}}</a>
</div>