<div class="container vbox" style="flex: initial">

    <div class="card card-default vbox" style="flex: initial">
        <div class="card-header">
            <label><span class="fas fa-user"></span> {{'USER.REGISTRATION.USER_REGISTRATION'|translate}}:</label>
        </div>
        <div class="card-body scrollableContainer">
            <div *ngIf="privacyStatementAvailable" class="alert alert-info" style="margin-bottom: 6px;">
                {{'HOME.PRIVACY_STATEMENT.READ_OUR'|translate}}
                <a [routerLink]="" (click)="downloadPrivacyStatement()" style="font-weight: bold;">
                    {{'HOME.PRIVACY_STATEMENT.LINK_TEXT'|translate}}
                </a>
            </div>

            <div *ngIf="firstAccess" class="alert alert-info mb-2">
                {{'USER.REGISTRATION.NO_USER_REGISTERED_MSG.0'|translate}}
                (<span style="font-weight: bold;">username:</span> admin@vocbench.com, <span style="font-weight: bold;">password:</span> admin)
                {{'USER.REGISTRATION.NO_USER_REGISTERED_MSG.1'|translate}}
                <button class="btn btn-xs btn-primary" (click)="fillDefaultUser()">{{'USER.REGISTRATION.FILL_PREDEFINED_USER'|translate}}</button>
            </div>
            <user-create [(ngModel)]="userForm"></user-create>
        </div>
        <div class="card-footer">
            <div class="float-left">
                <div><span style="color: red; margin-right: 2px;">* </span>{{'COMMONS.MANDATORY_FIELD'|translate}}</div>
                <div><span style="color: red; margin-right: 2px;">** </span>{{'USER.REGISTRATION.OPTIONAL_RECOMMENDED_FIELD'|translate}}</div>
            </div>
            <button type="submit" class="btn btn-info btn-sm float-right" (click)="submit()">{{'ACTIONS.SUBMIT'|translate}}</button>
            <span class="clearfix"></span>
        </div>
    </div>

</div>