<div class="form-group row">
    <label class="col-sm-2 col-form-label">{{'MODELS.USER.EMAIL'|translate}}: <span style="color: red">*</span></label>
    <div class="col-sm-10">
        <input type="email" class="form-control" [(ngModel)]="form.email" (ngModelChange)="onModelChange()"  [placeholder]="'MODELS.USER.EMAIL'|translate">
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">{{'MODELS.USER.PASSWORD'|translate}}: <span style="color: red">*</span></label>
    <div class="col-sm-4">
        <div class="input-group">
            <input *ngIf="!showPwd" type="password" class="form-control" [(ngModel)]="form.password" (ngModelChange)="onModelChange()" placeholder="Password">
            <input *ngIf="showPwd" class="form-control" [(ngModel)]="form.password" placeholder="password">
            <span class="input-group-append">
                <button class="btn btn-light" [ngClass]="{ active : showPwd }" (mousedown)="showPwd = true" (mouseup)="showPwd = false">
                    <span *ngIf="!showPwd" class="fas fa-eye-slash"></span>
                    <span *ngIf="showPwd" class="fas fa-eye"></span>
                </button>
            </span>
        </div>
    </div>
    <label class="col-sm-2 col-form-label" style="white-space: nowrap;">{{'MODELS.USER.CONFIRM_PASSWORD'|translate}}: <span style="color: red">*</span></label>
    <div class="col-sm-4">
        <div class="input-group">
            <input *ngIf="!showPwdConf" type="password" class="form-control" [ngClass]="{invalid : !isConfirmPwdOk()}" 
                [(ngModel)]="form.confirmedPassword" (ngModelChange)="onModelChange()" placeholder="Password">
            <input *ngIf="showPwdConf" class="form-control" [ngClass]="{invalid : !isConfirmPwdOk()}" 
                [(ngModel)]="form.confirmedPassword" placeholder="Password">
            <span class="input-group-append">
                <button class="btn btn-light" [ngClass]="{ active : showPwdConf }" (mousedown)="showPwdConf = true" (mouseup)="showPwdConf = false">
                    <span *ngIf="!showPwdConf" class="fas fa-eye-slash"></span>
                    <span *ngIf="showPwdConf" class="fas fa-eye"></span>
                </button>
            </span>
        </div>
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">{{'MODELS.USER.GIVEN_NAME'|translate}}: <span style="color: red">*</span></label>
    <div class="col-sm-10">
        <input class="form-control" [(ngModel)]="form.givenName" (ngModelChange)="onModelChange()"  [placeholder]="'MODELS.USER.GIVEN_NAME'|translate">
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">{{'MODELS.USER.FAMILY_NAME'|translate}}: <span style="color: red">*</span></label>
    <div class="col-sm-10">
        <input class="form-control" [(ngModel)]="form.familyName" (ngModelChange)="onModelChange()"  [placeholder]="'MODELS.USER.FAMILY_NAME'|translate">
    </div>
</div>

<!-- Optional (hidable) -->
<ng-container *ngFor="let f of optionalFields">
    <div *ngIf="f.visible" class="form-group row">
        <label class="col-sm-2 col-form-label">{{getOptionalFieldLabel(f)|translate}}:</label>
        <div class="col-sm-10">
            <input class="form-control" [(ngModel)]="f.value" (ngModelChange)="onOptionalFieldChange(f)"  [placeholder]="getOptionalFieldLabel(f)|translate">
        </div>
    </div>
</ng-container>

<!-- Custom -->
<div *ngFor="let f of customFields; let idx = index" class="form-group row">
    <label class="col-sm-2 col-form-label">{{f.label}}<span *ngIf="f.description" class="fas fa-info-circle ml-1" [title]="f.description"></span>:</label>
    <div class="col-sm-10">
        <input class="form-control" [(ngModel)]="form.customProperties[f.iri]" (ngModelChange)="onModelChange()" [placeholder]="f.label">
    </div>
</div>

<div style="height: 1px; margin: 0 0 7px; background-color: #e5e5e5;"></div>

<!-- Others -->
<div class="form-group row">
    <label class="col-sm-2 col-form-label">
        {{'MODELS.USER.USER_IRI'|translate}}:
        <span class="fas fa-info-circle" [title]="iriInfoTitle"></span>
    </label>
    <div class="col-sm-10">
        <input *ngIf="!personalUrlVisible" class="form-control" [(ngModel)]="form.iri" [placeholder]="'MODELS.USER.USER_IRI'|translate" (ngModelChange)="onModelChange()">
        <div *ngIf="personalUrlVisible" class="input-group">
            <input class="form-control" [(ngModel)]="form.iri" [placeholder]="'MODELS.USER.USER_IRI'|translate" (ngModelChange)="onModelChange()" [disabled]="form.urlAsIri">
            <span class="input-group-append">
                <span class="input-group-text">
                    <input type="checkbox" [(ngModel)]="form.urlAsIri" [title]="'MODELS.USER.PERSONAL_URL_AS_IRI'|translate" (ngModelChange)="onUrlAsIriChange()">
                </span>
            </span>
        </div>
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">{{'MODELS.USER.AVATAR_URL'|translate}}:</label>
    <div class="col-sm-10">
        <input class="form-control" [(ngModel)]="form.avatarUrl" [placeholder]="'MODELS.USER.AVATAR_URL'|translate" (ngModelChange)="onModelChange()">
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">{{'MODELS.USER.LANGUAGE_PROFICIENCIES'|translate}}: <span style="color: red">**</span></label>
    <div class="col-sm-10">
        <div class="input-group">
            <input class="form-control" [(ngModel)]="form.languageProficiencies" [placeholder]="'MODELS.USER.LANGUAGE_PROFICIENCIES'|translate" readonly>
            <span class="input-group-append">
                <button class="btn btn-light" (click)="editLanguages()">
                    <span class="fas fa-pencil-alt"></span>
                </button>
            </span>
        </div>
    </div>
</div>