<div class="container vbox" style="flex: initial">
    <div class="card card-default vbox" style="flex: initial">
        <div class="card-header">
            <label><span class="fas fa-user"></span> {{'USER.USER_DETAILS'|translate}}</label>
        </div>
        <div class="card-body vbox">
            <user-details [user]="user"></user-details>
        </div>
    </div>
</div>