<div class="card card-default vbox">
    <div class="card-body scrollableContainer">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{'MODELS.USER.GIVEN_NAME'|translate}}:</label>
            <div class="col-sm-10">
                <input-editable *ngIf="!readonly" [value]="user.getGivenName()" (valueEdited)="updateGivenName($event)"></input-editable>
                <input *ngIf="readonly" class="form-control" [ngModel]="user.getGivenName()" readonly>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{'MODELS.USER.FAMILY_NAME'|translate}}:</label>
            <div class="col-sm-10">
                <input-editable *ngIf="!readonly" [value]="user.getFamilyName()" (valueEdited)="updateFamilyName($event)"></input-editable>
                <input *ngIf="readonly" class="form-control" [ngModel]="user.getFamilyName()" readonly>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{'MODELS.USER.EMAIL'|translate}}:</label>
            <div class="col-sm-10">
                <input-editable *ngIf="!readonly" type="email" [value]="user.getEmail()" (valueEdited)="updateEmail($event)"></input-editable>
                <input *ngIf="readonly" class="form-control" [ngModel]="user.getEmail()" readonly>
            </div>
        </div>
        <div *ngIf="!readonly" class="form-group row">
            <label class="col-sm-2 col-form-label">{{'MODELS.USER.PASSWORD'|translate}}:</label>
            <div class="col-sm-10">
                <div class="input-group input-group-sm">
                    <input type="password" class="form-control" [ngModel]="'xxxxxxxx'" readonly>
                    <span class="input-group-append">
                        <button class="btn btn-light" type="button" style="width:36px;" (click)="changePwd()">
                            <span class="fas fa-pencil-alt"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <!-- OPTIONAL -->
        <ng-container *ngFor="let f of optionalFields">
            <div *ngIf="f.visible" class="form-group row">
                <label class="col-sm-2 col-form-label">{{getOptionalFieldLabel(f)|translate}}:</label>
                <div class="col-sm-10">
                    <input-editable *ngIf="!readonly" [value]="getOptionalFieldValue(f)" (valueEdited)="updateOptionalFieldValue(f, $event)" [allowEmpty]="true"></input-editable>
                    <input *ngIf="readonly" class="form-control" [ngModel]="getOptionalFieldValue(f)" readonly>
                </div>
            </div>
        </ng-container>
        <!-- Custom -->
        <div *ngFor="let f of customFields" class="form-group row">
            <label class="col-sm-2 col-form-label">{{f.label}}:</label>
            <div class="col-sm-10">
                <input-editable *ngIf="!readonly" [value]="user.getCustomPropertyValue(f.iri)" (valueEdited)="updateCustomProperty(f, $event)" [allowEmpty]="true"></input-editable>
                <input *ngIf="readonly" class="form-control" [ngModel]="user.getCustomPropertyValue(f.iri)" readonly>
            </div>
        </div>
        <!-- Others -->
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{'MODELS.USER.AVATAR_URL'|translate}}:</label>
            <div class="col-sm-10">
                <input-editable *ngIf="!readonly" [value]="user.getAvatarUrl()" [allowEmpty]="true" (valueEdited)="updateAvatarUrl($event)"></input-editable>
                <input *ngIf="readonly" class="form-control" [ngModel]="user.getAvatarUrl()" readonly>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{'MODELS.USER.LANGUAGE_PROFICIENCIES'|translate}}:</label>
            <div class="col-sm-10">
                <div *ngIf="!readonly" class="input-group">
                    <input class="form-control" [ngModel]="user.getLanguageProficiencies()" readonly>
                    <span class="input-group-append">
                        <button class="btn btn-light" style="width:36px;" (click)="editLanguages()">
                            <span class="fas fa-pencil-alt"></span>
                        </button>
                    </span>
                </div>
                <input *ngIf="readonly" class="form-control" [ngModel]="user.getLanguageProficiencies()" readonly>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <label>{{'MODELS.USER.REGISTERED'|translate}}: </label> {{user.getRegistrationDate()}}
    </div>
</div>