<div class="modal-body vbox">
    <resource-view-editor [resource]="resource" [readonly]="readonly" [context]="resViewCtx" [projectCtx]="projectCtx"></resource-view-editor>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok()">Ok</button>
</div>