<div cdkDrag cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h3 class="modal-title">ResourceView settings</h3>
    </div>
    <div class="modal-body scrollableContainer">

        <res-view-pref></res-view-pref>

        <lang-value-filter-pref style="margin-top: 8px;"></lang-value-filter-pref>
        
        <div class="card card-default" style="margin-top: 8px;">
            <div class="card-header">
                <label style="flex: 1;">ResourceView template</label>
                <div class="btn-toolbar">
                    <div class="btn-group btn-group-xs">
                        <button class="btn btn-light" (click)="storeTemplate()" [title]="'ACTIONS.STORE'|translate">
                            <span class="fas fa-download"></span>
                        </button>
                        <button class="btn btn-light" (click)="loadTemplate()" [title]="'ACTIONS.LOAD'|translate">
                            <span class="fas fa-upload"></span>
                        </button>
                    </div>
                    <div class="btn-group btn-group-xs">
                        <div class="btn-group" ngbDropdown>
                            <button class="btn btn-light dropdown-toggle btn-xs" ngbDropdownToggle>
                                Defaults
                            </button>
                            <div class="dropdown-menu" ngbDropdownMenu>
                                <a class="dropdown-item" (click)="setUserDefault()">
                                    Set this configuration as default for all projects
                                </a>
                                <a class="dropdown-item" (click)="restoreDefault()">
                                    Restore the default configuration
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body vbox">
                <div class="alert alert-info" role="alert" style="margin-bottom: 5px;">
                    Here you can customize the ResourceView by showing/hiding the partitions.
                </div>
                <partition-filter-editor [(ngModel)]="template" (ngModelChange)="updateTemplate()"></partition-filter-editor>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" (click)="ok()">Ok</button>
    </div>
</div>