<div class="card card-default vbox blockingDivHost">
    <div class="card-header">
        <label style="flex: 1">{{ref.identifier}}</label>
        <div class="hbox" style="flex: initial;">
            <button class="btn btn-light btn-sm" (click)="edit()" [title]="'ACTIONS.EDIT'|translate" [disabled]="!editReporterAuthorized">
                <span class="fas fa-pencil-alt"></span>
            </button>
            <div class="btn-group btn-group-sm" style="margin-left: 5px;">
                <button class="btn btn-light" (click)="compileReport()" [title]="'INVOKABLE_REPORTERS.ACTIONS.COMPILE_REPORT'|translate">
                    <span class="fas fa-play"></span>
                </button>
            </div>
            <div style="display: inline-block; margin-left: 5px;">
                <div class="input-group input-group-sm">
                    <select class="form-control" [(ngModel)]="selectedReportFormat">
                        <option *ngFor="let f of reportFormats" [ngValue]="f">{{f.label}}</option>
                    </select>
                    <span class="input-group-append">
                        <button class="btn btn-light" (click)="compileAndDownloadReport()" [title]="'INVOKABLE_REPORTERS.ACTIONS.COMPILE_AND_DOWNLOAD_REPORT'|translate">
                            <span class="fas fa-download"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="form" class="card-body vbox">

        <!-- Label -->
        <div class="gridRow">
            <div class="gridEntry">
                <label class="entryLabel">
                    {{form.label.displayName}}
                    <span class="fas fa-info-circle" [title]="form.label.description"></span>
                </label>
                <input class="form-control form-control-sm" style="flex: 1;" [ngModel]="form.label.value" disabled/>
            </div>
        </div>

        <!-- Description -->
        <div class="gridRow">
            <div class="gridEntry">
                <label class="entryLabel">
                    {{form.description.displayName}}
                    <span class="fas fa-info-circle" [title]="form.description.description"></span>
                </label>
                <input class="form-control form-control-sm" style="flex: 1;" [ngModel]="form.description.value" disabled/>
            </div>
        </div>

        <!-- Template -->
        <div class="gridRow">
            <div class="gridEntry">
                <label class="entryLabel">
                    {{form.template.displayName}}
                    <span class="fas fa-info-circle" [title]="form.template.description"></span>
                </label>
                <mustache-editor style="height: 100px;" [ngModel]="form.template.value" [disabled]="true"></mustache-editor>
            </div>
        </div>
        
        <!-- MimeType -->
        <div class="gridRow">
            <div class="gridEntry">
                <label class="entryLabel">
                    {{form.mimeType.displayName}}
                    <span class="fas fa-info-circle" [title]="form.mimeType.description"></span>
                </label>
                <input class="form-control form-control-sm" style="flex: 1;" [ngModel]="form.mimeType.value" disabled/>
            </div>
        </div>

        <!-- Service invocations -->
        <div class="hbox">
            <div class="card card-default vbox">
                <div class="card-header">
                    <label style="flex: 1">
                        {{form.sections.displayName}}
                        <span class="fas fa-info-circle" [title]="form.sections.description"></span>
                    </label>
                    <div class="btn-toolbar" role="toolbar">
                        <div class="btn-group btn-group-sm">
                            <button class="btn btn-light" (click)="createServiceInvocation()" [title]="'ACTIONS.CREATE'|translate" 
                                [disabled]="!createInvocationAuthorized">
                                <span class="fas fa-plus"></span>
                            </button>
                            <button class="btn btn-light" (click)="deleteServiceInvocation()" [title]="'ACTIONS.DELETE'|translate" 
                                [disabled]="!selectedServiceInvocation || !deleteInvocationAuthorized">
                                <span class="fas fa-minus"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body vbox scrollableContainer">
                    <div *ngFor="let s of form.sections.value; let idx=index" class="listItem" [ngClass]="{ active: selectedServiceInvocationIdx == idx }" (click)="selectServiceInvocation(idx)">
                        <ng-container *ngIf="s.label">{{s.label}}</ng-container>
                        <ng-container *ngIf="!s.label">{{s.service}}.{{s.operation}}</ng-container>
                    </div>
                </div>
            </div>
            <service-invocation *ngIf="selectedServiceInvocation" style="margin-left: 4px; flex: 4;"
                [invocation]="selectedServiceInvocation" [idx]="selectedServiceInvocationIdx" (update)="onServiceInvocationUpdate()">
            </service-invocation>
        </div>

    </div>

    <div #blockingDiv class="blockingDiv" style="display:none">
        <div class="loadingDiv">
            <div>
                <p>Loading...</p><img src="./assets/images/loading.gif" />
            </div>
        </div>
    </div>

</div>