@import url('app/widget/codemirror/manchesterEditor/manchester.css');

html, body {
    height: 100%;
    margin: 0;
    font-size: 11px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    /* line-height: 1; */
}

/* Splash screen style - BEGIN */
.app-loading {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-image: linear-gradient(to right, #1e4387, #00b5e9);
}
.logo-container {
    position: relative;
    height: 300px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo-container > span {
    position: absolute;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    top: 280px;
}
.loader, .loader:after {
    border-radius: 50%;
    width: 230px;
    height: 230px;
    font-size: 6px;
  }
.loader {
    border-top: 0.01em solid #fff;
    border-right: 0.4em solid #fff;
    border-bottom: 0.8em solid #fff;
    border-left: 0.8em solid transparent;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 2.0s infinite linear;
    animation: load8 2.0s infinite linear;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/* Splash screen style - END */

.blockingDivHost {
    position: relative; /* to allow blockDiv with absolute position inside these divs */
}

/* Div visible only in some scenario when there is need to block event from user */
.blockingDiv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000; /* Blocking div z-index > of .modal z-index (1000+) */
    text-align: center;
    color: black;
    font-size: 13px;
}
.blockingDiv > .loadingDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 140px;
    height: 100px;
    transform: translate(-50%, -50%);
    border: 1px solid #ddd;
    background: linear-gradient(#FFFFFF, #CACACA);
}

.blockingDiv > .loadingDiv > div {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

app {
    height: 100%;
    display: flex;
    flex-flow: column;
}

.homeLogo {
    max-width: 60px;
    max-height: 36px;
}

li.disabled {
    cursor: not-allowed;    
}

/*Disable events when user clicks on a disabled link*/
li.disabled > a {
    pointer-events: none;
}

config-bar {
    background: linear-gradient(#FFFFFF, #CACACA);
    padding-top: 3px;
    padding-bottom: 3px;
}

.bottom-bar {
    background: #7180AB;
    border-top: 1px solid #C5D5E4;
    color: white;
    padding: 3px 20px;    
}

.bottom-bar a {
    text-decoration: none;
    color: white
}

/* To style component that take place in main router outlet */
.pageComponent {
    flex: 1;
    min-height: 0;
    display: flex;
    overflow-y: hidden;
}

.vbox {
    display: flex;
    flex-flow: column !important;
    flex: 1;
    min-height: 0;
    min-width: 0;
}

.hbox {
    display: flex;
    flex-flow: row !important;
    flex: 1;
    min-height: 0;
    min-width: 0;
}

.project-row:first-of-type { border-top: 1px solid #ddd; }
.project-row { border-bottom: 1px solid #ddd; }

resource-list, class-individual-tree, scheme-selection, data-range-editor, import-tree {
    display: flex;
    flex: 1;
    min-height: 0;
    flex-flow: column;
}

/* Note: in order to work, the div with this class needs to be placed into a display:flex container */
.scrollableContainer {
    padding: 6px; /* the same of the card-body */
    overflow: auto;
    flex: 1;
    min-height: 0;
    display: flex;
    flex-flow: column;
}
/* restore the modal-body padding when scrollableContainer is applied to the same div */
.modal-body.scrollableContainer {
    padding: 10px;
}

button > rdf-resource {
    vertical-align: middle;
}

/* Ellipsis of the content of a rdf-resource in a button, in a navigation tab (ResView tabs), and in a .card-header (heading of ResView) */
/* button > rdf-resource > span, .nav-tabs rdf-resource > span,
.card-header rdf-resource > span, .tile rdf-resource > span { */
button > rdf-resource span, .nav-tabs rdf-resource span,
.card-header rdf-resource span, .tile rdf-resource span {
	max-width: 200px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap !important;
}

.proposedAddRes {
    background-color: #dff0d8 !important;
    color: #3c763d !important;
    border-color: #d6e9c6 !important;
}
.proposedRemoveRes {
    background-color: #f2dede !important;
    color: #a94442 !important;
    border-color: #ebccd1 !important;
}
.proposedAddTriple {
    color: green !important;
    font-style: italic !important;
}
.proposedRemoveTriple {
    color: darkred !important;
    text-decoration: line-through !important;
}

.flagIcon {
    position: relative;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 10px;
    line-height: 1;
}
.flagIcon > span {
    position: absolute;
    top: 1px;
    left: 0px;
    width: 16px;
    margin: 0 auto;
    user-select: none;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
}

.treeListComponent {
    /* vbox + blockingDivHost */
    display: flex;
    flex-flow: column;
    flex: 1;
    min-height: 0;
    min-width: 0;
    position: relative;
}

.treeListComponent .card-body {
    padding: 0px;
}

.treeListComponent rdf-resource:hover {
    background-color: #e5f3ff;
}

reified-resource {
    /* negative margins to remove the 3px padding of listItem (container of reified-resource) */
    margin: -2px 0px -2px -3px;
}

editable-resource {
    display: flex;
}

.expandableResource {
    border: 1px solid #ccc;
    border-radius: 2px;
    background-color: #eee;
    min-height: 16px;
    padding: 2px 3px;
    flex: 1;
}

.selectedResource {
    background-color: #cde8ff !important;
    border: 1px solid #7bc3ff !important;
}

.treeNode {
    min-height: 24px;
    margin: 2px 0px;
    display: flex;
    align-items: center;
    position: relative; /* for positioning 'absolute' children (instNum label in classTreeNode) */
}
.treeNode .expandCollapseBtnContainer {
    min-width: 16px;
}
.treeNode rdf-resource {
    flex: 1;
    min-height: 24px;
}

.expandCollapseBtnContainer > img {
    cursor: pointer;
}

.subTree {
	padding-left:15px;
}

.listNodeItem {
    display: flex;
    align-items: center;
    min-height: 24px;
}

.listNodeItem input {
    min-width: 13px;
}

.listNodeItem rdf-resource {
	border-radius: 2px;
	flex: 1;
}

input[type="image"]:disabled  {
	opacity: 0.5;
}

img.disabled  {
	opacity: 0.5;
}

/* table which rows are colored when hovered */
.table-hoverable tbody tr:hover td { 
    background-color: #e5f3ff !important;
}

/* when a table-hoverable is nested within another one, add the class table-hoverable-nested to avoid that selection is inherited by the inner table */
.table-hoverable tbody tr:hover .table-hoverable.table-hoverable-nested td {
    background-color: transparent !important;
}
.table-hoverable tbody tr:hover .table-hoverable tr:hover td {
    background-color: #e5f3ff !important;
}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
}
.table-primary, .table-primary>td, .table-primary>th {
    background-color: #cde8ff; /* different than the default in bootstrap, in order to match the listItem:active color */
}

.listItem {
    padding: 3px;
    width: 100%;
    min-height: 24px;
    display: flex;
    align-items: center;
}
.listItem:hover {
    background-color: #e5f3ff;
}
.listItem.active {
    background-color: #cde8ff;
}
.listItem.disabled {
    cursor: not-allowed;
    color: #999;
    pointer-events: none;
}
.listItem.disabled.active {
    background-color: #eee !important;
}
.listItem rdf-resource {
	border-radius: 2px;
	flex: 1;
}

.groupPanel {
    border: 1px solid #aaa;
    border-radius: 4px;
    margin: 8px 0 5px;
    position: relative;
}
.groupPanel-heading {
    display: flex;
    align-items: center;
    position: absolute;
    height: 20px;
    top: -11px;
    left: 6px;
    right: 8px;
}
.groupPanel-heading .groupPanel-heading-content {
    /* labels, buttons, or other elements that should be placed on the heading*/
    padding: 0px 2px;
    background: white;
}
.groupPanel-add-btn {
    position: absolute; top: -2px; right: 12px;
}
.groupPanel-dropdown-btn {
    position: absolute; top: 0px; right: -2px;
}
.groupPanel-body {
    padding: 12px 4px 4px;
}

.panelButtonImg {
    width: 20px;
    height: 20px;
}

input.ng-invalid.submitted {
    border-left: 4px solid #a94442;
}
input.invalid {
    background: #ffaaaa;
}

/*Removes spinner from input type number (I'm not sure if show or not the spinner, keep it commented for now)*/
/*input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}*/

/* apply bootstrap style to input of type "file" */
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/* this class might seem duplicate of transparentBtn, but this is more generic, more "bootstrap way" (to apply together with btn and btn-<size>) */
.btn-transparent {
    background: transparent;
    border: 1px transparent;
    opacity: 0.4;
	filter: alpha(opacity=40);
    color: #000000;
}
.btn-transparent:hover {
    opacity: 0.9;
    background: #f7f7f7;
	filter: alpha(opacity=90);
}
.btn-transparent.disabled {
	opacity: 0.15;
    filter: alpha(opacity=15);
    cursor: not-allowed;
}

.btn-faded {
    border: none;
    background: #dddddd33;
    transition: all 0.3s ease-out;
}
.btn-faded:hover:enabled, .btn-faded:focus:enabled, .btn-faded:active:enabled {
    background: #ccc !important; /*important in order to "win" over the backgroung in btn-group:hover>btn-faded*/
    transition: all 0.4s ease-in;
}
.btn-faded:focus {
    outline: none;
}
.btn-faded > .fas, .btn-faded > .far {
    color: #fff;
}

.btn-group:hover > .btn-faded {
    background: #eee;
    transition: all 0.4s ease-in;
}

.btn-light {
    border-color: #ccc !important;
}
/**
 * Progress bars text in Bootstrap are centered according the progress bar, not the "background" bar. This classes fix.
 */
.progress {
    position: relative;
    margin-bottom: 0;
    background-color: #d9534f;
    height: 16px;
}
.progress > .progress-bar > .progress-value {
    position: absolute;
    display: block;
    width: 100%;
    color: white;
    white-space: nowrap;
}
.large-progress {
    min-width: 130px;
}
 
.CodeMirror { 
    border: 1px solid #ddd; /*Border of textare of CodeMirror (just in the editors, because in yasqe there is already)*/
    height: auto; 
    flex: 1;
}
/* height auto in CodeMirror let the textarea of codemirror fill the available space.
With the following classes is possible to limit the height of the editor to the given max-height */
.CodeMirror-sm .CodeMirror-scroll { 
    max-height: 200px !important; 
}
.CodeMirror-md .CodeMirror-scroll { 
    max-height: 300px !important; 
}
.CodeMirror-lg .CodeMirror-scroll { 
    max-height: 400px !important; 
}
.CodeMirror-scroll {
    min-height: 100px;
    margin-right: 0px;
    flex: 1;
}

ngx-codemirror.disabled .CodeMirror {
    background: #eee;
}

.cm-s-default .cm-variable-4 { color: #c00 }

/*Reset height to auto when codemirror is fullscreen*/
.CodeMirror.CodeMirror-fullscreen { height: auto !important }
/* It is necessary to visualize hints form  */
.CodeMirror-hints {
    z-index: 1000000 !important;
}
.CodeMirror-hints li{
    border-radius: 0px !important;
}
/* it is necessary to visualize a divisor inside hints window */
.hint-separator { 
    border-top: 1px solid rgb(220, 220, 220) ;
}

.cm-mustache {color: #0ca;}

.yasqe {
    display: flex;
    flex-flow: column;
    flex: 1;
    min-height: 0;
    min-width: 0;
}
/*To put codemirror in fullscreen in front of the menubar (default z-index 7 made the textarea behind the navbar)*/
.yasqe .CodeMirror-fullscreen { z-index: 999 !important; }
/* Reposition the fullscreen button */
.yasqe .yasqe_buttons { top: 5px; } 
/* To hide fullscreen button when yasqe is in readonly mode */
.yasqe-hide-btns .yasqe_buttons { display: none; }

/* Reduce lateral margin of the buttons that contain img in btn-group in card header (usually button for tree/list managment) */
.card-header .btn-group>.btn>img {
    margin-left: -2px;
    margin-right: -2px;
}

/* Button to add/remove elements in ResourceView partitions */
.transparentBtn:hover, .transparentBtn:focus {
	color: #000000;
	text-decoration: none;
	cursor: pointer;
	opacity: 0.9;
	filter: alpha(opacity=90);
}
button.transparentBtn {
    width: 18px;
    height: 18px;
    float: right;
    font-size: 14px;
	font-weight: bold;
	line-height: 1;
	color: #000000;
	text-shadow: 0 1px 0 #ffffff;
	opacity: 0.4;
	filter: alpha(opacity=40);
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
    -webkit-appearance: none;
    appearance: none;
}
button.transparentBtn:disabled  {
	opacity: 0.2;
    filter: alpha(opacity=20);
    cursor: default;
}

button.predObjRenderPanelBtn {
    color: #000000;
	opacity: 0.5;
    filter: alpha(opacity=50);
    line-height: 1;
}
button.predObjRenderPanelBtn:disabled {
    opacity: 0.2;
    filter: alpha(opacity=20);
    cursor: default;
}
button.predObjRenderPanelBtn:hover:enabled, button.predObjRenderPanelBtn:focus:enabled {
    color: #000000;
	opacity: 0.9;
    filter: alpha(opacity=90);
    cursor: pointer;
}

button.resViewPartitionAddBtn {
    filter: alpha(opacity=40);
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    appearance: none;
}
button.resViewPartitionAddBtn:disabled  {
	opacity: 0.2;
    filter: alpha(opacity=20);
    cursor: default;
}

.grayText {
    color: #999;
}
.greenText {
    color: green;
}

/*override padding of the nav-tab links*/
.nav-tabs-xs>li>a {
    cursor: pointer !important;
    padding: 3px !important;
}

/* html hidden attribute doesn't work with flex-box, use this class instead */
.hidden {
    display: none;
}

.sliderY, .sliderX {
    display: flex;
    justify-content: center;
    margin: 2px;
    padding: 3px;
    border-radius: 3px;
}
.sliderY {
    cursor: ns-resize;
}
.sliderX {
    cursor: ew-resize;
}
.sliderY:hover, .sliderX:hover {
    background-color: #dddddd;
}
.sliderY div, .sliderX div {
    align-self: center;
    opacity: 0.4;
	filter: alpha(opacity=40);
}
.sliderY:hover div, .sliderY:hover div {
    opacity: 0.9;
    filter: alpha(opacity=90);
}

/* To apply to the arrow.png image (that points down) in order to change orientation*/
.arrow-left {
    transform: rotate(90deg);
}
.arrow-up {
    transform: rotate(180deg);
}
.arrow-right {
    transform: rotate(270deg);
}

.clickable:hover {
    cursor: pointer;
}

lang-pref {
    display: flex;
    flex: 1;
}

/* Fix for a bug in Firefox that adds an additional row to a textarea
see https://stackoverflow.com/questions/46746887/textarea-extra-row-in-firefox-browser */
textarea {
    overflow-x: hidden
}

.avatarContainer {
    background-size:cover;
    background-position:50% 50%;
    border-radius: 4px;
}

.tile-group { 
    min-height: 28px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #eee;
    flex-wrap: wrap;
}

.tile { 
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 2px 4px;
    background: #fff;
    margin: 2px; 
    white-space: nowrap;
}

/* class to add to form-control in order to create a container (similar to a form-control) for a rdf-resource */
.input-resource {
    border: 1px solid #ccc;
    background-color: #eee;
    padding: 2px 10px;
    min-height: 28px; /* height of form-control-sm. Override if this class is used with a different input- size */
    max-height: 140px;
    height: initial; /* override the height of the form-control-sm */
    overflow: auto;
}

/* class for positioning the close "x" in a multiline dismissible alert at the top right corner */
.alert-multiline.alert-dismissible {
    position: relative
}
.alert-multiline.alert-dismissible > .close {
    position: absolute;
    top: 4px;
    right: 6px;
}

/* Utility class (to use in combo with max-width) in order truncate inner text with ellipsis if its width exceeds the max-width */
.ellipsable {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap !important;
}
.ellipsable > label {
    display: inline;
}

.form-control-editable {
    background-color: #fdfdfd22; /* ending two digits represent the opacity */
    border: 1px solid #fbfbfb;
}
.form-control-editable:hover {
    background-color: #f7f7f799;
    border: 1px solid #f4f4f4 !important;
}
.form-control-editable:disabled {
    background-color: #f4f4f4;
    cursor: not-allowed;
}

/* ####################################
########## BOOTSTRAP OVERRIDE #########
#####################################*/

/* remove the negative margin of the grid layout of bootstrap */
.row {
    margin-right: 0;
    margin-left: 0;
}

.btn.active {
    outline: 0px;
    background-image: none;
    box-shadow: rgba(0, 0, 0, 0.125) 0px 3px 5px inset;
}

/* Navigation bar START */

/* Theme 0 */
.bg-theme-0 { background-color: #1e4387; }
.bg-theme-alt-0, .navbar.bg-theme-0 .nav-item.active > .nav-link, .navbar.bg-theme-0 .nav-item:hover > .nav-link { background-color: #7486ab; }
/* Theme 1 */
.bg-theme-1 { background-color: #283e4a; }
.bg-theme-alt-1, .navbar.bg-theme-1 .nav-item.active > .nav-link, .navbar.bg-theme-1 .nav-item:hover > .nav-link { background-color: #75c6f7; }
/* Theme 2 */
.bg-theme-2 { background-color: #1da1f2; }
.bg-theme-alt-2, .navbar.bg-theme-2 .nav-item.active > .nav-link, .navbar.bg-theme-2 .nav-item:hover > .nav-link { background-color: #75c6f7; }
/* Theme 3 */
.bg-theme-3 { background-color: #367c36; }
.bg-theme-alt-3, .navbar.bg-theme-3 .nav-item.active > .nav-link, .navbar.bg-theme-3 .nav-item:hover > .nav-link { background-color: #5cb85c; }
/* Theme 4 */
.bg-theme-4 { background-color: #5f5f5f; }
.bg-theme-alt-4, .navbar.bg-theme-4 .nav-item.active > .nav-link, .navbar.bg-theme-4 .nav-item:hover > .nav-link { background-color: #5f5f5f; }
/* Theme 5 */
.bg-theme-5 { background-color: #cc181e; }
.bg-theme-alt-5, .navbar.bg-theme-5 .nav-item.active > .nav-link, .navbar.bg-theme-5 .nav-item:hover > .nav-link { background-color: #ec5f64; }
/* Theme 6 */
.bg-theme-6 { background-color: #6f5499; }
.bg-theme-alt-6, .navbar.bg-theme-6 .nav-item.active > .nav-link, .navbar.bg-theme-6 .nav-item:hover > .nav-link { background-color: #a08cc0; }
        
.navbar-dark .navbar-nav .nav-link {
    color: white;
}

nav {
    font-size: 12px;
}

.navbar {
    min-height: 44px; /* Required in order to keep the navbar to the same height event when menu item are not loaded yet */
    padding: 0rem 1rem;
    color: white;
}

.navbar-brand {
    font-size: 18px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 13px;
    margin-right: 1px;
}

.navbar .nav-item.active > .nav-link, .navbar .nav-item:hover > .nav-link {
    color: black;
}


/* Navigation bar END */


.btn-toolbar>.btn, .btn-toolbar>.btn-group, .btn-toolbar>.input-group {
    margin-left: 5px;
}

.table {
    font-size: inherit;
    margin-bottom: 0px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle;
}

.table > tbody > tr:first-child > td {
    border-top: none;
}

.card { margin-bottom: 0px; }
.card-header {
    display: flex;
    align-items: center;
    padding: 5px;
    min-height: 30px;
    background: linear-gradient(#FFFFFF, #CACACA);
    border-color: #BFBFBF;
}
.card-body {
    padding: 6px;
}
.card-footer {
    padding: 6px;
}
.card-footer>.btn {
    margin-left: .5rem;
}

.card-alt { border-color: #ddd; }
.card-alt > .card-header {
    background: linear-gradient(#fff, #eee);
    border-bottom: 1px solid #ccc;
}

label { 
    font-weight: bold;
    margin-bottom: 0px;
}

.form-check-inline .form-check-input, .form-check-input {
    margin-top: .1rem;
    margin-left: -2rem;
}
.form-check, .form-check.form-check-inline {
    padding-left: 2rem;
}

.tab-content {
    flex: 1;
    display: flex;
    flex-flow: column;
    min-height: 0px;
    border: 1px solid #ddd;
    border-top-color: transparent;
    padding: 8px;
}

.dropup .dropdown-toggle::after, .dropdown-toggle::after {
    display:none;
}

.dropdown-menu>li>a {
    padding: 3px 10px;
}

.alert {
    margin-bottom: 0px;
}

.popover {
    max-width: 500px;
}
.popover-body {
    max-height: 200px;
    overflow-y: auto;
    font-size: 1.125rem;
}

/*not available in bootstrap*/
.btn-group-xs .btn, .btn-xs {
    padding: 1px 5px;
    line-height: 1.5;
    border-radius: .3rem;
}
.form-control-xs {
    height: calc(1.5em + .25rem + 2px);
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

/*if a element has (click) instead of href doesn't show pointer cursor. This css rule fixes it*/
.dropdown-menu a:hover {
    cursor: pointer
}

.dropdown-menu .divider {
    margin: 2px 0px;
}

.dropdown-item {
    min-height: 20px;
}

/* tags bar START */
/* .nav-tabs>li>a { */
.nav-tabs .nav-link {
    padding: 4px 8px;
    background-color: #eee;
    border: 1px solid #ddd;
    cursor: default;
    margin-right: 2px;
}

.nav-tabs .nav-item.active > .nav-link  {
    background-color: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(221, 221, 221) rgb(221, 221, 221) transparent;
    color: #555555;
}

.nav-tabs .nav-item {
    margin-bottom: -1px;
}
/* tags bar END */

/* modals START */

.modal-dialog {
    width: 600px;
    max-width: 600px;
}
.modal-full.modal-dialog {
    width: 95% !important;
    max-width: 95% !important;
}
.modal-lg {
    width: 900px !important;
    max-width: initial;
}
.modal-xl {
    width: 1140px !important;
    max-width: initial;
}

/* Following modal classe overrides are in order to avoid that modals exceed window height */
.modal-header {
    display: block; /* override the flex */
}
.modal-title {
    display: inline-block
}
.modal-body {
    display: flex;
    flex-flow: column;
    min-height: 0;
}
.modal-footer {
    display: block;
    text-align: right;
}

/* 
The following rules ensure that the dialogs fill (at max) up to 95% of the video height (95vh).
In order to let the content of the modal fill the available space (independently from its content), invoke UIUtils.setFullSizeModal()
*/
ngb-modal-window.modal { 
    /* .modal selector is added in order to increse the specifity of the rule 
        and override the display: block of the d-block class applied to ngb-modal-window */
    display: flex !important;
    flex-flow: column;
    min-height: 0;
    min-width: 0;
}
.modal-content {
    display: flex !important;
    flex-flow: column;
    min-height: 0;
    min-width: 0;
}
.modal-content > * {
    display: flex;
    flex-flow: column;
    flex: 1;
    min-height: 0;
    min-width: 0;
}
.modal-dialog {
    margin: 15px auto;
    display: flex !important;
    flex-flow: column;
    flex: 1;
    min-height: 0;
    min-width: 0;
}
/* modals END */