<div cdkDrag cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h3 class="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body vbox">

        <div class="hbox">
            <class-tree-panel (nodeSelected)="onTreeClassSelected($event)" [editable]="false"></class-tree-panel>

            <div style="align-self: center; margin: 5px;">
                <button class="btn btn-light btn-sm btn-block" style="margin-bottom: 5px;" (click)="addClassToList()" [disabled]="!selectedTreeClass">
                    {{'ACTIONS.ADD'|translate}}<span class="fas fa-chevron-right"></span>
                </button>
                <button class="btn btn-light btn-sm btn-block" style="margin-bottom: 5px;" (click)="removeFromList()" [disabled]="!selectedListElement">
                    <span class="fas fa-chevron-left"></span>{{'ACTIONS.REMOVE'|translate}}
                </button>

                <button class="btn btn-light btn-sm btn-block" style="margin-top: 20px;" (click)="addExpressionToList()">
                    Manchester...<span class="fas fa-chevron-right"></span>
                </button>
            </div>

            <div class="scrollableContainer" style="border: 1px solid #ddd">
                <div *ngFor="let c of classList">
                    <rdf-resource [resource]="c" class="listItem" (click)="onListElementSelected(c)" 
                        [ngClass]="{selectedResource : isListElementSelected(c)}">
                    </rdf-resource>
                </div>
            </div>
        </div>

        <div *ngIf="duplicateResource" class="alert alert-danger" style="margin-top: 4px;" role="alert">
            <strong>{{duplicateResource.getShow()}}</strong> {{'RESOURCE_VIEW.MISC.IS_ALREADY_IN_LIST'|translate}}
        </div>

    </div>

    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="classList.length == 0">Ok</button>
        <button class="btn btn-light btn-sm" (click)="cancel()">{{'ACTIONS.CANCEL'|translate}}</button>
    </div>
</div>