<div cdkDrag cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h3 class="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body vbox">
        <div class="hbox">
            <class-tree-panel (nodeSelected)="onTreeClassSelected($event)" [editable]="false"></class-tree-panel>
            <instance-list-panel  style="margin-left: 4px;" [cls]="selectedClass" (nodeSelected)="onSourceListInstanceSelected($event)"
                [editable]="false">
            </instance-list-panel>
            
            <div style="align-self: center; margin: 5px;">
                <button class="btn btn-light btn-sm btn-block" (click)="addToList()" [disabled]="!selectedSourceInstance">
                    {{'ACTIONS.ADD'|translate}}<span class="fas fa-chevron-right"></span>
                </button>
                <button class="btn btn-light btn-sm btn-block" (click)="removeFromList()" [disabled]="!selectedTargetInstance">
                    <span class="fas fa-chevron-left"></span>{{'ACTIONS.REMOVE'|translate}}
                </button>
            </div>

            <div class="scrollableContainer" style="border: 1px solid #ddd">
                <div *ngFor="let i of instanceList">
                    <rdf-resource [resource]="i" class="listItem" (click)="onTargetListInstanceSelected(i)" 
                        [ngClass]="{selectedResource : isTargetListInstanceSelected(i)}">
                    </rdf-resource>
                </div>
            </div>
        </div>
            
        <div *ngIf="duplicateInstance" class="alert alert-danger" style="margin-top: 4px;" role="alert">
            <strong>{{duplicateInstance.getShow()}}</strong> {{'RESOURCE_VIEW.MISC.IS_ALREADY_IN_LIST'|translate}}
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="instanceList.length == 0">Ok</button>
        <button class="btn btn-light btn-sm" (click)="cancel()">{{'ACTIONS.CANCEL'|translate}}</button>
    </div>
</div>