<div class="card card-default vbox blockingDivHost">
    <div class="card-header">
        <rdf-resource style="flex: 1;" *ngIf="resource" [resource]="resource"></rdf-resource>
        <input class="form-control form-control-sm" [ngModel]="resource.getNominalValue()" readonly>

        <button class="btn btn-xs btn-light" style="margin-left: 3px;" (click)="buildResourceView(resource)" [title]="'ACTIONS.REFRESH'|translate">
            <span class="fas fa-redo"></span>
        </button>
        <button class="btn btn-light btn-xs" style="margin-left: 3px;" (click)="openSettings()" [title]="'COMMONS.SETTINGS'|translate">
            <span class="fas fa-cog"></span>
        </button>
    </div>
    <div *ngIf="resource && !unexistingResource" class="card-body scrollableContainer">
        <ng-container *ngIf="!unexistingResource && !unknownHost">
            <!-- first-->
            <div class="card card-default"> 
                <div class="card-body">
                    <h2 class="qname"><span>{{resource.qname}}</span></h2>
                    <div>
                        <p>{{resource.getShow()}}</p>
                        <p *ngFor="let def of definitions">{{def.getShow()}} ({{def.getAdditionalProperty('lang')}})</p>
                    </div>
                    <h2 class="concept"><span>{{'RESOURCE_VIEW.TERM_VIEW.BROADER_CONCEPTS'|translate}}</span></h2>
                    <div>
                        <p *ngFor="let broader of broaders">{{broader.getShow()}}</p>
                    </div>
                </div>
            </div>
            <!-- Languages-->
            <div class="lang">
                <lang-item *ngFor="let item of languages" class="clickable" [language]="item.lang" [disabled]="item.disabled" 
                    [showName]="false" [size]="'md'" (click)="onLanguageClicked(item)">
                </lang-item>
            </div>
            <!-- Language definitions-->
            <div class="def-lang">
                <lang-box #langBox *ngFor="let lang of langsWithValue" [resource]="resource" [lang]="lang" [pred-obj-list]="langStruct[lang]"
                    [defCrConfig]="defCustomRangeConfig" [readonly]="readonly" (update)="buildResourceView(resource)" (delete)="deleteLangBox(lang)">
                </lang-box>
            </div>
        </ng-container>

        <div *ngIf="unexistingResource" class="alert alert-danger">
            {{'RESOURCE_VIEW.STATUS.RESOURCE_NOT_EXISTING'|translate}}
        </div>
        <div *ngIf="unknownHost" class="alert alert-danger">
            {{'RESOURCE_VIEW.STATUS.RESOURCE_UNKNOWN_HOST'|translate}}
        </div>

    </div>
    <div class="card-footer" style="min-height: 31px;"></div>

    <div #blockDiv class="blockingDiv" style="display:none">
        <div class="loadingDiv">
            <div>
                <p>Loading...</p><img src="./assets/images/loading.gif" />
            </div>
        </div>
    </div>

</div>