<div class="card card-default">
    <div class="card-header">
        <label>{{'SHEET2RDF.CONVERTER.CONVERTER'|translate}}</label>
    </div>
    <div class="card-body scrollableContainer">

        <table class="table table-sm table-hoverable" style="margin-top: 4px;">
            <thead>
                <tr>
                    <th>{{'COMMONS.NAME'|translate}}</th>
                    <th>{{'COMMONS.DESCRIPTION'|translate}}</th>
                    <th nowrap>{{'SHEET2RDF.CONVERTER.RDF_CAPABILITY'|translate}}</th>
                    <th>URI</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let c of availableConverters" (click)="selectConverter(c)" [ngClass]="{ 'table-primary': c == selectedConverter }" style="cursor: pointer;">
                    <td>{{c.getName()}}</td>
                    <td style="white-space: pre;">{{c.getDescription()}}</td>
                    <td nowrap>{{c.getRDFCapability()}}
                        <span *ngIf="c.getRDFCapability() == 'typedLiteral'" class="fas fa-info-circle" [title]="c.getDatatypes()"></span>
                    </td>
                    <td [title]="c.getURI()">{{c.getQName()}}</td>
                </tr>
            </tbody>
        </table>


        <div *ngIf="selectedConverter" class="groupPanel vbox" style="margin-top: 12px;">
            <div class="groupPanel-heading">
                <span style="flex: 1">
                    <label class="groupPanel-heading-content">{{'SHEET2RDF.CONVERTER.CONVERTER_PARAMETERIZATION'|translate}}:</label>
                </span>
            </div>
            <div class="groupPanel-body hbox">
                <div class="card card-alt" style="flex: 1;">
                    <div class="card-header">
                        <label>{{'SHEET2RDF.CONVERTER.SIGNATURE'|translate}}</label>
                    </div>
                    <div class="card-body">
                        <div *ngFor="let s of availableSignatures" class="listItem" (click)="selectSignature(s)" [ngClass]="{ active: s == selectedSignature }">
                            <span>{{getSignatureShow(s)}}</span>
                            <span *ngIf="s.getRequirementLevels() != 'IGNORED'" [title]="'Feature path ' + s.getRequirementLevels().toLocaleLowerCase()" style="margin-left: 4px; font-weight: bold;">
                                <ng-container *ngIf="s.getRequirementLevels() == 'OPTIONAL'">
                                    [
                                    <span class="fas fa-long-arrow-alt-left"></span>
                                    <span style="font-style: italic;">F</span>
                                    ]
                                </ng-container>
                                <ng-container *ngIf="s.getRequirementLevels() == 'REQUIRED'">
                                    <span class="fas fa-long-arrow-alt-left"></span>
                                    <span style="font-style: italic;">F</span>
                                </ng-container>
                            </span>

                        </div>
                    </div>
                </div>


                <!-- default literal converter, datatype and language choice -->
                <div *ngIf="showDefaultLiteralConverterOpt(); else otherConvBlock" class="card card-default" style="flex: 3; margin-left: 4px;">
                    <div class="card-body hbox" style="align-items: center;">
                        <select class="form-control form-control-sm" style="max-width: 150px; margin-right: 4px;" [(ngModel)]="selectedLiteralAspect"
                            [disabled]="!literalAspectChangeable" (ngModelChange)="onSignatureParamChange()">
                            <option *ngFor="let o of literalAspectOpts">{{o}}</option>
                        </select>
                        <ng-container [ngSwitch]="selectedLiteralAspect">
                            <lang-picker *ngSwitchCase="languageLiteralAspect" style="flex: 1;" [(ngModel)]="language"
                                (ngModelChange)="onSignatureParamChange()" [readonly]="constrainedLanguage">
                            </lang-picker>
                            <datatype-picker *ngSwitchCase="datatypeLiteralAspect" style="flex: 1;" [(ngModel)]="datatype"
                                (ngModelChange)="onSignatureParamChange()" [readonly]="constrainedDatatype">
                            </datatype-picker>
                            <input *ngSwitchDefault class="form-control form-control-sm" readonly>
                        </ng-container>
                    </div>

                </div>
                <!-- other converters -->
                <ng-template #otherConvBlock>
                    <div *ngIf="signatureParams?.length > 0" class="card card-alt" style="flex: 2; margin-left: 4px;">
                        <div class="card-header">
                            <label>{{'SHEET2RDF.CONVERTER.PARAMS'|translate}}</label>
                        </div>
                        <div class="card-body">
                            <table class="table table-sm table-borderless">
                                <colgroup>
                                    <col style="width: 1%;">
                                    <col>
                                </colgroup>
                                <tbody>
                                    <tr *ngFor="let p of signatureParams">
                                        <td nowrap>
                                            <label>{{p.name}}</label>
                                            <span class="fas fa-info-circle ml-1" [title]="getParameterTitle(p)"></span>
                                        </td>
                                        <td>
                                            <ng-container *ngIf="p.type == 'java.lang.String'">
                                                <div *ngIf="p.name == 'xRole'; else genericStringParamElseBlock" class="hbox">
                                                    <select [(ngModel)]="p.value" class="form-control form-control-sm" (ngModelChange)="onSignatureParamChange()">
                                                        <option *ngFor="let r of xRoles">{{r}}</option>
                                                    </select>
                                                </div>
                                                <ng-template #genericStringParamElseBlock>
                                                    <input class="form-control form-control-sm" [(ngModel)]="p.value" (ngModelChange)="onSignatureParamChange()">
                                                </ng-template>
                                            </ng-container>
                                            <map-param-editor *ngIf="p.type == 'java.util.Map<java.lang.String, org.eclipse.rdf4j.model.Value>'" 
                                                [value]="p.value" (valueChanged)="onMapParamChange($event, p)">
                                            </map-param-editor>
                                            <list-param-editor *ngIf="p.type == 'org.eclipse.rdf4j.model.Value[]'" 
                                                [value]="p.value" (valueChanged)="onListParamChange($event, p)">
                                            </list-param-editor>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>

    </div>
    <div *ngIf="isConverterRandom()" class="card-footer">
        <div class="form-check">
            <input class="form-check-input" id="memoizeCheck" type="checkbox" [(ngModel)]="memoize" (ngModelChange)="onMemoizeChange()">
            <label class="form-check-label" for="memoizeCheck">
                {{'SHEET2RDF.CONVERTER.MEMOIZE'|translate}}
                <span class="fas fa-info-circle ml-1" [title]="'SHEET2RDF.CONVERTER.MEMOIZE_INFO'|translate">
                </span>
            </label>
        </div>
    </div>
    
</div>